Define a variable and assign it a date string value of ‘10/20/2019’.
Convert the date string to a datetime object.
Extract the month, day, and year from the datetime object.
Reformat the date string to YYYY-MM-DD.
Extract the weekday number for the datetime object.
Get the datetime of the same weekday number 6 weeks into the future.
Retrieve the number of minutes between the original datetime and the datetime for the same weekday 6 weeks in the future.
Hint: Try subtracting datetimes and then extracting the minutes from the difference.

In [2]:
from datetime import datetime as dt

In [3]:
birthday = '20191020'
converted = dt.strptime(birthday, '%Y%m%d')

print(converted)

2019-10-20 00:00:00

In [4]:
formatted = dt.strftime(converted, '%Y-%m-%d')
print(formatted)

2019-10-20

In [5]:
converted.weekday()

6

In [6]:
from datetime import timedelta

future = converted + timedelta(weeks=6)

future.weekday()

6

In [7]:
present = future - converted

present

datetime.timedelta(42)

In [9]:
present = future - converted

present.total_seconds()/60

60480.0

Use what you have learned to retrieve the number of weeks that are in years 2015 through 2020 respectively. Are they always the same? Why or why not?

In [10]:
for year in range(2015, 2021):
    weeks = (dt(year + 1, 1, 1) - dt(year, 1, 1)).total_seconds()/(60*60*24*7)
    print(f'{weeks} in {year}')

52.142857142857146 in 2015
52.285714285714285 in 2016
52.142857142857146 in 2017
52.142857142857146 in 2018
52.142857142857146 in 2019
52.285714285714285 in 2020

2016 and 2020 are different because they are both leap years