In [1]:
from datetime import datetime as dt

# Define a variable and assign it a date string value of ‘10/20/2019’.

In [2]:
date = '10/20/2019'

# Convert the date string to a datetime object.

In [3]:
converted = dt.strptime(date, '%m/%d/%Y')
print(converted)

2019-10-20 00:00:00

In [4]:
type(converted)

datetime.datetime

# Extract the month, day, and year from the datetime object.

In [5]:
converted.month

10

In [6]:
converted.day

20

In [7]:
converted.year

2019

# Reformat the date string to YYYY-MM-DD.

In [13]:
reformatted = str(dt.strftime(converted, '%Y-%m-%d'))
print(reformatted)

2019-10-20

In [15]:
reformatted = dt.strptime(reformatted, '%Y-%m-%d')
print(reformatted)

2019-10-20 00:00:00

# Extract the weekday number for the datetime object.

In [16]:
reformatted.weekday()

6

# Get the datetime of the same weekday number 6 weeks into the future.

In [18]:
from datetime import timedelta

six_weeks_from_now = reformatted + timedelta(weeks=6)
print(six_weeks_from_now)

2019-12-01 00:00:00

# Retrieve the number of minutes between the original datetime and the datetime for the same weekday 6 weeks in the future. Hint: Try subtracting datetimes and then extracting the minutes from the difference.

In [22]:
minutes = six_weeks_from_now - reformatted
min_six_weeks = minutes.days * 1440
print(min_six_weeks)

60480

# Use what you have learned to retrieve the number of weeks that are in years 2015 through 2020 respectively. Are they always the same? Why or why not?

In [36]:
total_weeks = {}
years = [2015,2016,2017,2018,2019,2020]

for y in years:
  year = dt(y,12,31)
  total_weeks[y] = year.strftime('%U')

print(total_weeks)

{2015: '52', 2016: '52', 2017: '53', 2018: '52', 2019: '52', 2020: '52'}

In [39]:
start_of_2017 = dt(2017,1,1)
start_of_2017.weekday()

6

In [40]:
start_of_2017 = dt(2017,12,31)
start_of_2017.weekday()

6

They are not the same because the week number starts on Sunday. 2017's last day of the year is Sunday which is the day that starts a new week. So that last Sunday in 2017 counts as an entire week. So that's why 2017 has 53 weeks according to the datetime python library