#Assignment- Datetime Library

https://strftime.org/

In [1]:
from datetime import datetime as dt, timedelta

Define a variable and assign it a date string value of `10/20/2019`.

In [2]:
X = '10/20/2019'

Convert the date string to a datetime object.

In [3]:
converted = dt.strptime(X, '%m/%d/%Y')

In [4]:
converted

datetime.datetime(2019, 10, 20, 0, 0)

Extract the month, day, and year from the datetime object.

In [5]:
converted.month, converted.day, converted.year

(10, 20, 2019)

Reformat the date string to YYYY-MM-DD.

In [6]:
formatted = converted.strftime('%Y-%m-%d')
# formatted = dt.strftime(converted, '%Y-%m-%d')
formatted

'2019-10-20'

Extract the weekday number for the datetime object.

In [7]:
converted.weekday()

6

In [8]:
converted.strftime('%w')

'0'

In [9]:
converted.strftime("%A")

'Sunday'

Get the datetime of the same weekday number 6 weeks into the future.

In [10]:
six_weeks = converted + timedelta(weeks=6)
six_weeks

datetime.datetime(2019, 12, 1, 0, 0)

In [11]:
six_weeks.weekday()

6

Retrieve the number of minutes between the original datetime and the datetime for the same weekday 6 weeks in the future.

Hint: Try subtracting datetimes and then extracting the minutes from the difference.

In [12]:
timedelta(weeks=6).days*24*60

60480

In [13]:
timedelta(weeks=6).total_seconds()/60

60480.0

Use what you have learned to retrieve the number of weeks that are in years 2015 through 2020 respectively. Are they always the same? Why or why not?

In [14]:
for year in range(2015,2021):
  day=31
  last_date = dt(year=year, month=12, day=day)

  while last_date.weekday() < 3:
    day -= 1
    last_date = dt(year=year, month=12, day=day)
  
  print(f'The year {year} had {last_date.isocalendar()[1]} total weeks')

The year 2015 had 53 total weeks
The year 2016 had 52 total weeks
The year 2017 had 52 total weeks
The year 2018 had 52 total weeks
The year 2019 had 52 total weeks
The year 2020 had 53 total weeks

In [15]:
for year in range(2015,2021):
  initial_date = dt(year,1,1)
  final_date = dt(year+1,1,1)
  date_diff = final_date-initial_date
  print(date_diff.days/7)

52.142857142857146
52.285714285714285
52.142857142857146
52.142857142857146
52.142857142857146
52.285714285714285

The number of weeks differ for the following reasons:

1. 365 days in a year doesn't evenly divide by 7.
2. Also, leap years contain an extra day, so 2016 and 2020 have 366 days in total.
3. ISO calendar initializes the first week of the year from the first Thursday of the year. So, if dates at the end year are in the same week as the first Thursday of the next year, these dates are included in the next year's first week.

#Lecture Notes

https://strftime.org/

In [16]:
today = dt.now()

In [17]:
today

datetime.datetime(2020, 12, 14, 16, 31, 2, 497623)

In [18]:
date_string = '2019-10-01'

In [19]:
date_converted = dt.strptime(date_string, '%Y-%m-%d')
date_converted

datetime.datetime(2019, 10, 1, 0, 0)