## Recurrent Neural Networks

In this assignment, we will learn about recurrent neural networks. We will create an RNN and learn to classify text data.

In [52]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

In [53]:
yelp = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/yelp_labeled.csv', error_bad_lines=False)

b'Skipping line 281: expected 2 fields, saw 3\nSkipping line 290: expected 2 fields, saw 3\nSkipping line 296: expected 2 fields, saw 3\nSkipping line 322: expected 2 fields, saw 3\nSkipping line 373: expected 2 fields, saw 3\nSkipping line 417: expected 2 fields, saw 3\nSkipping line 427: expected 2 fields, saw 3\nSkipping line 429: expected 2 fields, saw 3\nSkipping line 577: expected 2 fields, saw 3\nSkipping line 578: expected 2 fields, saw 3\nSkipping line 611: expected 2 fields, saw 3\nSkipping line 677: expected 2 fields, saw 3\nSkipping line 771: expected 2 fields, saw 3\nSkipping line 930: expected 2 fields, saw 3\nSkipping line 979: expected 2 fields, saw 4\nSkipping line 980: expected 2 fields, saw 3\n'

In [54]:
yelp.head()

                                                text  sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [55]:
yelp.sentiment.value_counts()

1    494
0    482
Name: sentiment, dtype: int64

We have loaded a Yelp review dataset above. A positive sentiment is classified as 1 and a negative sentiment is classified as 0.

In [56]:
from nltk.corpus import stopwords
import re
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()

def remove_stopwords(input_text):
        stopwords_list = stopwords.words('english')
        # Some words which might indicate a certain sentiment are kept via a whitelist
        whitelist = ["n't", "not", "no"]
        words = input_text.split() 
        clean_words = [word for word in words if (word not in stopwords_list or word in whitelist) and len(word) > 1] 
        return " ".join(clean_words)       

def stem_list(word_list):
    stemmed = []
    for word in word_list:
        stemmedword = stemmer.stem(word)
        stemmed.append(stemmedword)
    return stemmed

def normalize(terms):
    terms = terms.lower()
    terms = remove_stopwords(terms)
    word_delimiters = u'[\\[\\]\n.!?,;:\t\\-\\"\\(\\)\\\'\u2019\u2013 ]'
    term_list = re.split(word_delimiters, terms)
    trimmed = [x.rstrip() for x in term_list]
    stemmed = stem_list(trimmed)
    space = ' '
    normed = space.join(stemmed)
    normed = normed.replace('  ', ' ')
    return normed

In the code block above, we have functions to remove stopwords, stem, and normalize the text (remove special characters and trim white space). Apply the normalize function to every yelp review and assign the normalized text to a new column.

In [57]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [58]:
# Answer below:
yelp['normal'] = yelp.text.map(lambda x: normalize(x))
yelp

                                                  text  ...                                             normal
0                             Wow... Loved this place.  ...                                   wow  love place
1                                   Crust is not good.  ...                                    crust not good
2            Not tasty and the texture was just nasty.  ...                            not tasti textur nasti
3    Stopped by during the late May bank holiday of...  ...  stop late may bank holiday rick steve recommen...
4    The selection on the menu was great and so wer...  ...                           select menu great price
..                                                 ...  ...                                                ...
971  I think food should have flavor and texture an...  ...                     think food flavor textur lack
972                           Appetite instantly gone.  ...                            appetit instantli gone
973  Overall I was not impressed and would not go b...  ...              overal not impress would not go back
974  The whole experience was underwhelming and I t...  ...  whole experi underwhelm think we ll go ninja s...
975  Then as if I hadn't wasted enough of my life t...  ...  wast enough life pour salt wound draw time too...

[976 rows x 3 columns]

Next, use the one hot function for text encoding and encode the normalized text. Determine the vocabulary size to perform the encoding.

In [59]:
# Answer below:
from tensorflow.keras.preprocessing.text import one_hot
yelp['encode'] = [one_hot(yelp, 1000) for yelp in yelp['normal']]
yelp

                                                  text  ...                                             encode
0                             Wow... Loved this place.  ...                                     [59, 325, 481]
1                                   Crust is not good.  ...                                     [265, 36, 144]
2            Not tasty and the texture was just nasty.  ...                                [36, 268, 274, 448]
3    Stopped by during the late May bank holiday of...  ...    [68, 419, 414, 78, 102, 250, 77, 318, 325, 213]
4    The selection on the menu was great and so wer...  ...                               [318, 198, 376, 277]
..                                                 ...  ...                                                ...
971  I think food should have flavor and texture an...  ...                            [382, 78, 64, 274, 455]
972                           Appetite instantly gone.  ...                                    [497, 225, 405]
973  Overall I was not impressed and would not go b...  ...                   [295, 36, 234, 406, 36, 83, 426]
974  The whole experience was underwhelming and I t...  ...  [130, 195, 285, 382, 163, 234, 83, 338, 271, 3...
975  Then as if I hadn't wasted enough of my life t...  ...  [133, 128, 120, 54, 395, 427, 87, 238, 412, 20...

[976 rows x 4 columns]

Convert the encoded sequences into a numpy array and make sure all reviews are the same length using the `pad_sequences` function in Keras.

In [60]:
# Answer below:
from tensorflow.keras.preprocessing.sequence import pad_sequences

ind_var = pad_sequences(yelp['encode'])
ind = pd.DataFrame(ind_var)
yelp = pd.concat([yelp,ind],axis=1)
yelp = yelp.drop('encode',axis=1)

Split the data into train and test. Use 20% for test. The sentiment column should be used as the target variable.

In [83]:
# Answer below:
from sklearn.model_selection import train_test_split
y = yelp.sentiment
X = ind_var

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

Create a sequential model. The model should contain an embedding layer with input dim that is the size of the largest encoding in the vocabulary. The output dim should be 100, the input length is the number of columns in the training data. 
After the embedding layer, add a SimpleRNN layer with unit size 32, a dense layer of size 8 and a dense output layer.

In [84]:
# Answer below:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, SimpleRNN

max_words = np.max(ind_var)
model = Sequential()
model.add(Embedding(500, 100, input_length=ind_var.shape[1]))
model.add(SimpleRNN(32))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_6 (Embedding)      (None, 83, 100)           50000
_________________________________________________________________
simple_rnn_6 (SimpleRNN)     (None, 32)                4256
_________________________________________________________________
dense_12 (Dense)             (None, 8)                 264
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 9
=================================================================
Total params: 54,529
Trainable params: 54,529
Non-trainable params: 0
_________________________________________________________________

Compile using the optimizer of your choice, use crossentropy for your loss function. Fit the model using a batch size of 128 and 50 epochs

In [85]:
# Answer below:

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, batch_size=128)

Epoch 1/50
7/7 [==============================] - 1s 81ms/step - loss: 0.6919 - accuracy: 0.5390 - val_loss: 0.6965 - val_accuracy: 0.4337
Epoch 2/50
7/7 [==============================] - 0s 37ms/step - loss: 0.6666 - accuracy: 0.6373 - val_loss: 0.6978 - val_accuracy: 0.4490
Epoch 3/50
7/7 [==============================] - 0s 36ms/step - loss: 0.6341 - accuracy: 0.7135 - val_loss: 0.6901 - val_accuracy: 0.5357
Epoch 4/50
7/7 [==============================] - 0s 37ms/step - loss: 0.5764 - accuracy: 0.8275 - val_loss: 0.6898 - val_accuracy: 0.5306
Epoch 5/50
7/7 [==============================] - 0s 36ms/step - loss: 0.5103 - accuracy: 0.9016 - val_loss: 0.6821 - val_accuracy: 0.5714
Epoch 6/50
7/7 [==============================] - 0s 37ms/step - loss: 0.4449 - accuracy: 0.9235 - val_loss: 0.6830 - val_accuracy: 0.5867
Epoch 7/50
7/7 [==============================] - 0s 37ms/step - loss: 0.3796 - accuracy: 0.9236 - val_loss: 0.6944 - val_accuracy: 0.5816
Epoch 8/50
7/7 [==============================] - 0s 38ms/step - loss: 0.3180 - accuracy: 0.9533 - val_loss: 0.6803 - val_accuracy: 0.6224
Epoch 9/50
7/7 [==============================] - 0s 35ms/step - loss: 0.2623 - accuracy: 0.9608 - val_loss: 0.6922 - val_accuracy: 0.6480
Epoch 10/50
7/7 [==============================] - 0s 36ms/step - loss: 0.2029 - accuracy: 0.9778 - val_loss: 0.7015 - val_accuracy: 0.6327
Epoch 11/50
7/7 [==============================] - 0s 37ms/step - loss: 0.1801 - accuracy: 0.9777 - val_loss: 0.7121 - val_accuracy: 0.6327
Epoch 12/50
7/7 [==============================] - 0s 36ms/step - loss: 0.1417 - accuracy: 0.9857 - val_loss: 0.7253 - val_accuracy: 0.6327
Epoch 13/50
7/7 [==============================] - 1s 86ms/step - loss: 0.1194 - accuracy: 0.9872 - val_loss: 0.7638 - val_accuracy: 0.6378
Epoch 14/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0963 - accuracy: 0.9902 - val_loss: 0.7568 - val_accuracy: 0.6480
Epoch 15/50
7/7 [==============================] - 0s 36ms/step - loss: 0.0908 - accuracy: 0.9810 - val_loss: 0.8106 - val_accuracy: 0.6378
Epoch 16/50
7/7 [==============================] - 0s 36ms/step - loss: 0.0731 - accuracy: 0.9899 - val_loss: 0.8696 - val_accuracy: 0.6327
Epoch 17/50
7/7 [==============================] - 0s 36ms/step - loss: 0.0634 - accuracy: 0.9922 - val_loss: 0.8864 - val_accuracy: 0.6378
Epoch 18/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0543 - accuracy: 0.9927 - val_loss: 0.9190 - val_accuracy: 0.6122
Epoch 19/50
7/7 [==============================] - 0s 35ms/step - loss: 0.0476 - accuracy: 0.9915 - val_loss: 0.9440 - val_accuracy: 0.6173
Epoch 20/50
7/7 [==============================] - 0s 36ms/step - loss: 0.0353 - accuracy: 0.9979 - val_loss: 0.9944 - val_accuracy: 0.6327
Epoch 21/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0397 - accuracy: 0.9897 - val_loss: 1.0082 - val_accuracy: 0.6173
Epoch 22/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0318 - accuracy: 0.9979 - val_loss: 1.0197 - val_accuracy: 0.6122
Epoch 23/50
7/7 [==============================] - 0s 36ms/step - loss: 0.0298 - accuracy: 0.9977 - val_loss: 1.0438 - val_accuracy: 0.6224
Epoch 24/50
7/7 [==============================] - 0s 37ms/step - loss: 0.0235 - accuracy: 0.9988 - val_loss: 1.0990 - val_accuracy: 0.6378
Epoch 25/50
7/7 [==============================] - 0s 37ms/step - loss: 0.0263 - accuracy: 0.9960 - val_loss: 1.1114 - val_accuracy: 0.6224
Epoch 26/50
7/7 [==============================] - 0s 37ms/step - loss: 0.0215 - accuracy: 0.9983 - val_loss: 1.1261 - val_accuracy: 0.6224
Epoch 27/50
7/7 [==============================] - 0s 36ms/step - loss: 0.0208 - accuracy: 0.9951 - val_loss: 1.1395 - val_accuracy: 0.6173
Epoch 28/50
7/7 [==============================] - 0s 35ms/step - loss: 0.0152 - accuracy: 0.9988 - val_loss: 1.1624 - val_accuracy: 0.6173
Epoch 29/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0179 - accuracy: 0.9964 - val_loss: 1.1800 - val_accuracy: 0.6173
Epoch 30/50
7/7 [==============================] - 0s 37ms/step - loss: 0.0157 - accuracy: 0.9976 - val_loss: 1.1905 - val_accuracy: 0.6173
Epoch 31/50
7/7 [==============================] - 0s 35ms/step - loss: 0.0153 - accuracy: 0.9986 - val_loss: 1.2111 - val_accuracy: 0.6173
Epoch 32/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0154 - accuracy: 0.9965 - val_loss: 1.2316 - val_accuracy: 0.6173
Epoch 33/50
7/7 [==============================] - 0s 36ms/step - loss: 0.0119 - accuracy: 0.9986 - val_loss: 1.2445 - val_accuracy: 0.6173
Epoch 34/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0114 - accuracy: 0.9978 - val_loss: 1.2607 - val_accuracy: 0.6173
Epoch 35/50
7/7 [==============================] - 0s 36ms/step - loss: 0.0134 - accuracy: 0.9967 - val_loss: 1.3007 - val_accuracy: 0.6276
Epoch 36/50
7/7 [==============================] - 0s 41ms/step - loss: 0.0118 - accuracy: 0.9988 - val_loss: 1.2846 - val_accuracy: 0.6071
Epoch 37/50
7/7 [==============================] - 0s 37ms/step - loss: 0.0104 - accuracy: 0.9990 - val_loss: 1.3260 - val_accuracy: 0.6071
Epoch 38/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0115 - accuracy: 0.9981 - val_loss: 1.3766 - val_accuracy: 0.6327
Epoch 39/50
7/7 [==============================] - 0s 40ms/step - loss: 0.0106 - accuracy: 0.9981 - val_loss: 1.3914 - val_accuracy: 0.6327
Epoch 40/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0110 - accuracy: 0.9976 - val_loss: 1.3759 - val_accuracy: 0.6122
Epoch 41/50
7/7 [==============================] - 0s 40ms/step - loss: 0.0138 - accuracy: 0.9966 - val_loss: 1.4016 - val_accuracy: 0.6173
Epoch 42/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0119 - accuracy: 0.9964 - val_loss: 1.4121 - val_accuracy: 0.6173
Epoch 43/50
7/7 [==============================] - 0s 36ms/step - loss: 0.0070 - accuracy: 0.9988 - val_loss: 1.4239 - val_accuracy: 0.6224
Epoch 44/50
7/7 [==============================] - 0s 37ms/step - loss: 0.0082 - accuracy: 0.9975 - val_loss: 1.4235 - val_accuracy: 0.6224
Epoch 45/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0085 - accuracy: 0.9978 - val_loss: 1.4418 - val_accuracy: 0.6224
Epoch 46/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0086 - accuracy: 0.9981 - val_loss: 1.4375 - val_accuracy: 0.6173
Epoch 47/50
7/7 [==============================] - 0s 37ms/step - loss: 0.0105 - accuracy: 0.9960 - val_loss: 1.4420 - val_accuracy: 0.6173
Epoch 48/50
7/7 [==============================] - 0s 38ms/step - loss: 0.0088 - accuracy: 0.9981 - val_loss: 1.4812 - val_accuracy: 0.6276
Epoch 49/50
7/7 [==============================] - 0s 42ms/step - loss: 0.0095 - accuracy: 0.9970 - val_loss: 1.4778 - val_accuracy: 0.6224
Epoch 50/50
7/7 [==============================] - 0s 39ms/step - loss: 0.0079 - accuracy: 0.9990 - val_loss: 1.4800 - val_accuracy: 0.6122