## Day 29 Lecture 2 Assignment

In this assignment, we will learn about entropy and information gain in the ID3 algorithm.

In [201]:
import numpy as np
import pandas as pd

In [202]:
tennis = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/tennis_decision.csv')

In [203]:
tennis

    Day   Outlook Temp. Humidity    Wind Decision
0     1     Sunny   Hot     High    Weak       No
1     2     Sunny   Hot     High  Strong       No
2     3  Overcast   Hot     High    Weak      Yes
3     4      Rain  Mild     High    Weak      Yes
4     5      Rain  Cool   Normal    Weak      Yes
5     6      Rain  Cool   Normal  Strong       No
6     7  Overcast  Cool   Normal  Strong      Yes
7     8     Sunny  Mild     High    Weak       No
8     9     Sunny  Cool   Normal    Weak      Yes
9    10      Rain  Mild   Normal    Weak      Yes
10   11     Sunny  Mild   Normal  Strong      Yes
11   12  Overcast  Mild     High  Strong      Yes
12   13  Overcast   Hot   Normal    Weak      Yes
13   14      Rain  Mild     High  Strong       No

Write a function to compute entropy given an input of a sequence of probabilities.

In [204]:
decision = pd.get_dummies(tennis['Decision'],drop_first=True)
tennis = pd.concat([tennis.drop('Decision',axis = 1), decision], axis = 1)
tennis

    Day   Outlook Temp. Humidity    Wind  Yes
0     1     Sunny   Hot     High    Weak    0
1     2     Sunny   Hot     High  Strong    0
2     3  Overcast   Hot     High    Weak    1
3     4      Rain  Mild     High    Weak    1
4     5      Rain  Cool   Normal    Weak    1
5     6      Rain  Cool   Normal  Strong    0
6     7  Overcast  Cool   Normal  Strong    1
7     8     Sunny  Mild     High    Weak    0
8     9     Sunny  Cool   Normal    Weak    1
9    10      Rain  Mild   Normal    Weak    1
10   11     Sunny  Mild   Normal  Strong    1
11   12  Overcast  Mild     High  Strong    1
12   13  Overcast   Hot   Normal    Weak    1
13   14      Rain  Mild     High  Strong    0

In [205]:
tennis = tennis.drop('Day',axis = 1)
tennis

     Outlook Temp. Humidity    Wind  Yes
0      Sunny   Hot     High    Weak    0
1      Sunny   Hot     High  Strong    0
2   Overcast   Hot     High    Weak    1
3       Rain  Mild     High    Weak    1
4       Rain  Cool   Normal    Weak    1
5       Rain  Cool   Normal  Strong    0
6   Overcast  Cool   Normal  Strong    1
7      Sunny  Mild     High    Weak    0
8      Sunny  Cool   Normal    Weak    1
9       Rain  Mild   Normal    Weak    1
10     Sunny  Mild   Normal  Strong    1
11  Overcast  Mild     High  Strong    1
12  Overcast   Hot   Normal    Weak    1
13      Rain  Mild     High  Strong    0

In [206]:
tennis[tennis.columns[0]].unique()[0]

'Sunny'

In [207]:
def entro (df,column,types):
  count = df[df[column] == types].groupby(['Yes'])['Yes'].count()[1]
  sum = df[df[column] == types].groupby(['Yes'])['Yes'].count().sum()
  weight = count / sum
  weight2 = 1 - weight
  first_term_yes = weight * log2(1/weight)
  if (weight2 == 0):
    first_term_no = 0
  else: 
    first_term_no = weight2 * log2(1/weight2)
  yes_weight = sum / len(df)
  no_weight = 1 - yes_weight
  
  result = yes_weight * first_term_yes + first_term_no * no_weight

  return result

Aggregate the tennis decision table for each value of each column. Start with Outlook below. Compute the weighted mean of the entropy for outlook (the weighted mean of the yes decision and the no decision).

In [208]:
# answer below:

x = 0 
while (x < len(tennis[tennis.columns[0]].unique())):
  print('The entropy for {} {} is:'.format('Outlook', tennis[tennis.columns[0]].unique()[x]),
        entro(tennis, 'Outlook', tennis[tennis.columns[0]].unique()[x]))
  x = x+1
weighted_mean_outlook = 5/14 * entro(tennis, 'Outlook', 'Sunny') + 5/14 * entro(tennis, 'Outlook', 'Rain')
print('The weighted mean of the entropy for outlook is: ', weighted_mean_outlook)

The entropy for Outlook Sunny is: 0.47310502844801705
The entropy for Outlook Overcast is: 0.0
The entropy for Outlook Rain is: 0.49784556600665164
The weighted mean of the entropy for outlook is:  0.34676806944809596

Compute the weighted mean of the entropy for temperature, humidity and wind as well and decide based on these values which should be the first variable chosen for a split.

In [209]:
# answer below:
x = 0 
while (x < len(tennis[tennis.columns[1]].unique())):
  print('The entropy for {} {} is:'.format('Temp.', tennis[tennis.columns[1]].unique()[x]),
        entro(tennis, 'Temp.', tennis[tennis.columns[1]].unique()[x]))
  x = x+1
weighted_mean_temp = 4/14 * entro(tennis, 'Temp.', 'Hot') + 6/14 * entro(tennis, 'Temp.', 'Mild') + 4/14 * entro(tennis, 'Temp.', 'Cool')
print('The weighted mean of the entropy for temperature is: ', weighted_mean_temp)

The entropy for Temp. Hot is: 0.5
The entropy for Temp. Mild is: 0.46902976224816956
The entropy for Temp. Cool is: 0.4460794641311808
The weighted mean of the entropy for temperature is:  0.47132117357241

In [210]:
x = 0 
while (x < len(tennis[tennis.columns[2]].unique())):
  print('The entropy for {} {} is:'.format('Humidity', tennis[tennis.columns[2]].unique()[x]),
        entro(tennis, 'Humidity', tennis[tennis.columns[2]].unique()[x]))
  x = x+1
weighted_mean_humd = 7/14 * entro(tennis, 'Humidity', 'High') + 7/14 * entro(tennis, 'Humidity', 'Normal')
print('The weighted mean of the entropy for Humidity is: ', weighted_mean_humd)

The entropy for Humidity High is: 0.4926140680171257
The entropy for Humidity Normal is: 0.29583638929116374
The weighted mean of the entropy for Humidity is:  0.3942252286541447

In [211]:
x = 0 
while (x < len(tennis[tennis.columns[3]].unique())):
  print('The entropy for {} {} is:'.format('Wind', tennis[tennis.columns[3]].unique()[x]),
        entro(tennis, 'Wind', tennis[tennis.columns[3]].unique()[x]))
  x = x+1
weighted_mean_wind = 8/14 * entro(tennis, 'Wind', 'Weak') + 6/14 * entro(tennis, 'Wind', 'Strong')
print('The weighted mean of the entropy for wind is: ', weighted_mean_wind)

The entropy for Wind Weak is: 0.3921589282623616
The entropy for Wind Strong is: 0.5
The weighted mean of the entropy for wind is:  0.4383765304356352