## Day 29 Lecture 2 Assignment

In this assignment, we will learn about entropy and information gain in the ID3 algorithm.

In [1]:
import numpy as np
import pandas as pd

In [2]:
tennis = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/tennis_decision.csv')

In [3]:
tennis

    Day   Outlook Temp. Humidity    Wind Decision
0     1     Sunny   Hot     High    Weak       No
1     2     Sunny   Hot     High  Strong       No
2     3  Overcast   Hot     High    Weak      Yes
3     4      Rain  Mild     High    Weak      Yes
4     5      Rain  Cool   Normal    Weak      Yes
5     6      Rain  Cool   Normal  Strong       No
6     7  Overcast  Cool   Normal  Strong      Yes
7     8     Sunny  Mild     High    Weak       No
8     9     Sunny  Cool   Normal    Weak      Yes
9    10      Rain  Mild   Normal    Weak      Yes
10   11     Sunny  Mild   Normal  Strong      Yes
11   12  Overcast  Mild     High  Strong      Yes
12   13  Overcast   Hot   Normal    Weak      Yes
13   14      Rain  Mild     High  Strong       No

Write a function to compute entropy given an input of a sequence of probabilities.

In [4]:
#answer below:

from math import log2

def entropy(probs):
  total_entropy = 0
  for x in probs:
    total_entropy = total_entropy - (x * log2(x))
  return total_entropy

probs = [350/650, 150/650, 150/650]
entropy(probs)

1.4572659136233872

Aggregate the tennis decision table for each value of each column. Start with Outlook below. Compute the weighted mean of the entropy for outlook (the weighted mean of the yes decision and the no decision).

In [5]:
def weighted_entropy(column_name, df, cat1, cat2):
  probs_cat1 = []
  for x in cat1[column_name].value_counts():
    probs_cat1.append(x/cat1[column_name].value_counts().sum())

  probs_cat2 = []
  for x in cat2[column_name].value_counts():
    probs_cat2.append(x/cat2[column_name].value_counts().sum())

  entropy_cat1 = entropy(probs_cat1)
  entropy_cat2 = entropy(probs_cat2)

  weighted_entropy = ((len(cat1)/df.shape[0]) * entropy_cat1) + ((len(cat2)/df.shape[0]) * entropy_cat2)

  return weighted_entropy

In [8]:
# answer below:
yes = tennis[tennis['Decision'] == 'Yes']
no = tennis[tennis['Decision'] == 'No']
yes['Outlook'].value_counts()

function_generated_entropy = weighted_entropy('Outlook', tennis, yes, no)

probs_yes = []
for x in yes['Outlook'].value_counts():
  probs_yes.append(x/yes['Outlook'].value_counts().sum())

probs_no = []
for x in no['Outlook'].value_counts():
  probs_no.append(x/no['Outlook'].value_counts().sum())

entropy_yes = entropy(probs_yes)
entropy_no = entropy(probs_no)

calculated_entropy = ((len(yes)/tennis.shape[0]) * entropy_yes) + ((len(no)/tennis.shape[0]) * entropy_no)

print(function_generated_entropy)
print(calculated_entropy)

1.330656463077906
1.330656463077906

Compute the weighted mean of the entropy for temperature, humidity and wind as well and decide based on these values which should be the first variable chosen for a split.

In [9]:
# answer below:
outlook_entropy = weighted_entropy('Outlook', tennis, yes, no)
temp_entropy = weighted_entropy('Temp.', tennis, yes, no)
humidity_entropy = weighted_entropy('Humidity', tennis, yes, no)
wind_entropy = weighted_entropy('Wind', tennis, yes, no)

print(outlook_entropy, temp_entropy, humidity_entropy, wind_entropy)

1.330656463077906 1.5274341418038682 0.8481644986376585 0.9371011056259821