## Day 29 Lecture 2 Assignment

In this assignment, we will learn about entropy and information gain in the ID3 algorithm.

In [2]:
import numpy as np
import pandas as pd

In [3]:
tennis = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/tennis_decision.csv')

In [4]:
tennis

    Day   Outlook Temp. Humidity    Wind Decision
0     1     Sunny   Hot     High    Weak       No
1     2     Sunny   Hot     High  Strong       No
2     3  Overcast   Hot     High    Weak      Yes
3     4      Rain  Mild     High    Weak      Yes
4     5      Rain  Cool   Normal    Weak      Yes
5     6      Rain  Cool   Normal  Strong       No
6     7  Overcast  Cool   Normal  Strong      Yes
7     8     Sunny  Mild     High    Weak       No
8     9     Sunny  Cool   Normal    Weak      Yes
9    10      Rain  Mild   Normal    Weak      Yes
10   11     Sunny  Mild   Normal  Strong      Yes
11   12  Overcast  Mild     High  Strong      Yes
12   13  Overcast   Hot   Normal    Weak      Yes
13   14      Rain  Mild     High  Strong       No

Write a function to compute entropy given an input of a sequence of probabilities.

In [5]:
#answer below:

from math import log2

#def entropy(Atotal, Btotal, Ctotal, Total):
# value = -((Atotal/Total)*log2(Atotal/Total))-((Btotal/Total)*log2(Btotal/Total))-((Ctotal/Total)*log2(Ctotal/Total))
#  return value

In [6]:
#-(A/Z) * log * (A/Z) -(B/Z) * log * (B/Z) -(C/Z) * log (C/Z)

def entropy(Aprob, Bprob, Total):
  Atotal = Aprob*Total
  Btotal = Bprob*Total
  #Ctotal = Cprob*Total
  value = -((Atotal/Total)*log2(Atotal/Total))-((Btotal/Total)*log2(Btotal/Total))
  return value

In [7]:
print(entropy((450/800), (350/800), 800))

0.9886994082884974

Aggregate the tennis decision table for each value of each column. Start with Outlook below. Compute the weighted mean of the entropy for outlook (the weighted mean of the yes decision and the no decision).

In [8]:
# answer below:

#ten = tennis.groupby(['Outlook','Decision']).count()
#ten

In [9]:
#tennis.groupby(['Outlook', 'Decision']).agg({ 'Outlook':sum}) # Sum duration per group 'col2': "count", # get the count of networks 'col3': 'first' # get the first date per group }

In [21]:
groupA = pd.crosstab(tennis['Outlook'], tennis['Decision'])
groupA

Decision  No  Yes
Outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [23]:
# Hard coding weighted average for Outlook/Decision

# Can't log2(0) brings back error. Omitted 'Ovrecast/No' values. 

a1 = ((        0       -(2/5)*log2(2/5)-(3/5)*log2(3/5))*(5/14))

a2 = ((-(4/9)*log2(4/9)-(3/9)*log2(3/9)-(2/9)*log2(2/9))*(9/14))

# Weighted average of 'Outlook/Decision"
a1 + a2

1.330656463077906

Compute the weighted mean of the entropy for temperature, humidity and wind as well and decide based on these values which should be the first variable chosen for a split.

In [12]:
# answer below:

groupB = pd.crosstab(tennis['Wind'], tennis['Decision'])
groupB

Decision  No  Yes
Wind
Strong     3    3
Weak       2    6

In [24]:
# Hard coding weighted average for Wind/Decision

b1 = ((-(3/5)*log2(3/5)-(2/5)*log2(2/5))*(5/14))

b2 = ((-(3/9)*log2(3/9)-(6/9)*log2(6/9))*(9/14))

b1 + b2

0.9371011056259821

In [14]:
groupC = pd.crosstab(tennis['Temp.'], tennis['Decision'])
groupC

Decision  No  Yes
Temp.
Cool       1    3
Hot        2    2
Mild       2    4

In [25]:
# Hard coding weighted average for Temperature/Decision

c1 = ((-(1/5)*log2(1/5)-(2/5)*log2(2/5)-(2/5)*log2(2/5))*(5/14))

c2 = ((-(3/9)*log2(3/9)-(2/9)*log2(2/9)-(4/9)*log2(4/9))*(9/14))


# Weighted average of 'Temp/Decision"
c1 + c2

1.5274341418038682

In [15]:
groupD = pd.crosstab(tennis['Humidity'], tennis['Decision'])
groupD

Decision  No  Yes
Humidity
High       4    3
Normal     1    6

In [26]:
# Hard coding weighted average for Humidity/Decision

d1 = ((-(4/5)*log2(4/5)-(1/5)*log2(1/5))*(5/14))

d2 = ((-(3/9)*log2(3/9)-(6/9)*log2(6/9))*(9/14))

d1 + d2

0.8481644986376585

Humidity should be the first split.

In [ ]:
def get_weighted_entropy(overall_probs, probs):
  '''
  Returns the weighted entropy for a category given lists of probabilities

  overall_probs - a lits of probabilities of belonging to each category

  probs - a list of probabilities within each category 
  of belonging to each value of the target  
  '''
  weighted_entropy = 0
  x = 0
  for i in probs:
    entropy = get_entropy(i)
    weighted_entropy += (overall_probs[x] * entropy)
    x += 1
  return weighted_entropy

In [ ]:
outlook_overall = [4/14, 5/14, 5/14]
outlook_probs = [[4/4], [2/5, 3/5], [2/5, 3/5]]
temp_overall = [4/14, 4/14, 6/14]
temp_probs = [[3/4, 1/4], [2/4, 2/4], [4/6, 2/6]]
humidity_overall = [7/14, 7/14]
humidity_probs = [[4/7, 3/7], [6/7, 1/7]]
wind_overall = [6/14, 8/14]
wind_probs = [[3/6, 3/6], [6/8, 2/8]]

w_e_humidity = get_weighted_entropy(humidity_overall, humidity_probs)
w_e_temp = get_weighted_entropy(temp_overall, temp_probs)
w_e_outlook = get_weighted_entropy(outlook_overall, outlook_probs)
w_e_wind = get_weighted_entropy(wind_overall, wind_probs)

In [ ]:
print('Humidity: ',w_e_humidity)
print('Temp: ', w_e_temp)
print('Outlook', w_e_outlook)
print('Wind', w_e_wind)