# Descriptive Statistics Assignment

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

data_url = "http://data.insideairbnb.com/united-states/ny/new-york-city/2020-06-08/visualisations/listings.csv"

### Read the aggregated AirBnB listings of New York (using `data_url`) into a Pandas data frame.

In [ ]:
airbnb_df = pd.read_csv(data_url)
airbnb_df

### Print the data type for each column.

In [ ]:
airbnb_df.dtypes

### Generate a basic set of descriptive statistics for the numeric fields in the data set.

In [88]:
airbnb_df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.953000e+04,4.953000e+04,49530.000000,49530.000000,49530.000000,49530.000000,49530.000000,38211.000000,49530.000000,49530.000000
mean,2.295964e+07,8.509951e+07,40.729238,-73.951042,162.643872,8.191540,23.867515,1.008095,6.233030,126.666848
std,1.352683e+07,9.887597e+07,0.054674,0.047547,419.312316,21.974833,48.245823,1.345213,25.485293,142.381428
min,2.060000e+03,2.259000e+03,40.499790,-74.240840,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.085050e+07,9.269052e+06,40.689820,-73.983367,68.000000,2.000000,1.000000,0.150000,1.000000,0.000000
50%,2.233602e+07,3.800483e+07,40.723840,-73.955350,101.000000,3.000000,5.000000,0.450000,1.000000,79.000000
75%,3.557779e+07,1.373589e+08,40.762790,-73.934290,175.000000,6.000000,23.000000,1.420000,2.000000,267.000000
max,4.370336e+07,3.490826e+08,40.911690,-73.712990,10000.000000,1250.000000,746.000000,53.800000,280.000000,365.000000

### Calculate the following for each numeric field in the data set and add them to the data frame containing the basic set of descriptive statistics.

- Variance
- Mean Absolute Deviation
- Range
- Interquartile Range

In [ ]:
stats=pd.DataFrame()
stats["mean"]=airbnb_df.mean()
stats["Std.Dev"]=airbnb_df.std()
stats["Var"]=airbnb_df.var()
stats["Mean Absolute Deviation"]=airbnb_df.mad()

### Generate a basic set of descriptive statistics for the categorical fields in the data set.

In [89]:
airbnb_df.describe(include=object)

,name,host_name,neighbourhood_group,neighbourhood,room_type,last_review
count,49512,49524,49530,49530,49530,38211
unique,48247,11572,5,222,4,2077
top,Home away from home,Michael,Manhattan,Williamsburg,Entire home/apt,2020-01-01
freq,21,416,21963,3752,25716,940

### Calculate the Pearson correlation coefficients between price, minimum_nights, reviews_per_month, calculated_host_listings_count and availability_365

In [ ]:
stats.pearsonr(airbnb_df.price, airbnb_df.minimum_nights) 
#stat.pearsonr(airbnb_df.reviews_per_month, airbnb_df.calculated_host_listings_count)
#stats.pearsonr(airbnb_df.availability_365)

### Group the data by neighbourhood and calculate the mean and standard deviation of revenue for each neighbourhood.

### Create a new mimimum revenue index variable that combines the price, minimum nights, calculate host listings count into a single value for each dwelling. Then sort the data frame by that value to see which dwelling has the most financial strength.

### Group the data by neighbourhood_group and calculate the average minimum revenue index for each neighbourhood_group.