## Day 31 Lecture 2 Assignment

In this assignment, we will learn about the weighting and scaling with the K nearest neighbor algorithm. We will use the wine quality dataset loaded below and analyze the model generated for this dataset.

In [ ]:
%matplotlib inline

import math

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
wine = pd.read_csv('https://raw.githubusercontent.com/Thinkful-Ed/data-science-lectures/master/wineQualityReds.csv', index_col=0)
wine.head()

   fixed.acidity  volatile.acidity  citric.acid  ...  sulphates  alcohol  quality
1            7.4              0.70         0.00  ...       0.56      9.4        5
2            7.8              0.88         0.00  ...       0.68      9.8        5
3            7.8              0.76         0.04  ...       0.65      9.8        5
4           11.2              0.28         0.56  ...       0.58      9.8        6
5            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

Recall that we need to check for missing data.

In [ ]:
# answer below:
wine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1599 entries, 1 to 1599
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed.acidity         1599 non-null   float64
 1   volatile.acidity      1599 non-null   float64
 2   citric.acid           1599 non-null   float64
 3   residual.sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free.sulfur.dioxide   1599 non-null   float64
 6   total.sulfur.dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 162.4 KB

Convert quality to a binary variable, with the dividing line between 5 and 6.

In [ ]:
# answer below
wine['quality'] = np.where(wine['quality'] > 5, 1, 0)

In [ ]:
wine.head(5)

   fixed.acidity  volatile.acidity  citric.acid  ...  sulphates  alcohol  quality
1            7.4              0.70         0.00  ...       0.56      9.4        0
2            7.8              0.88         0.00  ...       0.68      9.8        0
3            7.8              0.76         0.04  ...       0.65      9.8        0
4           11.2              0.28         0.56  ...       0.58      9.8        1
5            7.4              0.70         0.00  ...       0.56      9.4        0

[5 rows x 12 columns]

Create a train test split with 20% of the data in the test subsample.

In [ ]:
# answer below:
X = wine.drop(columns='quality')
y = wine['quality']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= .2)

Scale only the independent variables using the minmax scaler.

In [ ]:
# answer below:
scaler = MinMaxScaler()
X_train_transformed = scaler.fit_transform(X_train)
X_test_transformed = scaler.fit_transform(X_test)

Create a KNN model with k=5 and report the accuracy scores. Then make a second model using the scaled data and compare your results.

In [ ]:
# answer below:
knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train_transformed, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_predict = knn.predict(X_test_transformed)

In [ ]:
print(f'Train: {knn.score(X_train_transformed, y_train)}')
print(f'Test: {knn.score(X_test_transformed, y_test)}')

Train: 0.8170445660672401
Test: 0.721875

When generating a KNN model, we can use the weighted model by setting `weights='distance'`. We can also write our own custom weights function.

Write a custom weight function that assigns the weight of 1/sqrt(distance) and use this function in your model. Report the accuracy score.

Hint: Use the `_get_weights` function in scikit learn as a resource. The code is <a href="https://github.com/scikit-learn/scikit-learn/blob/fdbaa58acbead5a254f2e6d597dc1ab3b947f4c6/sklearn/neighbors/base.py#L63" title="_get_weights">here</a>.

In [ ]:
def one_over_sqrt_dist(dist):
    if dist.dtype is np.dtype(object):
        for point_dist_i, point_dist in enumerate(dist):
            if hasattr(point_dist, '__contains__') and 0. in point_dist:
                dist[point_dist_i] = point_dist == 0.
            else:
                dist[point_dist_i] = 1./np.sqrt(point_dist)
    else:
        with np.errstate(divide='ignore'):
            dist = 1./np.sqrt(dist)
            
            
        inf_mask = np.isinf(dist)
        inf_row = np.any(inf_mask, axis=1)
        dist[inf_row] = inf_mask[inf_row]
        
    return dist

In [ ]:
knn2 = KNeighborsClassifier(n_neighbors=5, weights=one_over_sqrt_dist)

knn2.fit(X_train_transformed, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights=<function one_over_sqrt_dist at 0x7fe323f13f28>)

In [ ]:
print(f'Train: {knn2.score(X_train_transformed, y_train)}')
print(f'Test: {knn2.score(X_test_transformed, y_test)}')

Train: 1.0
Test: 0.721875

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test, knn2.predict(X_test_transformed)))

              precision    recall  f1-score   support

           0       0.69      0.78      0.73       157
           1       0.76      0.67      0.71       163

    accuracy                           0.72       320
   macro avg       0.73      0.72      0.72       320
weighted avg       0.73      0.72      0.72       320

In [ ]:
print(classification_report(y_train, knn2.predict(X_train_transformed)))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       587
           1       1.00      1.00      1.00       692

    accuracy                           1.00      1279
   macro avg       1.00      1.00      1.00      1279
weighted avg       1.00      1.00      1.00      1279