# Time Series Machine Learning Part 1 Assignment

In [11]:
import numpy as np
import pandas as pd
import plotly.express as px
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

### Import the Netflix stock price data set (NFLX_data.csv).

In [12]:
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Time%20Series%20Analysis/Time%20Series%20-%20Day%205/NFLX_data.csv')
df.head()

         date     open     high      low    close    volume  Name
0  2013-02-08  25.9635  26.2800  25.7157  25.8528  25649820  NFLX
1  2013-02-11  25.5685  26.0071  24.9714  25.4128  29321782  NFLX
2  2013-02-12  25.8085  26.2228  25.1014  25.4214  34388802  NFLX
3  2013-02-13  25.8428  26.6285  25.6657  26.6098  40799094  NFLX
4  2013-02-14  26.7557  27.1214  26.3844  26.7714  31968685  NFLX

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1259 non-null   object
 1   open    1259 non-null   float64
 2   high    1259 non-null   float64
 3   low     1259 non-null   float64
 4   close   1259 non-null   float64
 5   volume  1259 non-null   int64
 6   Name    1259 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 69.0+ KB

In [14]:
df['date'] = pd.to_datetime(df.date)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1259 non-null   datetime64[ns]
 1   open    1259 non-null   float64
 2   high    1259 non-null   float64
 3   low     1259 non-null   float64
 4   close   1259 non-null   float64
 5   volume  1259 non-null   int64
 6   Name    1259 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 69.0+ KB

In [15]:
df.columns = ['Date', 'Open', 'High', 'Low', 'Observed', 'Volume', 'Ticker']

df = df[['Date', 'Observed']]
df.head()
data = df.copy()

### Transform the data by shifting the series and creating features that will allow us to forecast the price 30 days into the future from 90 days of daily history.

In [16]:
history = 90
future = 30

shifts = [x + future for x in range(1, history+1)]

In [17]:
for shift in shifts:
  data[f't-{shift}'] = data['Observed'].shift(shift)

In [18]:
data.dropna(inplace=True)
data.head()

          Date  Observed     t-31     t-32  ...    t-117    t-118    t-119    t-120
120 2013-08-01   35.5885  32.6900  32.7471  ...  26.6098  25.4214  25.4128  25.8528
121 2013-08-02   35.1685  33.1871  32.6900  ...  26.7714  26.6098  25.4214  25.4128
122 2013-08-05   36.2628  31.9314  33.1871  ...  27.0731  26.7714  26.6098  25.4214
123 2013-08-06   36.5571  30.9857  31.9314  ...  28.0643  27.0731  26.7714  26.6098
124 2013-08-07   35.6014  30.8000  30.9857  ...  26.7314  28.0643  27.0731  26.7714

[5 rows x 92 columns]

### Split the data into a training set and a testing set. Make the test set size 20%.

In [19]:
data.set_index('Date', inplace=True)
x = data.drop(columns=['Observed'])
y = data['Observed']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=False)

In [20]:
x_train.head()

               t-31     t-32     t-33  ...    t-118    t-119    t-120
Date                                   ...
2013-08-01  32.6900  32.7471  30.5700  ...  25.4214  25.4128  25.8528
2013-08-02  33.1871  32.6900  32.7471  ...  26.6098  25.4214  25.4128
2013-08-05  31.9314  33.1871  32.6900  ...  26.7714  26.6098  25.4214
2013-08-06  30.9857  31.9314  33.1871  ...  27.0731  26.7714  26.6098
2013-08-07  30.8000  30.9857  31.9314  ...  28.0643  27.0731  26.7714

[5 rows x 90 columns]

### Instantiate an AdaBoost model and fit it to the training set.

In [21]:
model = AdaBoostRegressor()
model.fit(x_train, y_train)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None)

### Generate predictions for the test set.

In [22]:
predictions = model.predict(x_test)

### Evaluate the results using R-Squared, Mean Absolute Error, and Root Mean Squared Error metrics.

In [23]:
print('R-Squared', r2_score(y_test, predictions))
print('Mean Absolute Error:', mean_absolute_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, predictions)))

R-Squared -2.155540526878169
Mean Absolute Error: 42.84083288191926
Root Mean Squared Error: 51.77364981259899

### Visually examine the results by creating a scatter plot where the x axis represents the observed results and the y axis represents the predictions.

In [24]:
def iscatter(df, x, y, color=None, size=None, title=''):
    fig = px.scatter(df, x=x, y=y, color=color, size=size, 
                     title=title, template='none')
    
    fig.update_traces(marker_line_color='black', 
                  marker_line_width=1)

    fig.show()
    
results = pd.DataFrame([list(y_test), predictions], index=['Observed', 'Predicted']).T
iscatter(results, 'Observed', 'Predicted', title='Observed vs. Predicted')