# Time Series Machine Learning Part 1 Assignment

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

### Import the Netflix stock price data set (NFLX_data.csv).

In [2]:
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Time%20Series%20Analysis/Time%20Series%20-%20Day%205/NFLX_data.csv')

In [3]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1259 non-null   object
 1   open    1259 non-null   float64
 2   high    1259 non-null   float64
 3   low     1259 non-null   float64
 4   close   1259 non-null   float64
 5   volume  1259 non-null   int64
 6   Name    1259 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 69.0+ KB

         date     open     high      low    close    volume  Name
0  2013-02-08  25.9635  26.2800  25.7157  25.8528  25649820  NFLX
1  2013-02-11  25.5685  26.0071  24.9714  25.4128  29321782  NFLX
2  2013-02-12  25.8085  26.2228  25.1014  25.4214  34388802  NFLX
3  2013-02-13  25.8428  26.6285  25.6657  26.6098  40799094  NFLX
4  2013-02-14  26.7557  27.1214  26.3844  26.7714  31968685  NFLX

In [4]:
df['date'] = pd.to_datetime(df['date'])
df.columns = ['Date', 'Open', 'High', 'Low', 'Observed', 'Volume', 'Ticker']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1259 non-null   datetime64[ns]
 1   Open      1259 non-null   float64
 2   High      1259 non-null   float64
 3   Low       1259 non-null   float64
 4   Observed  1259 non-null   float64
 5   Volume    1259 non-null   int64
 6   Ticker    1259 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 69.0+ KB

### Transform the data by shifting the series and creating features that will allow us to forecast the price 30 days into the future from 90 days of daily history.

In [5]:
history = 90
future = 30

df.set_index('Date', inplace=True)
shifted = df.copy()[['Observed']]
shifted.columns=['t+0']

past_shifts = [x for x in range(1, history+1)]
future_shifts = [x for x in range(1, future)]

In [6]:
past_shifts

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [7]:
future_shifts

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [8]:
shifted.head()

                t+0
Date
2013-02-08  25.8528
2013-02-11  25.4128
2013-02-12  25.4214
2013-02-13  26.6098
2013-02-14  26.7714

In [9]:
for shift in past_shifts:
  shifted[f't-{shift}'] = shifted['t+0'].shift(shift)

In [10]:
for shift in future_shifts:
  shifted[f't+{shift}'] = shifted['t+0'].shift(-shift)

In [11]:
shifted.dropna(inplace=True)
shifted.head()

                t+0      t-1      t-2  ...     t+27     t+28     t+29
Date                                   ...
2013-06-19  33.1871  32.6900  32.7471  ...  34.9943  34.8228  34.9263
2013-06-20  31.9314  33.1871  32.6900  ...  34.8228  34.9263  35.5885
2013-06-21  30.9857  31.9314  33.1871  ...  34.9263  35.5885  35.1685
2013-06-24  30.8000  30.9857  31.9314  ...  35.5885  35.1685  36.2628
2013-06-25  30.4143  30.8000  30.9857  ...  35.1685  36.2628  36.5571

[5 rows x 120 columns]

In [13]:
x = shifted[[f't-{shift}' for shift in past_shifts]]
x.head()

                t-1      t-2      t-3  ...     t-88     t-89     t-90
Date                                   ...
2013-06-19  32.6900  32.7471  30.5700  ...  25.4214  25.4128  25.8528
2013-06-20  33.1871  32.6900  32.7471  ...  26.6098  25.4214  25.4128
2013-06-21  31.9314  33.1871  32.6900  ...  26.7714  26.6098  25.4214
2013-06-24  30.9857  31.9314  33.1871  ...  27.0731  26.7714  26.6098
2013-06-25  30.8000  30.9857  31.9314  ...  28.0643  27.0731  26.7714

[5 rows x 90 columns]

### Split the data into a training set and a testing set. Make the test set size 20%. Instantiate an AdaBoost model and fit it to the training set. Generate predictions for the test set. Evaluate the results using R-Squared, Mean Absolute Error, and Root Mean Squared Error metrics.

In [16]:
for future_shift in future_shifts:
  y = shifted[f't+{future_shift}']
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=False)

  model = AdaBoostRegressor()
  model.fit(x_train, y_train)

  predictions = model.predict(x_test)
  print(f'R^2 for t+{future_shift}:', r2_score(y_test, predictions), 
        f'MAE for t+{future_shift}:', mean_absolute_error(y_test, predictions),
        f'RMSE for t+{future_shift}:', np.sqrt(mean_squared_error(y_test, predictions)))

R^2 for t+1: -2.432642991807367 MAE for t+1: 31.407513575386115 RMSE for +1: 36.972929604552576
R^2 for t+2: -2.4698137359773047 MAE for t+2: 31.432297156684825 RMSE for +2: 37.12690699899242
R^2 for t+3: -3.4451462061288325 MAE for t+3: 37.037494618380144 RMSE for +3: 41.97024431667798
R^2 for t+4: -3.4972453208036844 MAE for t+4: 37.48774738353783 RMSE for +4: 42.285789744261024
R^2 for t+5: -3.0838173911957103 MAE for t+5: 35.57141511924491 RMSE for +5: 40.45089756774565
R^2 for t+6: -2.7899047342858636 MAE for t+6: 33.920417244391984 RMSE for +6: 39.12718557176378
R^2 for t+7: -2.622823934918431 MAE for t+7: 33.084189264649595 RMSE for +7: 38.46609964521835
R^2 for t+8: -2.210005086390399 MAE for t+8: 30.307694675284708 RMSE for +8: 36.43802096898648
R^2 for t+9: -3.1915710872755207 MAE for t+9: 36.456614594594704 RMSE for +9: 41.822854477458584
R^2 for t+10: -2.976678584772164 MAE for t+10: 35.50210542119214 RMSE for +10: 40.93444813697182
R^2 for t+11: -3.2130764191475505 MAE for t+11: 37.31005509448662 RMSE for +11: 42.43569890700154
R^2 for t+12: -2.844233903035427 MAE for t+12: 35.2286929435941 RMSE for +12: 40.88824276632357
R^2 for t+13: -3.0937333958584787 MAE for t+13: 37.00560686508887 RMSE for +13: 42.55235844028186
R^2 for t+14: -2.638039389158689 MAE for t+14: 34.488547053755916 RMSE for +14: 40.3663772765416
R^2 for t+15: -2.7045232772085375 MAE for t+15: 35.09202773409252 RMSE for +15: 41.04366824909455
R^2 for t+16: -2.74954099680709 MAE for t+16: 35.61492288837142 RMSE for +16: 41.58186783374399
R^2 for t+17: -2.679388392260648 MAE for t+17: 35.513163488431225 RMSE for +17: 41.612843090435376
R^2 for t+18: -2.644246897687011 MAE for t+18: 36.237450241407906 RMSE for +18: 42.38596923123464
R^2 for t+19: -2.5413040559826596 MAE for t+19: 36.44023150377148 RMSE for +19: 43.014866445747664
R^2 for t+20: -2.6838162760201802 MAE for t+20: 38.68893641009646 RMSE for +20: 45.35063210152066
R^2 for t+21: -2.41968672653553 MAE for t+21: 38.07801632236118 RMSE for +21: 45.17416216830182
R^2 for t+22: -2.2120057027944497 MAE for t+22: 37.75926696802375 RMSE for +22: 45.463341913977835
R^2 for t+23: -2.3258765444557192 MAE for t+23: 39.97895585748256 RMSE for +23: 47.7287717492688
R^2 for t+24: -2.1063411465553465 MAE for t+24: 38.930750774717445 RMSE for +24: 47.233782210199905
R^2 for t+25: -2.375719894866678 MAE for t+25: 42.151274893550244 RMSE for +25: 50.19436605630266
R^2 for t+26: -2.40239202900049 MAE for t+26: 43.25685438947454 RMSE for +26: 51.37635146445929
R^2 for t+27: -2.9543503172939793 MAE for t+27: 48.386964604530874 RMSE for +27: 56.07545433445834
R^2 for t+28: -2.163456571122407 MAE for t+28: 42.24565759791402 RMSE for +28: 51.02788198459928
R^2 for t+29: -2.1350773326800456 MAE for t+29: 42.72459582386976 RMSE for +29: 51.60550469884091

### Visually examine the results by creating a scatter plot where the x axis represents the observed results and the y axis represents the predictions.

In [17]:
def iscatter(df, x, y, color=None, size=None, title=''):
    fig = px.scatter(df, x=x, y=y, color=color, size=size, 
                     title=title, template='none')
    
    fig.update_traces(marker_line_color='black', 
                  marker_line_width=1)

    fig.show()

In [18]:
results = pd.DataFrame([list(y_test), predictions], index=['Observed', 'Predicted']).T
iscatter(results, 'Observed', 'Predicted', title='Observed vs. Predicted')