In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [5]:
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/lung-volume.csv')
df

     group patient    t1    t2
0        1     1-1  4226  4497
1        1     1-2  5731  5665
2        1     1-3  3912  4505
3        1     1-4  4811  6472
4        1     1-5  5128  4710
..     ...     ...   ...   ...
395      3    3-96  2819  2717
396      3    3-97  2809  2613
397      3    3-98  3338  3064
398      3    3-99  3173  3008
399      3   3-100  2309  2390

[400 rows x 4 columns]

In [7]:
#question 1
group_1 = df[df['group']==1]
group_2 = df[df['group']==2]
group_3 = df[df['group']==3]

In [10]:
print('Group 1 t1:', stats.shapiro(group_1['t1']))
print('Group 1 t2:', stats.shapiro(group_1['t2']))

print('Group 2 t1:', stats.shapiro(group_2['t1']))
print('Group 2 t2:', stats.shapiro(group_2['t2']))

print('Group 3 t1:', stats.shapiro(group_3['t1']))
print('Group 3 t2:', stats.shapiro(group_3['t2']))

print('All fits normal distribution')

Group 1 t1: ShapiroResult(statistic=0.9932351112365723, pvalue=0.4915737509727478)
Group 1 t2: ShapiroResult(statistic=0.9955824613571167, pvalue=0.8313238024711609)
Group 2 t1: ShapiroResult(statistic=0.994020402431488, pvalue=0.9413013458251953)
Group 2 t2: ShapiroResult(statistic=0.9911357164382935, pvalue=0.7556766271591187)
Group 3 t1: ShapiroResult(statistic=0.9901381731033325, pvalue=0.675767183303833)
Group 3 t2: ShapiroResult(statistic=0.9781965613365173, pvalue=0.09609080106019974)
All fits normal distribution

In [12]:
print('Group 1 t1 std:', np.std(group_1['t1']))
print('Group 1 t2 std:', np.std(group_1['t2']))

print('Group 2 t1 std:', np.std(group_2['t1']))
print('Group 2 t2 std:', np.std(group_2['t2']))

print('Group 3 t1 std:', np.std(group_3['t1']))
print('Group 3 t2 std:', np.std(group_3['t2']))

print('each group hastats.ttest_rel(group_1['t1'],group_1['t2'])s similar variability')

Group 1 t1 std: 1053.8174957624299
Group 1 t2 std: 1007.0247633375255
Group 2 t1 std: 1132.7310183799152
Group 2 t2 std: 1097.2471918396511
Group 3 t1 std: 942.3098388534421
Group 3 t2 std: 973.6588566330614

In [19]:
stats.ttest_rel(group_1['t1'],group_1['t2'])

Ttest_relResult(statistic=-0.31827677584963787, pvalue=0.7506087664956842)

In [20]:
stats.ttest_rel(group_2['t1'],group_2['t2'])

Ttest_relResult(statistic=0.32745622415118286, pvalue=0.7440142766032991)

In [21]:
stats.ttest_rel(group_3['t1'],group_3['t2'])

Ttest_relResult(statistic=0.8984773127301627, pvalue=0.37111115842334486)

In [27]:
#We do not reject null hypothesis for all 3 experiments. 
#There is no significant difference between t1 and t2 for all 3 groups

In [26]:
#question 2
tukey = pairwise_tukeyhsd(endog=df['t2'], 
                         groups =df['group'],alpha = 0.05)
tukey.summary()

In [ ]:
#There is significant difference between group 2 and 3, and group 1 and 3, 
#thus group 3 is significantly different comparing to the other 2 groups