## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [1]:
!pip install --upgrade "dask[complete]" --quiet
!pip install aiohttp --quiet

In [2]:
import dask.dataframe as dd
import numpy as np

In [3]:
census = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/acs2015_census_tract_data.csv')

In [4]:
census.head()

   CensusTract    State   County  ...  SelfEmployed  FamilyWork  Unemployment
0   1001020100  Alabama  Autauga  ...           4.6         0.0           5.4
1   1001020200  Alabama  Autauga  ...           6.1         0.0          13.3
2   1001020300  Alabama  Autauga  ...          12.3         0.0           6.2
3   1001020400  Alabama  Autauga  ...           3.1         0.0          10.8
4   1001020500  Alabama  Autauga  ...           5.3         0.0           4.2

[5 rows x 37 columns]

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [7]:
#Answer below:

census.dtypes

CensusTract          int64
State               object
County              object
TotalPop             int64
Men                  int64
Women                int64
Hispanic           float64
White              float64
Black              float64
Native             float64
Asian              float64
Pacific            float64
Citizen              int64
Income             float64
IncomeErr          float64
IncomePerCap       float64
IncomePerCapErr    float64
Poverty            float64
ChildPoverty       float64
Professional       float64
Service            float64
Office             float64
Construction       float64
Production         float64
Drive              float64
Carpool            float64
Transit            float64
Walk               float64
OtherTransp        float64
WorkAtHome         float64
MeanCommute        float64
Employed             int64
PrivateWork        float64
PublicWork         float64
SelfEmployed       float64
FamilyWork         float64
Unemployment       float64
dtype: object

How many counties have a unemployement rate above 10%?

In [19]:
#Answer below:

(census.groupby('County').mean().Unemployment > 10).sum().compute()

533

Print the number of counties in each state.

In [70]:
# Answer below:

census.melt(id_vars='State', value_vars='County').drop_duplicates().State.value_counts().compute()

Texas                   254
Georgia                 159
Virginia                133
Kentucky                120
Missouri                115
Kansas                  105
Illinois                102
North Carolina          100
Iowa                     99
Tennessee                95
Nebraska                 93
Indiana                  92
Ohio                     88
Minnesota                87
Michigan                 83
Mississippi              82
Puerto Rico              78
Oklahoma                 77
Arkansas                 75
Wisconsin                72
Florida                  67
Alabama                  67
Pennsylvania             67
South Dakota             66
Colorado                 64
Louisiana                64
New York                 62
California               58
Montana                  56
West Virginia            55
North Dakota             53
South Carolina           46
Idaho                    44
Washington               39
Oregon                   36
New Mexico               33
Alaska                   29
Utah                     29
Maryland                 24
Wyoming                  23
New Jersey               21
Nevada                   17
Maine                    16
Arizona                  15
Vermont                  14
Massachusetts            14
New Hampshire            10
Connecticut               8
Hawaii                    5
Rhode Island              5
Delaware                  3
District of Columbia      1
Name: State, dtype: int64

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [75]:
# Answer below:

census['ChildPoverty_over_20'] = (census.ChildPoverty.map(lambda x: x > 20) * 1)
census.head()

   CensusTract    State  ... Unemployment  ChildPoverty_over_20
0   1001020100  Alabama  ...          5.4                     0
1   1001020200  Alabama  ...         13.3                     1
2   1001020300  Alabama  ...          6.2                     0
3   1001020400  Alabama  ...         10.8                     0
4   1001020500  Alabama  ...          4.2                     0

[5 rows x 38 columns]

What are the top 10 most populated counties?

In [89]:
#answer below:
census.groupby('County').sum().TotalPop.nlargest(10).compute()

County
Los Angeles    10038388
Cook            5258620
Orange          5025603
Harris          4389138
Maricopa        4018143
Montgomery      3635047
Jefferson       3623682
San Diego       3223096
Clark           2852761
Kings           2746257
Name: TotalPop, dtype: int64

What is the current number of partitions?

In [90]:
#Answer below:

census.npartitions

1