## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [1]:
!pip install --upgrade "dask[complete]" --quiet
!pip install aiohttp --quiet

     |████████████████████████████████| 890kB 6.8MB/s
     |████████████████████████████████| 675kB 36.9MB/s
     |████████████████████████████████| 102kB 9.8MB/s
     |████████████████████████████████| 102kB 10.3MB/s
  Building wheel for contextvars (setup.py) ... done
  Building wheel for locket (setup.py) ... done
ERROR: distributed 2020.12.0 has requirement cloudpickle>=1.5.0, but you'll have cloudpickle 1.3.0 which is incompatible.
     |████████████████████████████████| 1.3MB 7.1MB/s
     |████████████████████████████████| 143kB 47.1MB/s
     |████████████████████████████████| 296kB 36.6MB/s
  Building wheel for idna-ssl (setup.py) ... done

In [2]:
import dask.dataframe as dd
import numpy as np

In [3]:
census = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/acs2015_census_tract_data.csv')

In [4]:
census.head()

   CensusTract    State   County  ...  SelfEmployed  FamilyWork  Unemployment
0   1001020100  Alabama  Autauga  ...           4.6         0.0           5.4
1   1001020200  Alabama  Autauga  ...           6.1         0.0          13.3
2   1001020300  Alabama  Autauga  ...          12.3         0.0           6.2
3   1001020400  Alabama  Autauga  ...           3.1         0.0          10.8
4   1001020500  Alabama  Autauga  ...           5.3         0.0           4.2

[5 rows x 37 columns]

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [46]:
#Answer below:
census.dtypes

CensusTract             int64
State                  object
County                 object
TotalPop                int64
Men                     int64
Women                   int64
Hispanic              float64
White                 float64
Black                 float64
Native                float64
Asian                 float64
Pacific               float64
Citizen                 int64
Income                float64
IncomeErr             float64
IncomePerCap          float64
IncomePerCapErr       float64
Poverty               float64
ChildPoverty          float64
Professional          float64
Service               float64
Office                float64
Construction          float64
Production            float64
Drive                 float64
Carpool               float64
Transit               float64
Walk                  float64
OtherTransp           float64
WorkAtHome            float64
MeanCommute           float64
Employed                int64
PrivateWork           float64
PublicWork            float64
SelfEmployed          float64
FamilyWork            float64
Unemployment          float64
High_Child_Poverty      int64
dtype: object

How many counties have a unemployement rate above 10%?

In [63]:
#census.distinct(key='County').compute()

In [38]:
#Answer below:
census[census['Unemployment'] > 10].County.nunique().compute()

1423

Print the number of counties in each state.

In [41]:
# Answer below:
census.groupby('State')['County'].nunique().compute()

State
Alabama                  67
Alaska                   29
Arizona                  15
Arkansas                 75
California               58
Colorado                 64
Connecticut               8
Delaware                  3
District of Columbia      1
Florida                  67
Georgia                 159
Hawaii                    5
Idaho                    44
Illinois                102
Indiana                  92
Iowa                     99
Kansas                  105
Kentucky                120
Louisiana                64
Maine                    16
Maryland                 24
Massachusetts            14
Michigan                 83
Minnesota                87
Mississippi              82
Missouri                115
Montana                  56
Nebraska                 93
Nevada                   17
New Hampshire            10
New Jersey               21
New Mexico               33
New York                 62
North Carolina          100
North Dakota             53
Ohio                     88
Oklahoma                 77
Oregon                   36
Pennsylvania             67
Puerto Rico              78
Rhode Island              5
South Carolina           46
South Dakota             66
Tennessee                95
Texas                   254
Utah                     29
Vermont                  14
Virginia                133
Washington               39
West Virginia            55
Wisconsin                72
Wyoming                  23
Name: County, dtype: int64

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [44]:
# Answer below:
#census['High_Child_Poverty'] =  np.where(census['ChildPoverty'] > 20, 1, 0)

census['High_Child_Poverty'] = census['ChildPoverty'].map(lambda x: 1 if x > 20 else 0)

What are the top 10 most populated counties?

In [72]:
#answer below:
census.groupby('County')['TotalPop'].sum().nlargest(10).compute()

County
Los Angeles    10038388
Cook            5258620
Orange          5025603
Harris          4389138
Maricopa        4018143
Montgomery      3635047
Jefferson       3623682
San Diego       3223096
Clark           2852761
Kings           2746257
Name: TotalPop, dtype: int64

What is the current number of partitions?

In [74]:
#Answer below:
census.npartitions

1