## Day 81 Lecture 1 Assignment

In this assignment, we will learn about the Dask library. We will use a json file containing the novel War and Peace loaded below and analyze the text.

In [2]:
!pip install dask[complete] --quiet 
!pip install aiohttp --quiet

     |████████████████████████████████| 102kB 4.2MB/s
     |████████████████████████████████| 675kB 6.9MB/s
     |████████████████████████████████| 102kB 5.9MB/s
  Building wheel for locket (setup.py) ... done
  Building wheel for contextvars (setup.py) ... done
ERROR: distributed 2020.12.0 has requirement cloudpickle>=1.5.0, but you'll have cloudpickle 1.3.0 which is incompatible.
ERROR: distributed 2020.12.0 has requirement dask>=2020.12.0, but you'll have dask 2.12.0 which is incompatible.
     |████████████████████████████████| 1.3MB 4.6MB/s
     |████████████████████████████████| 143kB 25.7MB/s
     |████████████████████████████████| 296kB 21.9MB/s
  Building wheel for idna-ssl (setup.py) ... done

In [13]:
import dask.dataframe as dd
import dask.bag as db
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
b = db.read_text('/content/2600-0.txt')

Above, we have loaded the novel War and Peace by Tolstoy into a Dask bag. Print the first 10 rows in the novel using the Dask bag.

In [16]:
b.take(10)

('\ufeffBOOK ONE: 1805\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'CHAPTER I\n',
 '\n',
 '“Well, Prince, so Genoa and Lucca are now just family estates of the\n',
 'Buonapartes. But I warn you, if you don’t tell me that this means war,\n')

You may notice that there are many blank rows (rows containing only `\n`) Filter these rows and print the first 10 non blank rows in the novel.

In [29]:
def remove_skips(x):
    return x == "\n"

b = b.remove(remove_skips)
b.take(10)

('\ufeffBOOK ONE: 1805\n',
 'CHAPTER I\n',
 '“Well, Prince, so Genoa and Lucca are now just family estates of the\n',
 'Buonapartes. But I warn you, if you don’t tell me that this means war,\n',
 'if you still try to defend the infamies and horrors perpetrated by that\n',
 'Antichrist—I really believe he is Antichrist—I will have nothing\n',
 'more to do with you and you are no longer my friend, no longer my\n',
 '‘faithful slave,’ as you call yourself! But how do you do? I see I\n',
 'have frightened you—sit down and tell me all the news.”\n',
 'It was in July, 1805, and the speaker was the well-known Anna Pávlovna\n')

We would like to count the frequency of all words in the novel. The first step is to remove the `\n` from the end of each string. Do this using the map function. Inside the map function write a lambda that will replace the string `\n` with `''`.

In [33]:
b = b.str.strip()
b.take(5)

('\ufeffBOOK ONE: 1805',
 'CHAPTER I',
 '“Well, Prince, so Genoa and Lucca are now just family estates of the',
 'Buonapartes. But I warn you, if you don’t tell me that this means war,',
 'if you still try to defend the infamies and horrors perpetrated by that')

Next, split each row on the space (use a lambda function inside a map). Then apply the flatten function to create a list of all words in the novel.

In [40]:
unique = b.str.split(" ").flatten()

Using the frequencies function, return the top 10 words in the novel and their frequency

In [45]:
import pandas as pd

bow = pd.DataFrame(unique.frequencies(), columns=["word", "frequency"])

In [46]:
bow.sort_values("frequency", ascending=False).head(5)

   word  frequency
17  the      31701
9   and      20559
33   to      16320
16   of      14852
91    a      10018