## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [14]:
!python -m pip install "dask[complete]" --quiet
!pip install aiohttp --quiet

In [15]:
import dask.dataframe as dd
import numpy as np

In [16]:
census = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/acs2015_census_tract_data.csv')

In [110]:
census.head(20)

    CensusTract    State   County  ...  SelfEmployed  FamilyWork  Unemployment
0    1001020100  Alabama  Autauga  ...           4.6         0.0           5.4
1    1001020200  Alabama  Autauga  ...           6.1         0.0          13.3
2    1001020300  Alabama  Autauga  ...          12.3         0.0           6.2
3    1001020400  Alabama  Autauga  ...           3.1         0.0          10.8
4    1001020500  Alabama  Autauga  ...           5.3         0.0           4.2
5    1001020600  Alabama  Autauga  ...           5.8         0.0          10.9
6    1001020700  Alabama  Autauga  ...           3.4         0.0          11.4
7    1001020801  Alabama  Autauga  ...           7.1         0.0           8.2
8    1001020802  Alabama  Autauga  ...           4.6         0.0           8.7
9    1001020900  Alabama  Autauga  ...           6.9         0.0           7.2
10   1001021000  Alabama  Autauga  ...           3.6         0.0           5.2
11   1001021100  Alabama  Autauga  ...           4.6         0.0           7.3
12   1003010100  Alabama  Baldwin  ...           4.6         0.0          10.1
13   1003010200  Alabama  Baldwin  ...           8.1         0.0           8.5
14   1003010300  Alabama  Baldwin  ...           2.4         0.8           7.7
15   1003010400  Alabama  Baldwin  ...           8.0         0.0          10.7
16   1003010500  Alabama  Baldwin  ...           6.9         0.0           7.0
17   1003010600  Alabama  Baldwin  ...           4.5         0.0           5.7
18   1003010701  Alabama  Baldwin  ...           6.4         0.9           3.3
19   1003010703  Alabama  Baldwin  ...           3.8         0.0           2.2

[20 rows x 37 columns]

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [40]:
#Answer below:
census.dtypes

CensusTract          int64
State               object
County              object
TotalPop             int64
Men                  int64
Women                int64
Hispanic           float64
White              float64
Black              float64
Native             float64
Asian              float64
Pacific            float64
Citizen              int64
Income             float64
IncomeErr          float64
IncomePerCap       float64
IncomePerCapErr    float64
Poverty            float64
ChildPoverty       float64
Professional       float64
Service            float64
Office             float64
Construction       float64
Production         float64
Drive              float64
Carpool            float64
Transit            float64
Walk               float64
OtherTransp        float64
WorkAtHome         float64
MeanCommute        float64
Employed             int64
PrivateWork        float64
PublicWork         float64
SelfEmployed       float64
FamilyWork         float64
Unemployment       float64
dtype: object

How many counties have a unemployement rate above 10%?

In [121]:
#Answer below:
census[['State', 'County']].loc[census.Unemployment > 10.0].drop_duplicates()['County'].count().compute()

2178

Print the number of counties in each state.

In [134]:
# Answer below:
census.groupby(['State', 'County']).count().reset_index()[['State','County']].groupby(['State']).count().reset_index().rename(columns={'County':'County Count'}).compute()

                   State  County Count
0                Alabama            67
1                 Alaska            29
2                Arizona            15
3               Arkansas            75
4             California            58
5               Colorado            64
6            Connecticut             8
7               Delaware             3
8   District of Columbia             1
9                Florida            67
10               Georgia           159
11                Hawaii             5
12                 Idaho            44
13              Illinois           102
14               Indiana            92
15                  Iowa            99
16                Kansas           105
17              Kentucky           120
18             Louisiana            64
19                 Maine            16
20              Maryland            24
21         Massachusetts            14
22              Michigan            83
23             Minnesota            87
24           Mississippi            82
25              Missouri           115
26               Montana            56
27              Nebraska            93
28                Nevada            17
29         New Hampshire            10
30            New Jersey            21
31            New Mexico            33
32              New York            62
33        North Carolina           100
34          North Dakota            53
35                  Ohio            88
36              Oklahoma            77
37                Oregon            36
38          Pennsylvania            67
39           Puerto Rico            78
40          Rhode Island             5
41        South Carolina            46
42          South Dakota            66
43             Tennessee            95
44                 Texas           254
45                  Utah            29
46               Vermont            14
47              Virginia           133
48            Washington            39
49         West Virginia            55
50             Wisconsin            72
51               Wyoming            23

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [155]:
# Answer below:
census['HighChildPoverty'] = census['ChildPoverty'].mask(census['ChildPoverty'] > 20, 1).where(census['ChildPoverty'] > 20, 0)

In [156]:
census.head()

   CensusTract    State   County  ...  FamilyWork  Unemployment  HighChildPoverty
0   1001020100  Alabama  Autauga  ...         0.0           5.4               0.0
1   1001020200  Alabama  Autauga  ...         0.0          13.3               1.0
2   1001020300  Alabama  Autauga  ...         0.0           6.2               0.0
3   1001020400  Alabama  Autauga  ...         0.0          10.8               0.0
4   1001020500  Alabama  Autauga  ...         0.0           4.2               0.0

[5 rows x 38 columns]

What are the top 10 most populated counties?

In [162]:
#answer below:
census.groupby(['State', 'County']).sum().reset_index()[['State','County', 'TotalPop']].compute().sort_values(by='TotalPop',ascending=False).head(10)

           State       County  TotalPop
204   California  Los Angeles  10038388
610     Illinois         Cook   5236393
2701       Texas       Harris   4356362
103      Arizona     Maricopa   4018143
222   California    San Diego   3223096
215   California       Orange   3116069
362      Florida   Miami-Dade   2639042
1851    New York        Kings   2595259
2657       Texas       Dallas   2485003
1868    New York       Queens   2301139

What is the current number of partitions?

In [163]:
#Answer below:
census.npartitions

1

#Lecture Notes

In [51]:
chicago = dd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/Current_Employee_Names__Salaries__and_Position_Titles.csv", blocksize=250000)

In [52]:
chicago

Dask DataFrame Structure:
                  Name Job Titles Department Full or Part-Time Salary or Hourly Typical Hours Annual Salary Hourly Rate
npartitions=10
                object     object     object            object           object       float64        object      object
                   ...        ...        ...               ...              ...           ...           ...         ...
...                ...        ...        ...               ...              ...           ...           ...         ...
                   ...        ...        ...               ...              ...           ...           ...         ...
                   ...        ...        ...               ...              ...           ...           ...         ...
Dask Name: from-delayed, 30 tasks

In [53]:
chicago.compute()

                      Name               Job Titles  ... Annual Salary Hourly Rate
0         ALLISON,  PAUL W               LIEUTENANT  ...    $107790.00         NaN
1          BRUNO,  KEVIN D                 SERGEANT  ...    $104628.00         NaN
2          COOPER,  JOHN E           LIEUTENANT-EMT  ...    $114324.00         NaN
3         CRESPO,  VILMA I               STAFF ASST  ...     $76932.00         NaN
4         DOLAN,  ROBERT J                 SERGEANT  ...    $111474.00         NaN
..                     ...                      ...  ...           ...         ...
283     ZYGOWICZ,  PETER J           POLICE OFFICER  ...     $90024.00         NaN
284  ZYLINSKA,  KATARZYNA            POLICE OFFICER  ...     $48078.00         NaN
285      ZYMANTAS,  MARK E           POLICE OFFICER  ...     $87006.00         NaN
286    ZYRKOWSKI,  CARLO E           POLICE OFFICER  ...     $93354.00         NaN
287   ZYSKOWSKI,  DARIUSZ   CHIEF DATA BASE ANALYST  ...    $115932.00         NaN

[32658 rows x 8 columns]

In [54]:
chicago.npartitions

10

In [56]:
chicago_idexed = chicago.set_index('Job Titles')

In [57]:
chicago_idexed.divisions

('1ST DEPUTY INSPECTOR GENERAL',
 'AVIATION SECURITY SERGEANT',
 'DATA ENTRY OPERATOR',
 'FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC',
 'FOREMAN OF CONSTRUCTION LABORERS',
 'LIEUTENANT-EMT',
 'PLUMBER',
 'POLICE OFFICER',
 'POLICE OFFICER / FLD TRNG OFFICER',
 'SANITATION LABORER',
 'ZONING PLAN EXAMINER')

In [62]:
chicago_salary = chicago[chicago['Salary or Hourly'] == 'Salary']

In [63]:
chicago_salary.head()

               Name      Job Titles  ... Annual Salary Hourly Rate
0  ALLISON,  PAUL W      LIEUTENANT  ...    $107790.00         NaN
1   BRUNO,  KEVIN D        SERGEANT  ...    $104628.00         NaN
2   COOPER,  JOHN E  LIEUTENANT-EMT  ...    $114324.00         NaN
3  CRESPO,  VILMA I      STAFF ASST  ...     $76932.00         NaN
4  DOLAN,  ROBERT J        SERGEANT  ...    $111474.00         NaN

[5 rows x 8 columns]

In [64]:
chicago_salary['Annual Salary'].head()

0    $107790.00
1    $104628.00
2    $114324.00
3     $76932.00
4    $111474.00
Name: Annual Salary, dtype: object

In [78]:
# chicago_salary['Annual Salary'].map(lambda x: x.strip('$')).astype('float).compute()
chicago_salary['Annual Salary'] = chicago_salary['Annual Salary'].str.strip('$').astype('float')

In [87]:
chicago_salary.groupby('Department').mean()['Annual Salary'].compute()

Department
ADMIN HEARNG             78912.947368
ANIMAL CONTRL            66089.684211
AVIATION                 76140.018777
BOARD OF ELECTION        56051.142857
BOARD OF ETHICS          94552.500000
BUDGET & MGMT            93925.395349
BUILDINGS                98864.833534
BUSINESS AFFAIRS         80446.425000
CITY CLERK               69762.439024
CITY COUNCIL             63577.172069
COMMUNITY DEVELOPMENT    88363.257143
CULTURAL AFFAIRS         87048.909091
DISABILITIES             82431.724138
DoIT                     99681.029703
FAMILY & SUPPORT         79013.588785
FINANCE                  73276.364662
FIRE                     97762.348662
GENERAL SERVICES         83095.528390
HEALTH                   85488.210938
HUMAN RELATIONS          93778.588235
HUMAN RESOURCES          79851.761194
INSPECTOR GEN            84030.666667
IPRA                     94429.285714
LAW                      84582.814404
MAYOR'S OFFICE           96165.512308
OEMC                     73153.778221
POLICE                   87836.025349
POLICE BOARD             86136.000000
PROCUREMENT              83278.243902
PUBLIC LIBRARY           71273.288136
STREETS & SAN            84347.775701
TRANSPORTN               89976.896061
TREASURER                88062.652174
WATER MGMNT              89894.111803
COPA                     98784.705882
LICENSE APPL COMM        80568.000000
Name: Annual Salary, dtype: float64

In [88]:
chicago_salary['Department'].value_counts().compute()

POLICE                   12941
FIRE                      4798
OEMC                       832
PUBLIC LIBRARY             708
AVIATION                   556
FINANCE                    532
HEALTH                     512
TRANSPORTN                 396
WATER MGMNT                366
LAW                        361
CITY COUNCIL               348
FAMILY & SUPPORT           321
STREETS & SAN              321
BUILDINGS                  266
COMMUNITY DEVELOPMENT      210
GENERAL SERVICES           205
BUSINESS AFFAIRS           160
BOARD OF ELECTION          112
DoIT                       101
CITY CLERK                  82
PROCUREMENT                 82
MAYOR'S OFFICE              78
HUMAN RESOURCES             67
CULTURAL AFFAIRS            66
INSPECTOR GEN               63
ANIMAL CONTRL               57
IPRA                        56
BUDGET & MGMT               43
ADMIN HEARNG                38
DISABILITIES                29
TREASURER                   23
COPA                        17
HUMAN RELATIONS             17
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64