## Day 76 Lecture 1 Assignment

In this assignment, we will learn about the Dask library. We will use a json file containing the novel War and Peace loaded below and analyze the text.

In [60]:
import dask.bag as db
import json

tolstoy = db.read_text('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/2600-0.txt')
tolstoy

dask.bag<bag-from-delayed, npartitions=1>

In [61]:
tolstoy.take(10)

('\ufeffBOOK ONE: 1805\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'CHAPTER I\n',
 '\n',
 '“Well, Prince, so Genoa and Lucca are now just family estates of the\n',
 'Buonapartes. But I warn you, if you don’t tell me that this means war,\n')

Above, we have loaded the novel War and Peace by Tolstoy into a Dask bag. Print the first 10 rows in the novel using the Dask bag.

In [62]:
#Answer below:
tolstoy.take(10)

('\ufeffBOOK ONE: 1805\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'CHAPTER I\n',
 '\n',
 '“Well, Prince, so Genoa and Lucca are now just family estates of the\n',
 'Buonapartes. But I warn you, if you don’t tell me that this means war,\n')

You may notice that there are many blank rows (rows containing only `\n`) Filter these rows and print the first 10 non blank rows in the novel.

In [63]:
#lambda x: x % 2 != 0, seq
tolstoy = tolstoy.filter(lambda x: x != '\n')
tolstoy.take(10)

('\ufeffBOOK ONE: 1805\n',
 'CHAPTER I\n',
 '“Well, Prince, so Genoa and Lucca are now just family estates of the\n',
 'Buonapartes. But I warn you, if you don’t tell me that this means war,\n',
 'if you still try to defend the infamies and horrors perpetrated by that\n',
 'Antichrist—I really believe he is Antichrist—I will have nothing\n',
 'more to do with you and you are no longer my friend, no longer my\n',
 '‘faithful slave,’ as you call yourself! But how do you do? I see I\n',
 'have frightened you—sit down and tell me all the news.”\n',
 'It was in July, 1805, and the speaker was the well-known Anna Pávlovna\n')

We would like to count the frequency of all words in the novel. The first step is to remove the `\n` from the end of each string. Do this using the map function. Inside the map function write a lambda that will replace the string `\n` with `''`.

In [64]:
#Answer below:
tolstoy = tolstoy.map(lambda x: x.replace('\n', ''))

Next, split each row on the space (use a lambda function inside a map). Then apply the flatten function to create a list of all words in the novel.

In [65]:
# Answer below:
tolstoy = tolstoy.map(lambda x: x.split(' ')).flatten()

In [66]:
tolstoy.take(10)

('\ufeffBOOK',
 'ONE:',
 '1805',
 'CHAPTER',
 'I',
 '“Well,',
 'Prince,',
 'so',
 'Genoa',
 'and')

Using the frequencies function, return the top 10 words in the novel and their frequency

In [67]:
# Answer below:
freq = tolstoy.frequencies()

In [68]:
freq = freq.to_dataframe(columns=['words', 'frequency'])

In [69]:
freq.nlargest(10, 'frequency').compute()

    words  frequency
17    the      31701
9     and      20559
33     to      16320
16     of      14852
91      a      10018
69     in       8228
42     he       7631
179   his       7630
27   that       7230
68    was       7189