## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [1]:
!pip install dask[complete] --quiet
!pip install aiohttp --quiet

In [2]:
import dask.dataframe as dd
import numpy as np

In [3]:
census = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/acs2015_census_tract_data.csv',)

In [4]:
# lazy eval
census

Dask DataFrame Structure:
              CensusTract   State  County TotalPop    Men  Women Hispanic    White    Black   Native    Asian  Pacific Citizen   Income IncomeErr IncomePerCap IncomePerCapErr  Poverty ChildPoverty Professional  Service   Office Construction Production    Drive  Carpool  Transit     Walk OtherTransp WorkAtHome MeanCommute Employed PrivateWork PublicWork SelfEmployed FamilyWork Unemployment
npartitions=1
                    int64  object  object    int64  int64  int64  float64  float64  float64  float64  float64  float64   int64  float64   float64      float64         float64  float64      float64      float64  float64  float64      float64    float64  float64  float64  float64  float64     float64    float64     float64    int64     float64    float64      float64    float64      float64
                      ...     ...     ...      ...    ...    ...      ...      ...      ...      ...      ...      ...     ...      ...       ...          ...             ...      ...          ...          ...      ...      ...          ...        ...      ...      ...      ...      ...         ...        ...         ...      ...         ...        ...          ...        ...          ...
Dask Name: from-delayed, 3 tasks

In [5]:
# hard coding this as equal to a variable would be an eager eval
census.compute()

       CensusTract        State  ... FamilyWork  Unemployment
0       1001020100      Alabama  ...        0.0           5.4
1       1001020200      Alabama  ...        0.0          13.3
2       1001020300      Alabama  ...        0.0           6.2
3       1001020400      Alabama  ...        0.0          10.8
4       1001020500      Alabama  ...        0.0           4.2
...            ...          ...  ...        ...           ...
73996  72153750501  Puerto Rico  ...        0.0          21.3
73997  72153750502  Puerto Rico  ...        0.0          22.4
73998  72153750503  Puerto Rico  ...        0.0          23.3
73999  72153750601  Puerto Rico  ...        0.0          26.7
74000  72153750602  Puerto Rico  ...        0.0          20.1

[74001 rows x 37 columns]

In [6]:
census.head()

   CensusTract    State   County  ...  SelfEmployed  FamilyWork  Unemployment
0   1001020100  Alabama  Autauga  ...           4.6         0.0           5.4
1   1001020200  Alabama  Autauga  ...           6.1         0.0          13.3
2   1001020300  Alabama  Autauga  ...          12.3         0.0           6.2
3   1001020400  Alabama  Autauga  ...           3.1         0.0          10.8
4   1001020500  Alabama  Autauga  ...           5.3         0.0           4.2

[5 rows x 37 columns]

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [7]:
# show columns
census.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [8]:
# descriptive statistics on the dataset
census.describe(include='all').compute()

         CensusTract       State  ...    FamilyWork  Unemployment
unique           NaN          52  ...           NaN           NaN
count   7.400100e+04       74001  ...  73194.000000  73199.000000
top              NaN  California  ...           NaN           NaN
freq             NaN        8057  ...           NaN           NaN
mean    2.839113e+10         NaN  ...      0.169772      9.028663
std     1.647593e+10         NaN  ...      0.458227      5.955441
min     1.001020e+09         NaN  ...      0.000000      0.000000
25%     1.303901e+10         NaN  ...      0.000000      5.100000
50%     2.804700e+10         NaN  ...      0.000000      7.700000
75%     4.200341e+10         NaN  ...      0.000000     11.400000
max     7.215375e+10         NaN  ...     26.500000    100.000000

[11 rows x 37 columns]

How many counties have a unemployement rate above 10%?

In [9]:
#Answer below:
counties = census.groupby(['State','County']).mean()
high_unemployment_county = counties[counties['Unemployment'] >= 10]
high_unemployment_county.head(10)

                    CensusTract     TotalPop  ...  FamilyWork  Unemployment
State   County                                ...
Alabama Barbour    1.005950e+09  2992.444444  ...    0.133333     15.755556
        Bullock    1.011952e+09  3559.333333  ...    0.000000     17.600000
        Butler     1.013953e+09  2261.555556  ...    0.177778     10.700000
        Calhoun    1.015096e+09  3762.838710  ...    0.078571     13.550000
        Choctaw    1.023957e+09  3348.750000  ...    0.275000     14.475000
        Clarke     1.025958e+09  2785.555556  ...    0.011111     22.066667
        Conecuh    1.035960e+09  2573.000000  ...    0.620000     20.180000
        Coosa      1.037961e+09  3675.666667  ...    0.000000     16.666667
        Covington  1.039962e+09  2706.142857  ...    0.421429     11.592857
        Dale       1.045021e+09  3561.857143  ...    0.235714     10.900000

[10 rows x 35 columns]

In [10]:
print('Number of Counties :', len(counties))
print('Number of Counties with High Unemployment : ',len(high_unemployment_county))

Number of Counties : 3220
Number of Counties with High Unemployment :  862

Print the number of counties in each state.

In [11]:
# Answer below:
census.groupby('State')['County'].nunique().compute()

State
Alabama                  67
Alaska                   29
Arizona                  15
Arkansas                 75
California               58
Colorado                 64
Connecticut               8
Delaware                  3
District of Columbia      1
Florida                  67
Georgia                 159
Hawaii                    5
Idaho                    44
Illinois                102
Indiana                  92
Iowa                     99
Kansas                  105
Kentucky                120
Louisiana                64
Maine                    16
Maryland                 24
Massachusetts            14
Michigan                 83
Minnesota                87
Mississippi              82
Missouri                115
Montana                  56
Nebraska                 93
Nevada                   17
New Hampshire            10
New Jersey               21
New Mexico               33
New York                 62
North Carolina          100
North Dakota             53
Ohio                     88
Oklahoma                 77
Oregon                   36
Pennsylvania             67
Puerto Rico              78
Rhode Island              5
South Carolina           46
South Dakota             66
Tennessee                95
Texas                   254
Utah                     29
Vermont                  14
Virginia                133
Washington               39
West Virginia            55
Wisconsin                72
Wyoming                  23
Name: County, dtype: int64

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [12]:
# Answer below:
census['HighChildPoverty'] = census['ChildPoverty'].map(lambda x: 1 if x >= 20 else 0)
census['HighChildPoverty'].value_counts().compute()

0    40711
1    33290
Name: HighChildPoverty, dtype: int64

In [13]:
census.head()

   CensusTract    State   County  ...  FamilyWork  Unemployment  HighChildPoverty
0   1001020100  Alabama  Autauga  ...         0.0           5.4                 0
1   1001020200  Alabama  Autauga  ...         0.0          13.3                 1
2   1001020300  Alabama  Autauga  ...         0.0           6.2                 0
3   1001020400  Alabama  Autauga  ...         0.0          10.8                 0
4   1001020500  Alabama  Autauga  ...         0.0           4.2                 0

[5 rows x 38 columns]

What are the top 10 most populated counties?

In [14]:
#answer below:
counties = census.groupby(['State','County']).sum().compute()
top_10_pop = counties.nlargest(10,'TotalPop')
top_10_pop[['TotalPop']].reset_index()

        State       County  TotalPop
0  California  Los Angeles  10038388
1    Illinois         Cook   5236393
2       Texas       Harris   4356362
3     Arizona     Maricopa   4018143
4  California    San Diego   3223096
5  California       Orange   3116069
6     Florida   Miami-Dade   2639042
7    New York        Kings   2595259
8       Texas       Dallas   2485003
9    New York       Queens   2301139

What is the current number of partitions?

In [15]:
#Answer below:
census.npartitions

1