## Big Data Day 2 Afternoon Assignment

In this assignment, we will learn about machine learning with Dask. We will use the market basket dataset loaded below and cluster our data.

In [1]:
!pip install distributed>=2.4.0 --quiet

!pip install dask-ml --quiet
!pip install -U ipykernel --quiet

In [2]:
import dask.dataframe as dd
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
market_basket = dd.read_csv(r'/content/drive/MyDrive/Mall_Customers.csv')

In [5]:
market_basket.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

To cluster our data, we must first examine and process it. The first step is to check for missing data. Do this in the cell below. If there is missing data, drop all rows containing missing data.

In [6]:
# Answer below:
market_basket.compute().isnull().sum().sum()

0

Next, we will get rid of the customer ID column. Drop the column and assign the resulting dataframe to a new variable.

In [7]:
# Answer below:
market_da_df = market_basket.drop(columns='CustomerID')

We will now create a dummy variable from the gender variable.

In [8]:
# Answer below:
market_da_df['Gender'] = market_da_df['Gender'].map(lambda x: 1 if x =='Male' else 0)

Since the data has different scales, we will scale all columns using min max scaling. We will write our own min max scaling function since the minmax scaler will produce numpy arrays instead of dask arrays. Recall that min max scaling requires finding the min and the max. We subtract the min from each observation and divide by the difference between the max and the min. Complete the function below.

In [9]:
# Answer below:

def dask_min_max(x):
    min_array = x.min()
    max_array = x.max()
    return (x - min_array) / (max_array - min_array)
    #Input: dask column
    #Output: dask column that has been min max scaled

Transform all columns using the scaler you wrote above.

In [10]:
# Answer below:
scaled_market_basket = dask_min_max(market_da_df)
scaled_market_basket.head(3)

   Gender       Age  Annual Income (k$)  Spending Score (1-100)
0     1.0  0.019231            0.000000                0.387755
1     1.0  0.057692            0.000000                0.816327
2     0.0  0.038462            0.008197                0.051020

Import the dask clustering function and cluster the data. Use 3 clusters and print the centroids.

In [11]:
!pip install "dask[distributed]" --upgrade

Requirement already up-to-date: dask[distributed] in /usr/local/lib/python3.6/dist-packages (2020.12.0)
Requirement already satisfied, skipping upgrade: pyyaml in /usr/local/lib/python3.6/dist-packages (from dask[distributed]) (3.13)
Requirement already satisfied, skipping upgrade: distributed>=2.0; extra == "distributed" in /usr/local/lib/python3.6/dist-packages (from dask[distributed]) (2020.12.0)
Requirement already satisfied, skipping upgrade: toolz>=0.8.2 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (0.11.1)
Requirement already satisfied, skipping upgrade: cloudpickle>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (1.6.0)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (51.1.1)
Requirement already satisfied, skipping upgrade: tblib>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (1.7.0)
Requirement already satisfied, skipping upgrade: tornado>=5; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (5.1.1)
Requirement already satisfied, skipping upgrade: psutil>=5.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (5.4.8)
Requirement already satisfied, skipping upgrade: msgpack>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (1.0.2)
Requirement already satisfied, skipping upgrade: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (2.3.0)
Requirement already satisfied, skipping upgrade: contextvars; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (2.4)
Requirement already satisfied, skipping upgrade: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (7.1.2)
Requirement already satisfied, skipping upgrade: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "distributed"->dask[distributed]) (2.0.0)
Requirement already satisfied, skipping upgrade: immutables>=0.9 in /usr/local/lib/python3.6/dist-packages (from contextvars; python_version < "3.7"->distributed>=2.0; extra == "distributed"->dask[distributed]) (0.14)
Requirement already satisfied, skipping upgrade: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=2.0; extra == "distributed"->dask[distributed]) (1.0.1)

In [12]:
!pip install -U ipykernel --quiet
!pip install aiohttp
#!pip install dask distributed --upgrade
!pip install scikit-learn==0.23.2

Requirement already satisfied: aiohttp in /usr/local/lib/python3.6/dist-packages (3.7.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (1.6.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (20.3.0)
Requirement already satisfied: chardet<4.0,>=2.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (3.0.4)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (3.7.4.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (5.1.0)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (3.0.1)
Requirement already satisfied: idna-ssl>=1.0; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp) (1.1.0)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.6/dist-packages (from yarl<2.0,>=1.0->aiohttp) (2.10)
Requirement already satisfied: scikit-learn==0.23.2 in /usr/local/lib/python3.6/dist-packages (0.23.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.23.2) (1.0.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.23.2) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.23.2) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.23.2) (1.4.1)

In [14]:
# Answer below
from dask_ml.cluster import KMeans

In [15]:
kmeans = KMeans(n_clusters=3)
kmeans.fit(scaled_market_basket)

kmeans.cluster_centers_

array([[1.        , 0.60007849, 0.38725326, 0.29321116],
       [0.        , 0.38650412, 0.36270492, 0.51557945],
       [1.        , 0.19230769, 0.38692728, 0.72553637]])