## Big Data Day 2 Afternoon Assignment

In this assignment, we will learn about machine learning with Dask. We will use the market basket dataset loaded below and cluster our data.

In [1]:
import dask.dataframe as dd
import numpy as np
import pandas as pd

In [2]:
market_basket = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/Mall_Customers.csv')

In [3]:
market_basket.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

To cluster our data, we must first examine and process it. The first step is to check for missing data. Do this in the cell below. If there is missing data, drop all rows containing missing data.

In [4]:
# Answer below:
market_basket = market_basket.dropna()

Next, we will get rid of the customer ID column. Drop the column and assign the resulting dataframe to a new variable.

In [5]:
# Answer below:
df = market_basket.drop(columns='CustomerID')

We will now create a dummy variable from the gender variable.

In [6]:
df['Gender']

Dask Series Structure:
npartitions=1
    object
       ...
Name: Gender, dtype: object
Dask Name: getitem, 4 tasks

In [7]:
# Answer below:
df = df.categorize()
df = dd.get_dummies(df, columns=['Gender'], drop_first=True)

Since the data has different scales, we will scale all columns using min max scaling. We will write our own min max scaling function since the minmax scaler will produce numpy arrays instead of dask arrays. Recall that min max scaling requires finding the min and the max. We subtract the min from each observation and divide by the difference between the max and the min. Complete the function below.

In [22]:
# Answer below:
from dask_ml.preprocessing import MinMaxScaler
import dask.array as da
def dask_min_max(x):
    #Input: dask column
    scale = MinMaxScaler()
    scaled = scale.fit_transform(x)
    #Output: dask column that has been min max scaled
    return scaled

Transform all columns using the scaler you wrote above.

In [23]:
# Answer below:
df = dask_min_max(df)

Import the dask clustering function and cluster the data. Use 3 clusters and print the centroids.

In [33]:
# Answer below
#from dask_ml.cluster import KMeans
from sklearn.cluster import KMeans
km = KMeans(n_clusters=3)


km.fit_predict(df)
km.cluster_centers_

array([[6.04567308e-01, 3.88661202e-01, 2.87840136e-01, 4.44089210e-16],
       [3.86504121e-01, 3.62704918e-01, 5.15579446e-01, 1.00000000e+00],
       [1.97115385e-01, 3.85245902e-01, 7.21173469e-01, 1.11022302e-16]])