# Interactive Time Series Visualization Assignment

In [1]:
import pandas as pd
import plotly.express as px
from ipywidgets import interact

### Load the Online Retail.xlsx Excel file into a Pandas dataframe.

In [2]:
retail_df = pd.read_excel('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Time%20Series%20Analysis/Time%20Series%20-%20Day%202/Online%20Retail.xlsx')
retail_df.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

In [4]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396034 entries, 0 to 396033
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    396034 non-null  int64
 1   InvoiceDate  396034 non-null  datetime64[ns]
 2   StockCode    396034 non-null  object
 3   Description  396034 non-null  object
 4   Quantity     396034 non-null  int64
 5   UnitPrice    396034 non-null  float64
 6   Revenue      396034 non-null  float64
 7   CustomerID   396034 non-null  int64
 8   Country      396034 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 27.2+ MB

### Create an interactive histogram to explore the distributions of daily (by date) Quantity, UnitPrice, and Revenue. Include a dropdown widget where you can switch between the three fields.

**Hint:** You will need to create a Date field and then aggregate on it. The Quantity and Revenue fields should be summed and the UnitPrice field should be averaged (mean).

In [6]:
retail_df['Date'] = retail_df.InvoiceDate.dt.date
retail_df.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Date
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,2010-12-01
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,2010-12-01

In [7]:
df_agg = retail_df.groupby('Date').agg({'Quantity':'sum', 'Revenue':'sum', 'UnitPrice':'mean'})
df_agg

            Quantity   Revenue  UnitPrice
Date
2010-12-01     24207  46219.29   3.109995
2010-12-02     31140  47283.53   3.184610
2010-12-03     11822  23576.01   3.166670
2010-12-05     16370  31315.64   2.840382
2010-12-06     16267  31014.21   2.878689
...              ...       ...        ...
2011-12-05     37609  55920.60   2.581249
2011-12-06     27798  45584.19   2.318553
2011-12-07     41080  68699.21   2.397698
2011-12-08     27536  50214.15   2.572785
2011-12-09      9578  15720.68   2.369345

[305 rows x 3 columns]

In [14]:
metrics = ['Quantity', 'UnitPrice', 'Revenue']

@interact(Metric=metrics)

def plot_hist(Metric):
    fig = px.histogram(df_agg, x=Metric)
    fig.update_traces(marker_color='lightskyblue', 
                      marker_line_color='black', marker_line_width=1)
    fig.show()

interactive(children=(Dropdown(description='Metric', options=('Quantity', 'UnitPrice', 'Revenue'), value='Quan…

### Create an interactive line chart where you can explore Quantity and Revenue by day (date) for each country. Include two dropdown widgets - one to choose between the Quantity and Revenue fields and the other to choose the Country.

In [28]:
metrics = ['Quantity', 'Revenue']
countries = retail_df.Country.unique()

@interact(Metric=metrics, Country=countries)

def plot_line_chart(Metric, Country):
    df_filtered = retail_df.loc[lambda x: x.Country == Country]
    df_agg = df_filtered.groupby('Date').sum()
    fig = px.line(df_agg, x=df_agg.index, y=Metric)
    fig.show()

interactive(children=(Dropdown(description='Metric', options=('Quantity', 'Revenue'), value='Quantity'), Dropd…

### Create an interactive scatter plot showing the relationships between daily Quantity, UnitPrice, and Revenue for the United Kingdom. Include two dropdown boxes that let you choose between the 3 fields - one for the x axis and one for the y axis of your scatter plot. Size the data points according to Revenue.

In [29]:
x_axis = ['Quantity', 'UnitPrice', 'Revenue']
y_axis = ['UnitPrice', 'Quantity', 'Revenue']

@interact(X=x_axis, Y=y_axis)

def plot_scatter(X, Y):
    df_filtered = retail_df.loc[lambda x: x.Country == 'United Kingdom']
    df_agg = df_filtered.groupby('Date').sum()
    fig = px.scatter(df_agg, x=X, y=Y, size='Revenue')
    fig.show()

interactive(children=(Dropdown(description='X', options=('Quantity', 'UnitPrice', 'Revenue'), value='Quantity'…

### Create a bar chart showing the top X products sold (by quantity) in the United Kingdom in a specific month. Use a dropdown box to select the month name and a slider to show the top X products. The range for X should be from 5 to 25. Make sure the bars are sorted in descending order according to their total quantity sold for the month.

Bonus points if you can figure out how to ensure that the month names in the dropdown appear in their correct order (January, February, March, April, etc.).

In [32]:
retail_df['Month'] = retail_df.InvoiceDate.dt.strftime('%B')
retail_df.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Date,Month
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01,December
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01,December
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01,December
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,2010-12-01,December
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,2010-12-01,December

In [57]:
months = ['January', 'February', 'March', 'April', 'May', 'June',
       'July', 'August', 'September', 'October', 'November', 'December']

df_filtered = retail_df.loc[lambda x: x.Country == 'United Kingdom']

@interact(Month=months, Top=(5,25))

def plot_bar_chart(Month, Top):
    bar_df = df_filtered.groupby('Description').sum().sort_values('Quantity', ascending=False).head(Top)
    fig = px.bar(bar_df, x='Quantity', color=bar_df.index)
    fig.update_layout(showlegend=False)
    fig.show()

interactive(children=(Dropdown(description='Month', options=('January', 'February', 'March', 'April', 'May', '…