# Interactive Time Series Visualization Assignment

In [3]:
import pandas as pd
import plotly.express as px
from ipywidgets import interact

### Load the Online Retail.xlsx Excel file into a Pandas dataframe.

In [6]:
retail = pd.read_excel('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Time%20Series%20Analysis/Time%20Series%20-%20Day%202/Online%20Retail.xlsx')
print(retail.shape)
retail.head()

(396034, 9)

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

### Create an interactive histogram to explore the distributions of daily (by date) Quantity, UnitPrice, and Revenue. Include a dropdown widget where you can switch between the three fields.

**Hint:** You will need to create a Date field and then aggregate on it. The Quantity and Revenue fields should be summed and the UnitPrice field should be averaged (mean).

In [7]:
#create date column
retail['Date'] = retail['InvoiceDate'].dt.date

In [8]:
hist_price = retail.groupby('Date').agg({'Quantity':'sum', 
                                         'Revenue':'sum', 
                                         'UnitPrice':'mean'}).reset_index()
hist_price

           Date  Quantity   Revenue  UnitPrice
0    2010-12-01     24207  46219.29   3.109995
1    2010-12-02     31140  47283.53   3.184610
2    2010-12-03     11822  23576.01   3.166670
3    2010-12-05     16370  31315.64   2.840382
4    2010-12-06     16267  31014.21   2.878689
..          ...       ...       ...        ...
300  2011-12-05     37609  55920.60   2.581249
301  2011-12-06     27798  45584.19   2.318553
302  2011-12-07     41080  68699.21   2.397698
303  2011-12-08     27536  50214.15   2.572785
304  2011-12-09      9578  15720.68   2.369345

[305 rows x 4 columns]

In [9]:
#interactive histogram def
def ihistogram(df, field, bins=None, title=''):
    fig = px.histogram(df, x=field, title=title, nbins=bins,
                       template='none').update(layout=dict(title=dict(x=0.5)))

    fig.update_yaxes(title_text='Number of Records')
    fig.update_traces(marker_color='lightskyblue',
                      marker_line_color='black', 
                      marker_line_width=1)

    fig.show()

In [12]:
selection = ['Quantity', 'Revenue', 'UnitPrice']

@interact(Metric=selection)

def plot_hist(Metric):
    ihistogram(hist_price, Metric, bins=50, title='Daily Retail ' + Metric + ' Distribution')

interactive(children=(Dropdown(description='Metric', options=('Quantity', 'Revenue', 'UnitPrice'), value='Quan…

### Create an interactive line chart where you can explore Quantity and Revenue by day (date) for each country. Include two dropdown widgets - one to choose between the Quantity and Revenue fields and the other to choose the Country.

In [13]:
def ilinechart(df, x, y, groups=None, title=''):
    fig = px.line(df, x=x, y=y, color=groups, title=title, 
                  template='none')
    fig.show()

In [16]:
metrics = ['Quantity', 'Revenue']
countries = retail['Country'].unique()

@interact(Metric=metrics, Country=countries)

def line_plot(Metric, Country):
    filtered = retail.loc[lambda x: x.Country == Country]
    grouped = filtered.groupby(['Date'], as_index=False).sum()
    ilinechart(grouped, 'Date', Metric, title='Daily Retail ' + Metric + ' by ' + Country)

interactive(children=(Dropdown(description='Metric', options=('Quantity', 'Revenue'), value='Quantity'), Dropd…

### Create an interactive scatter plot showing the relationships between daily Quantity, UnitPrice, and Revenue for the United Kingdom. Include two dropdown boxes that let you choose between the 3 fields - one for the x axis and one for the y axis of your scatter plot. Size the data points according to Revenue.

In [17]:
def iscatter(df, x, y, color=None, size=None, title=''):
    fig = px.scatter(df, x=x, y=y, color=color, size=size, 
                     title=title, template='none')

    fig.update_traces(marker_line_color='black', 
                  marker_line_width=1)

    fig.show()

In [18]:
x_axis = ['Quantity', 'Revenue', 'UnitPrice']
y_axis = ['Quantity', 'Revenue', 'UnitPrice']

@interact(X=x_axis, Y=y_axis)

def scat_plot(X, Y):
    filtered = retail.loc[lambda x: x.Country == 'United Kingdom']
    grouped = filtered.groupby(['Date'], as_index=False).sum()
    iscatter(grouped, X, Y, size='Revenue', title='UK Daily Retail ' + X + ' by ' + Y)

interactive(children=(Dropdown(description='X', options=('Quantity', 'Revenue', 'UnitPrice'), value='Quantity'…

### Create a bar chart showing the top X products sold (by quantity) in the United Kingdom in a specific month. Use a dropdown box to select the month name and a slider to show the top X products. The range for X should be from 5 to 25. Make sure the bars are sorted in descending order according to their total quantity sold for the month.

Bonus points if you can figure out how to ensure that the month names in the dropdown appear in their correct order (January, February, March, April, etc.).

In [76]:
def ibarchart(df, x, y, color=None, order=None, title=''):
    fig = px.bar(df, x=x, y=y, color=color, title=title, template='none')

    fig.update_traces(marker_line_color='black', 
                      marker_line_width=1)
    
    fig.update_layout(xaxis={'categoryorder':'array', 
                             'categoryarray': order})
    
    fig.show()

In [54]:
#extract month
retail['Month'] = retail['InvoiceDate'].dt.strftime('%B')
retail['Month_num'] = retail['InvoiceDate'].dt.month
retail.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Date,Month,Month_num
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01,December,12
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01,December,12
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01,December,12
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,2010-12-01,December,12
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,2010-12-01,December,12

In [79]:
#ordered
months = retail['Month'].unique()

#top range = 5-25
@interact(Month=months, Top_Products=(5,25))

def plot_bar(Month, Top_Products):
    filtered = retail.loc[(lambda x: (x.Country == 'United Kingdom') &  (x.Month == Month))]
    grouped = filtered.groupby(['Month','Description'], as_index=False).agg(
        {'Quantity':'sum'}).sort_values(['Month','Quantity'], ascending=[True,False]).head(Top_Products)
    ibarchart(grouped, 'Description', 'Quantity', 'Description',
              title=f'UK Top {Top_Products} product sold by quantity in {Month}')

interactive(children=(Dropdown(description='Month', options=('December', 'January', 'February', 'March', 'Apri…