## Loss Functions

In this assignment, we will learn about loss functions. We will use a create a neural network and measure the model's performance using different loss functions.

In [1]:
import numpy as np
import pandas as pd

from keras.models import Sequential
from keras.layers import Dense

pd.set_option('display.max_rows', 100)

In [2]:
housing = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/housing.csv')

In [3]:
housing.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

We will use the dataset above to predict housing prices using various features about each house. Our first step is to check for missing data.

In [16]:
# Answer below:
missing_pct = (housing.isnull().sum() / housing.isnull().count()) #> 0.3
missing_pct.sort_values(ascending=False).head(6)

PoolQC         0.995205
MiscFeature    0.963014
Alley          0.937671
Fence          0.807534
FireplaceQu    0.472603
LotFrontage    0.177397
dtype: float64

Remove columns that contain more than 30% of missing data. After removing those columns, remove the rows that contain at least one observation that is missing.

In [20]:
# Answer below:
col_thresh = len(housing) * .7
print(housing.shape)
clean_housing = housing.dropna(thresh=col_thresh, axis=1).dropna(axis=0)
print(clean_housing.shape)

(1460, 81)
(1094, 76)

There are some categorical variables that contain numeric data and some that do not. Print the type of each column to first see whether there is an issue with misclassification of column type.

In [53]:
clean_housing.describe(include='all')

                 Id   MSSubClass MSZoning  ...  SaleType  SaleCondition      SalePrice
count   1094.000000  1094.000000     1094  ...      1094           1094    1094.000000
unique          NaN          NaN        5  ...         9              6            NaN
top             NaN          NaN       RL  ...        WD         Normal            NaN
freq            NaN          NaN      850  ...       928            880            NaN
mean     727.375686    56.128885      NaN  ...       NaN            NaN  187033.263254
std      420.955488    41.976345      NaN  ...       NaN            NaN   83165.332151
min        1.000000    20.000000      NaN  ...       NaN            NaN   35311.000000
25%      366.500000    20.000000      NaN  ...       NaN            NaN  132500.000000
50%      723.500000    50.000000      NaN  ...       NaN            NaN  165750.000000
75%     1093.750000    70.000000      NaN  ...       NaN            NaN  221000.000000
max     1460.000000   190.000000      NaN  ...       NaN            NaN  755000.000000

[11 rows x 76 columns]

We see that month sold and year sold are not variables that describe a feature of the house. While they do have relevance if we create a model containing a time series element, we will not include them here. Drop these columns. Also, remove the id column

In [55]:
# Answer below
clean_housing_df = clean_housing.drop(columns=['Id', 'MoSold', 'YrSold'])

Using the information about the column types, identify all the variables that will be converted into dummy variables. Include at least one numeric variable that you think should be converted as well.

In [61]:
to_be_encoded = ['OverallQual', 'OverallCond']

Convert the columns you selected above into dummy variables

In [62]:
# Answer below:
print(clean_housing_df.shape)
num_dummies = pd.get_dummies(clean_housing_df, columns=to_be_encoded, drop_first=True)
print(num_dummies.shape)
dummied_df = pd.get_dummies(num_dummies,drop_first=True)
print(dummied_df.shape)

(1094, 73)
(1094, 86)
(1094, 233)

Split the data into train and test with 20% of data in test.

In [63]:
# Answer below
from sklearn.model_selection import train_test_split

X = dummied_df.drop(columns=['SalePrice'])
y = dummied_df.SalePrice

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [65]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Create a model with 5 layers. The first layer should be a dense layer that takes in the input, the last layer should be of size 1. You determine the remaining layer sizes.

Use a linear activation for the output layer.

In [70]:
# Answer below
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

def build_ANN_model(loss, optimizer, metrics):
  model = Sequential()

  model.add(Dense(80, input_dim=X_train_scaled.shape[1], activation='relu'))
  model.add(Dense(60, activation='relu'))
  model.add(Dense(40, activation='relu'))
  model.add(Dense(20, activation='relu'))
  model.add(Dense(1, activation='linear'))

  model.compile(loss=loss, optimizer= optimizer, metrics=metrics)
  model.fit(X_train, y_train, epochs=200, batch_size=100, validation_data=(X_test_scaled, y_test), verbose=0)
  print(model.evaluate(X_test, y_test)[1])

Compile the model with the RMSprop optimizer and mean square error loss. Use the MSE as a metric. Set batch size to 100 and epochs to 200. Fit the model and report the results.

In [71]:
# Answer below:
build_ANN_model('mse', 'RMSprop', 'mse')

7/7 [==============================] - 0s 2ms/step - loss: 1732889600.0000 - mse: 1732889600.0000
1732889600.0

Next, do the same but with mean absolute error loss. Use both MSE and MAE as metrics. Compare the results.

In [72]:
# Answer below:
build_ANN_model('mae', 'RMSprop', ['mse', 'mae'])

7/7 [==============================] - 0s 2ms/step - loss: 26656.0508 - mse: 1573649280.0000 - mae: 26656.0508
1573649280.0

Finally, try your model using mean squared logarithmic error. Compare the results.

In [73]:
# Answer below:
build_ANN_model('msle', 'RMSprop', ['mse', 'mae'])

7/7 [==============================] - 0s 2ms/step - loss: 0.0390 - mse: 1926609920.0000 - mae: 30288.1270
1926609920.0