## Day 82 Lecture 1 Assignment

In this assignment, we will learn about activation functions. We will create a neural network and measure the model's performance using different activations.

In [2]:
import numpy as np
import pandas as pd

We will import the famous titanic dataset below and produce a neural network that will predict the chance of survival for a passenger.

In [3]:
titanic = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/titanic.csv')

In [4]:
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

We'll perform some feature engineering

Let's start by keeping only the columns we'd like to use for our analysis. Keep only the columns: Survived, Pclass, Sex, SibSp, Parch, and Embarked

In [5]:
# Answer below:
df = titanic[['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']]
df.head(2)

   Survived  Pclass     Sex  SibSp  Parch Embarked
0         0       3    male      1      0        S
1         1       1  female      1      0        C

Now examine how many rows contain missing data. Given how much missing data we have, should we remove the column with the most missing data, or remove all rows containing missing data? Do what you think is best.

In [6]:
# Answer below: 
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Embarked    2
dtype: int64

In [8]:
df.dropna(inplace=True)
df.isnull().sum()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

Now we'll create a one hot encoding of the variables Pclass, sex, and Embarked

In [12]:
# Answer below:
df = pd.get_dummies(data=df, columns=['Pclass', 'Sex', 'Embarked'], drop_first=True)
df.head()

   Survived  SibSp  Parch  Pclass_2  Pclass_3  Sex_male  Embarked_Q  Embarked_S
0         0      1      0         0         1         1           0           1
1         1      1      0         0         0         0           0           0
2         1      0      0         0         1         0           0           1
3         1      1      0         0         0         0           0           1
4         0      0      0         0         1         1           0           1

Split the data into train and test. 20% of the data should be set aside for testing. Use Survived as your target variable.

In [13]:
# Answer below
from sklearn.model_selection import train_test_split
X = df.drop(columns=['Survived'])
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

At this point, we are ready to create a model. Import `Sequential` and `Dense` from Keras

In [15]:
# Answer below:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Create a model with 5 layers. The first layer should be a dense layer that receives the input, the last layer should be of size 1. You determine the remaining layer sizes.

Use a tanh activation for the output layer.

In [43]:
# Answer below
model = Sequential()
model.add(Dense(32, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation='tanh'))

Compile the model using the adam optimizer, binary crossentropy loss, and the accuracy metric.

Fit the model using a batch size of 80 over 200 epochs.

In [44]:
# Answer below:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=20, batch_size=16, validation_data=(X_test, y_test))

Epoch 1/20
45/45 [==============================] - 1s 5ms/step - loss: 0.8980 - accuracy: 0.6027 - val_loss: 0.6592 - val_accuracy: 0.6236
Epoch 2/20
45/45 [==============================] - 0s 2ms/step - loss: 0.6621 - accuracy: 0.6129 - val_loss: 0.5806 - val_accuracy: 0.7079
Epoch 3/20
45/45 [==============================] - 0s 2ms/step - loss: 0.5501 - accuracy: 0.7113 - val_loss: 0.5435 - val_accuracy: 0.7247
Epoch 4/20
45/45 [==============================] - 0s 2ms/step - loss: 0.5485 - accuracy: 0.7207 - val_loss: 0.4998 - val_accuracy: 0.7978
Epoch 5/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4888 - accuracy: 0.8024 - val_loss: 0.4717 - val_accuracy: 0.8034
Epoch 6/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4751 - accuracy: 0.7937 - val_loss: 0.4684 - val_accuracy: 0.7978
Epoch 7/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4490 - accuracy: 0.7961 - val_loss: 0.4619 - val_accuracy: 0.8090
Epoch 8/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4551 - accuracy: 0.8061 - val_loss: 0.4558 - val_accuracy: 0.8034
Epoch 9/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4087 - accuracy: 0.8413 - val_loss: 0.5268 - val_accuracy: 0.7978
Epoch 10/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4339 - accuracy: 0.8358 - val_loss: 0.4669 - val_accuracy: 0.8034
Epoch 11/20
45/45 [==============================] - 0s 6ms/step - loss: 0.4233 - accuracy: 0.8072 - val_loss: 0.5451 - val_accuracy: 0.7978
Epoch 12/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4511 - accuracy: 0.8095 - val_loss: 0.5178 - val_accuracy: 0.8090
Epoch 13/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4372 - accuracy: 0.8131 - val_loss: 0.5211 - val_accuracy: 0.8090
Epoch 14/20
45/45 [==============================] - 0s 3ms/step - loss: 0.4628 - accuracy: 0.8235 - val_loss: 0.5600 - val_accuracy: 0.6629
Epoch 15/20
45/45 [==============================] - 0s 2ms/step - loss: 0.5986 - accuracy: 0.6770 - val_loss: 0.5223 - val_accuracy: 0.7079
Epoch 16/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4612 - accuracy: 0.7519 - val_loss: 0.4845 - val_accuracy: 0.8090
Epoch 17/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4508 - accuracy: 0.8194 - val_loss: 0.4551 - val_accuracy: 0.8090
Epoch 18/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4593 - accuracy: 0.7922 - val_loss: 0.4505 - val_accuracy: 0.8090
Epoch 19/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4464 - accuracy: 0.8033 - val_loss: 0.4486 - val_accuracy: 0.8090
Epoch 20/20
45/45 [==============================] - 0s 2ms/step - loss: 0.3931 - accuracy: 0.8389 - val_loss: 0.4656 - val_accuracy: 0.8034

Redefine the model using a sigmoid activation for the last layer. What is the difference in accuracy.

In [45]:
# Answer below
model = Sequential()
model.add(Dense(32, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [46]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=20, batch_size=16, validation_data=(X_test, y_test))

Epoch 1/20
45/45 [==============================] - 1s 6ms/step - loss: 0.6744 - accuracy: 0.5583 - val_loss: 0.6216 - val_accuracy: 0.6124
Epoch 2/20
45/45 [==============================] - 0s 2ms/step - loss: 0.6113 - accuracy: 0.6290 - val_loss: 0.5482 - val_accuracy: 0.7247
Epoch 3/20
45/45 [==============================] - 0s 2ms/step - loss: 0.5616 - accuracy: 0.7249 - val_loss: 0.4957 - val_accuracy: 0.7921
Epoch 4/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4868 - accuracy: 0.7929 - val_loss: 0.4726 - val_accuracy: 0.8090
Epoch 5/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4932 - accuracy: 0.7937 - val_loss: 0.4608 - val_accuracy: 0.8034
Epoch 6/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4638 - accuracy: 0.7957 - val_loss: 0.4590 - val_accuracy: 0.8090
Epoch 7/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4390 - accuracy: 0.7885 - val_loss: 0.4560 - val_accuracy: 0.8034
Epoch 8/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4067 - accuracy: 0.8311 - val_loss: 0.4509 - val_accuracy: 0.8034
Epoch 9/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4408 - accuracy: 0.8014 - val_loss: 0.4588 - val_accuracy: 0.7978
Epoch 10/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4293 - accuracy: 0.8019 - val_loss: 0.4588 - val_accuracy: 0.7978
Epoch 11/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4386 - accuracy: 0.7973 - val_loss: 0.4543 - val_accuracy: 0.8090
Epoch 12/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.8067 - val_loss: 0.4532 - val_accuracy: 0.8034
Epoch 13/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4059 - accuracy: 0.8243 - val_loss: 0.4670 - val_accuracy: 0.8034
Epoch 14/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4176 - accuracy: 0.8208 - val_loss: 0.4598 - val_accuracy: 0.8034
Epoch 15/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4401 - accuracy: 0.8081 - val_loss: 0.4583 - val_accuracy: 0.7978
Epoch 16/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4374 - accuracy: 0.7940 - val_loss: 0.4594 - val_accuracy: 0.7978
Epoch 17/20
45/45 [==============================] - 0s 2ms/step - loss: 0.3755 - accuracy: 0.8363 - val_loss: 0.4720 - val_accuracy: 0.7865
Epoch 18/20
45/45 [==============================] - 0s 2ms/step - loss: 0.4045 - accuracy: 0.8195 - val_loss: 0.4644 - val_accuracy: 0.7921
Epoch 19/20
45/45 [==============================] - 0s 2ms/step - loss: 0.3960 - accuracy: 0.8321 - val_loss: 0.4718 - val_accuracy: 0.7921
Epoch 20/20
45/45 [==============================] - 0s 2ms/step - loss: 0.3780 - accuracy: 0.8383 - val_loss: 0.4705 - val_accuracy: 0.7921

In [ ]:
# the accuracy slightly increased but only by about 1%