## Loss Functions

In this assignment, we will learn about loss functions. We will use a create a neural network and measure the model's performance using different loss functions.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from keras.models import Sequential
from keras.layers import Dense

pd.set_option('display.max_rows', 100)

In [2]:
housing = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/housing.csv')

In [3]:
housing.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [4]:
housing.shape

(1460, 81)

We will use the dataset above to predict housing prices using various features about each house. Our first step is to check for missing data.

In [5]:
# check for nulls
housing.isnull().sum().sort_values(ascending=False)

PoolQC           1453
MiscFeature      1406
Alley            1369
Fence            1179
FireplaceQu       690
LotFrontage       259
GarageCond         81
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageQual         81
BsmtExposure       38
BsmtFinType2       38
BsmtFinType1       37
BsmtCond           37
BsmtQual           37
MasVnrArea          8
MasVnrType          8
Electrical          1
Utilities           0
YearRemodAdd        0
MSSubClass          0
Foundation          0
ExterCond           0
ExterQual           0
Exterior2nd         0
Exterior1st         0
RoofMatl            0
RoofStyle           0
YearBuilt           0
LotConfig           0
OverallCond         0
OverallQual         0
HouseStyle          0
BldgType            0
Condition2          0
BsmtFinSF1          0
MSZoning            0
LotArea             0
Street              0
Condition1          0
Neighborhood        0
LotShape            0
LandContour         0
LandSlope           0
SalePrice           0
HeatingQC           0
BsmtFinSF2          0
EnclosedPorch       0
Fireplaces          0
GarageCars          0
GarageArea          0
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
3SsnPorch           0
BsmtUnfSF           0
ScreenPorch         0
PoolArea            0
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
Functional          0
TotRmsAbvGrd        0
KitchenQual         0
KitchenAbvGr        0
BedroomAbvGr        0
HalfBath            0
FullBath            0
BsmtHalfBath        0
BsmtFullBath        0
GrLivArea           0
LowQualFinSF        0
2ndFlrSF            0
1stFlrSF            0
CentralAir          0
SaleCondition       0
Heating             0
TotalBsmtSF         0
Id                  0
dtype: int64

Remove columns that contain more than 30% of missing data. After removing those columns, remove the rows that contain at least one observation that is missing.

In [6]:
# function to calculate percentage of missing values by column
def missingness_summary(df,sort,print_log=True,):
  percentage_null = df.isnull().sum()*100/df.isnull().count()
  if sort == 'ascending':
    return percentage_null.sort_values()
  elif sort == 'descending':
    return percentage_null.sort_values(ascending=False)
  else: 
    return percentage_null

In [7]:
missingness_summary(housing,'descending')

PoolQC           99.520548
MiscFeature      96.301370
Alley            93.767123
Fence            80.753425
FireplaceQu      47.260274
LotFrontage      17.739726
GarageCond        5.547945
GarageType        5.547945
GarageYrBlt       5.547945
GarageFinish      5.547945
GarageQual        5.547945
BsmtExposure      2.602740
BsmtFinType2      2.602740
BsmtFinType1      2.534247
BsmtCond          2.534247
BsmtQual          2.534247
MasVnrArea        0.547945
MasVnrType        0.547945
Electrical        0.068493
Utilities         0.000000
YearRemodAdd      0.000000
MSSubClass        0.000000
Foundation        0.000000
ExterCond         0.000000
ExterQual         0.000000
Exterior2nd       0.000000
Exterior1st       0.000000
RoofMatl          0.000000
RoofStyle         0.000000
YearBuilt         0.000000
LotConfig         0.000000
OverallCond       0.000000
OverallQual       0.000000
HouseStyle        0.000000
BldgType          0.000000
Condition2        0.000000
BsmtFinSF1        0.000000
MSZoning          0.000000
LotArea           0.000000
Street            0.000000
Condition1        0.000000
Neighborhood      0.000000
LotShape          0.000000
LandContour       0.000000
LandSlope         0.000000
SalePrice         0.000000
HeatingQC         0.000000
BsmtFinSF2        0.000000
EnclosedPorch     0.000000
Fireplaces        0.000000
GarageCars        0.000000
GarageArea        0.000000
PavedDrive        0.000000
WoodDeckSF        0.000000
OpenPorchSF       0.000000
3SsnPorch         0.000000
BsmtUnfSF         0.000000
ScreenPorch       0.000000
PoolArea          0.000000
MiscVal           0.000000
MoSold            0.000000
YrSold            0.000000
SaleType          0.000000
Functional        0.000000
TotRmsAbvGrd      0.000000
KitchenQual       0.000000
KitchenAbvGr      0.000000
BedroomAbvGr      0.000000
HalfBath          0.000000
FullBath          0.000000
BsmtHalfBath      0.000000
BsmtFullBath      0.000000
GrLivArea         0.000000
LowQualFinSF      0.000000
2ndFlrSF          0.000000
1stFlrSF          0.000000
CentralAir        0.000000
SaleCondition     0.000000
Heating           0.000000
TotalBsmtSF       0.000000
Id                0.000000
dtype: float64

In [8]:
# drop columns with more than 30% missing values
missing_30_plus = ['PoolQC','MiscFeature','Alley','Fence','FireplaceQu']
housing2 = housing.drop(missing_30_plus, axis=1)

# drop remaining rows with nulls
housing3 = housing2.dropna()

# check for nulls
housing3.isnull().sum().sort_values(ascending=False)

SalePrice        0
ExterCond        0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterQual        0
Foundation       0
SaleCondition    0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinSF1       0
BsmtFinType2     0
BsmtFinSF2       0
YearRemodAdd     0
YearBuilt        0
OverallCond      0
OverallQual      0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
BsmtUnfSF        0
TotalBsmtSF      0
Heating          0
GarageYrBlt      0
GarageCars       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
GarageFinish     0
GarageType       0
HeatingQC        0
Fireplaces       0
CentralAir       0
Electrical       0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Id               0
dtype: int64

In [9]:
housing3.shape

(1094, 76)

There are some categorical variables that contain numeric data and some that do not. Print the type of each column to first see whether there is an issue with misclassification of column type.

In [10]:
# identify potential categorical columns by making a loop for unique values in numeric columns
for col in housing3.columns:
    if housing3[col].dtypes != 'O': 
        print(f'{col} unique values: {housing3[col].nunique()}')

Id unique values: 1094
MSSubClass unique values: 15
LotFrontage unique values: 107
LotArea unique values: 806
OverallQual unique values: 9
OverallCond unique values: 8
YearBuilt unique values: 109
YearRemodAdd unique values: 61
MasVnrArea unique values: 279
BsmtFinSF1 unique values: 523
BsmtFinSF2 unique values: 107
BsmtUnfSF unique values: 677
TotalBsmtSF unique values: 621
1stFlrSF unique values: 650
2ndFlrSF unique values: 346
LowQualFinSF unique values: 15
GrLivArea unique values: 720
BsmtFullBath unique values: 3
BsmtHalfBath unique values: 3
FullBath unique values: 4
HalfBath unique values: 3
BedroomAbvGr unique values: 7
KitchenAbvGr unique values: 3
TotRmsAbvGrd unique values: 10
Fireplaces unique values: 4
GarageYrBlt unique values: 97
GarageCars unique values: 4
GarageArea unique values: 394
WoodDeckSF unique values: 221
OpenPorchSF unique values: 176
EnclosedPorch unique values: 98
3SsnPorch unique values: 16
ScreenPorch unique values: 63
PoolArea unique values: 7
MiscVal unique values: 17
MoSold unique values: 12
YrSold unique values: 5
SalePrice unique values: 560

In [11]:
housing3['PoolArea'].value_counts()

0      1088
648       1
576       1
555       1
519       1
512       1
480       1
Name: PoolArea, dtype: int64

In [12]:
housing3['FullBath'].value_counts()

2    586
1    476
3     26
0      6
Name: FullBath, dtype: int64

In [13]:
housing3['KitchenAbvGr'].value_counts()

1    1058
2      35
3       1
Name: KitchenAbvGr, dtype: int64

We see that month sold and year sold are not variables that describe a feature of the house. While they do have relevance if we create a model containing a time series element, we will not include them here. Drop these columns. Also, remove the id column

In [14]:
# drop Id, month sold, and year sold columns
housing4 = housing3.drop(['Id','MoSold','YrSold'],axis=1)

Using the information about the column types, identify all the variables that will be converted into dummy variables. Include at least one numeric variable that you think should be converted as well.

In [15]:
# put categorical coulmns into one list
object_columns = housing4.select_dtypes(include='O').columns
categorical_numeric = housing4[['OverallQual','OverallCond']].columns
categorical_columns = categorical_numeric.append(object_columns)
categorical_columns

Index(['OverallQual', 'OverallCond', 'MSZoning', 'Street', 'LotShape',
       'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual',
       'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir',
       'Electrical', 'KitchenQual', 'Functional', 'GarageType', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition'],
      dtype='object')

In [31]:
categorical_columns[6]

'Utilities'

Convert the columns you selected above into dummy variables

In [16]:
# add dummy variables
housing5 = pd.get_dummies(housing4,columns=categorical_columns,drop_first=True)

housing5.head()

   MSSubClass  LotFrontage  ...  SaleCondition_Normal  SaleCondition_Partial
0          60         65.0  ...                     1                      0
1          20         80.0  ...                     1                      0
2          60         68.0  ...                     1                      0
3          70         60.0  ...                     0                      0
4          60         84.0  ...                     1                      0

[5 rows x 233 columns]

Split the data into train and test with 20% of data in test.

In [17]:
from sklearn.model_selection import train_test_split

# define X and y
X = housing5.drop('SalePrice', axis=1)
y = housing5['SalePrice']

# test/train split our data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Create a model with 5 layers. The first layer should be a dense layer that takes in the input, the last layer should be of size 1. You determine the remaining layer sizes.

Use a linear activation for the output layer.

In [121]:
# build model function

def build_model(metrics='mse',loss='mse',optimizer='RMSprop',epochs=200):
  # instantiate model
  model = Sequential()
  # first layer
  model.add(Dense(80, input_dim=X_train.shape[1] ,activation='relu'))
  # second layer
  model.add(Dense(60 ,activation='relu'))
  # third layer
  model.add(Dense(60 ,activation='relu'))
  # fourth layer
  model.add(Dense(60 ,activation='relu'))
  # fifth layer/output layer with tanh activation
  model.add(Dense(1 ,activation='linear'))

  # compile model
  model.compile(optimizer=optimizer, loss=loss, 
              metrics=[metrics])
  # fit model and save to history
  history = model.fit(X_train_scaled, y_train, validation_data=(X_test_scaled, y_test), batch_size=100, epochs=epochs, verbose=0)
  # dataframe with epoch history
  model_df = pd.DataFrame(history.history)
  last_index = epochs - 1
  results = pd.DataFrame(model_df.iloc[last_index])
  results.columns = ['Results']
  print(results)

Compile the model with the RMSprop optimizer and mean square error loss. Use the MSE as a metric. Set batch size to 100 and epochs to 200. Fit the model and report the results.

In [122]:
# mse model
build_model('mse')

              Results
loss      730939200.0
mse       730939200.0
val_loss  934936128.0
val_mse   934936128.0

Next, do the same but with mean absolute error loss. Use both MSE and MAE as metrics. Compare the results.

In [123]:
# mse & mae model
build_model(['mse','mae'])

               Results
loss      7.750362e+08
mse       7.750362e+08
mae       1.617417e+04
val_loss  9.435434e+08
val_mse   9.435434e+08
val_mae   1.808426e+04

Finally, try your model using mean squared logarithmic error. Compare the results.

In [124]:
# lsme model
build_model('msle')

               Results
loss      6.954932e+08
msle      1.420424e-02
val_loss  9.117855e+08
val_msle  1.962543e-02

The lsme model was the model with the lowest error of the 3 models. The mae model had the 2nd lowest error, while mse model has the highest error rates.