# SQL in Python Assignment

In [4]:
import pandas as pd
from sqlalchemy import *

### Connect to the personal database you created yesterday.
Remember the way the credentials work:
```
user = 'postgres' # Replace with your user, if different
pwd = 'pAsSwOrD' # Replace with your password
host = 'localhost'
port = '5432'
db = 'postgres' # Replace with your database name, if different
```

In [16]:
user = 'dsbc_student'
pw = '7*.8G9QH21'
host = '142.93.121.174'
port = '5432'
db = 'fueleconomy'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    user, pw, host, port, db))

### Obtain a list of tables that are in the database.

In [17]:
engine.table_names()

['vehicles', 'common']

### Obtain a list of all the fields that are in the vehicles table along with the data type of each.

In [20]:
meta = MetaData()
vehicles = Table('vehicles', meta, autoload=True, autoload_with=engine)
fields = [(c.name, c.type) for c in vehicles.columns]
fields_df = pd.DataFrame(fields, columns =['Name', 'Type'])
fields_df

     Name      Type
0      id   INTEGER
1    make   VARCHAR
2   model   VARCHAR
3    year   INTEGER
4   class   VARCHAR
5   trans   VARCHAR
6   drive   VARCHAR
7     cyl  SMALLINT
8   displ      REAL
9    fuel   VARCHAR
10    hwy  SMALLINT
11    cty  SMALLINT

### Write a SELECT query to retrieve all records from the database and load them into a Pandas data frame.

In [22]:
sql = """
SELECT * FROM vehicles;
"""
results = pd.read_sql_query(sql, con=engine, index_col='id')
results

,make,model,year,class,trans,drive,cyl,displ,fuel,hwy,cty
id,,,,,,,,,,,
27550,AM General,DJ Po Vehicle 2WD,1984,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,4.0,2.5,Regular,17,18
28426,AM General,DJ Po Vehicle 2WD,1984,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,4.0,2.5,Regular,17,18
27549,AM General,FJ8c Post Office,1984,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,6.0,4.2,Regular,13,13
28425,AM General,FJ8c Post Office,1984,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,6.0,4.2,Regular,13,13
1032,AM General,Post Office DJ5 2WD,1985,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,4.0,2.5,Regular,17,16
...,...,...,...,...,...,...,...,...,...,...,...
33305,smart,fortwo electric drive convertible,2013,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,93,122
34393,smart,fortwo electric drive convertible,2014,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,93,122
31065,smart,fortwo electric drive coupe,2011,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,79,94
33306,smart,fortwo electric drive coupe,2013,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,93,122
34394,smart,fortwo electric drive coupe,2014,Two Seaters,Automatic (A1),Rear-Wheel Drive,NaN,NaN,Electricity,93,122

### Create a table that contains all Audi vehicles with a city fuel efficiency greater than 18.
 Table creation not possible on the thinkful server, but see below for the code to do this

In [23]:
sql = """
CREATE TABLE IF NOT EXISTS audi AS
SELECT * FROM vehicles
WHERE make = 'Audi' AND cty > 18;
"""
results = pd.read_sql_query(sql, con=engine, index_col='id')
results

,make,model,year,class,trans,drive,cyl,displ,fuel,hwy,cty
id,,,,,,,,,,,
2963,Audi,4000,1987,Subcompact Cars,Automatic 3-spd,Front-Wheel Drive,4,1.8,Regular,24,21
2964,Audi,4000,1987,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,4,1.8,Regular,28,22
1749,Audi,4000 S,1986,Subcompact Cars,Automatic 3-spd,Front-Wheel Drive,4,1.8,Regular,24,21
1750,Audi,4000 S,1986,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,4,1.8,Regular,28,22
53,Audi,4000s,1985,Subcompact Cars,Automatic 3-spd,Front-Wheel Drive,4,1.8,Regular,24,21
...,...,...,...,...,...,...,...,...,...,...,...
33613,Audi,TT Roadster quattro,2014,Two Seaters,Auto(AM-S6),All-Wheel Drive,4,2.0,Premium,31,22
34663,Audi,TT Roadster quattro,2015,Two Seaters,Auto(AM-S6),All-Wheel Drive,4,2.0,Premium,31,22
32410,Audi,allroad quattro,2013,Small Station Wagons,Automatic (S8),All-Wheel Drive,4,2.0,Premium,27,20
33178,Audi,allroad quattro,2013,Small Station Wagons,Automatic (S8),All-Wheel Drive,4,2.0,Premium or E85,27,20
33855,Audi,allroad quattro,2014,Small Station Wagons,Automatic (S8),All-Wheel Drive,4,2.0,Premium or E85,27,20

### Delete all records from the temp table you just created.
    Not possible on the thinkful server but here is how you would do it

In [ ]:
delete = "DELETE FROM audi;"

engine.execute(delete)

### Insert records from the vehicles table back into the table you created where the make is Audi and the city fuel efficiency is greater than 20.
    Not possible on the thinkful server, but here is how you would do it

In [ ]:
insert = """
INSERT INTO audi
SELECT * from vehicles
WHERE make='audi' and cty > 20;
"""

engine.execute(insert)

### Update the drive field of the records in the table you created to change any "4-Wheel or All-Wheel Drive" values to "All-Wheel Drive."
    Not possible on the thinkful server, but here is how you would do it
[-]

In [ ]:
update = """
UPDATE audi
set drive = 'All-Wheel Drive'
Where drive = '4-Wheel or All-Wheel Drive'
"""

engine.execute(update)

### Write a for loop that iterates over the list of makes provided below, selects the top 10 vehicles with the highest city fuel efficiency for each make, and then concatenates all the results together into a single Pandas data frame.

In [24]:
makes = ['Ford', 'Chevrolet', 'Toyota', 'Honda']

In [34]:
topCars = pd.DataFrame()
topCarSQLFront = "SELECT * from vehicles WHERE make = '"
topCarSQLEnd = "' ORDER BY cty DESC LIMIT 10"
for x in makes:
    sql = topCarSQLFront + x + topCarSQLEnd
    results = pd.read_sql_query(sql, con=engine, index_col='id')
    topCars = topCars.append(results)
topCars

,make,model,year,class,trans,drive,cyl,displ,fuel,hwy,cty
id,,,,,,,,,,,
33024,Ford,Focus Electric,2013,Compact Cars,Automatic (A1),Front-Wheel Drive,NaN,NaN,Electricity,99,110
34130,Ford,Focus Electric,2014,Compact Cars,Automatic (A1),Front-Wheel Drive,NaN,NaN,Electricity,99,110
32278,Ford,Focus BEV FWD,2012,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,NaN,NaN,Electricity,99,110
30965,Ford,Ranger Pickup 2WD,2001,Standard Pickup Trucks 2WD,Automatic (A1),2-Wheel Drive,NaN,NaN,Electricity,54,62
30966,Ford,Ranger Pickup 2WD,2000,Standard Pickup Trucks 2WD,Automatic (A1),2-Wheel Drive,NaN,NaN,Electricity,54,62
30971,Ford,Ranger Pickup 2WD,1999,Standard Pickup Trucks 2WD,Automatic (A1),2-Wheel Drive,NaN,NaN,Electricity,54,62
30967,Ford,Ranger Pickup 2WD,2000,Standard Pickup Trucks 2WD,Automatic (A1),2-Wheel Drive,NaN,NaN,Electricity,52,59
30972,Ford,Ranger Pickup 2WD,1999,Standard Pickup Trucks 2WD,Automatic (A1),2-Wheel Drive,NaN,NaN,Electricity,44,50
33083,Ford,Fusion Hybrid FWD,2013,Midsize Cars,Automatic (variable gear ratios),Front-Wheel Drive,4.0,2.0,Regular,47,47
34312,Ford,Fusion Hybrid FWD,2014,Midsize Cars,Automatic (variable gear ratios),Front-Wheel Drive,4.0,2.0,Regular,47,47
33640,Chevrolet,Spark EV,2014,Subcompact Cars,Automatic (A1),Front-Wheel Drive,NaN,NaN,Electricity,109,128
30976,Chevrolet,S10 Electric,1998,Small Pickup Trucks 2WD,Automatic (A1),2-Wheel Drive,NaN,NaN,Electricity,58,52
1730,Chevrolet,Sprint ER,1986,Minicompact Cars,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,53,44
4161,Chevrolet,Sprint Metro,1988,Minicompact Cars,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,51,44
2935,Chevrolet,Sprint ER,1987,Minicompact Cars,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,51,44
37,Chevrolet,Sprint,1985,Minicompact Cars,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,47,39
28977,Chevrolet,Sprint,1993,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,44,38
6466,Chevrolet,Sprint,1990,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,45,38
8644,Chevrolet,Sprint,1992,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,44,38
5336,Chevrolet,Sprint,1989,Subcompact Cars,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,45,38
18290,Toyota,RAV4 EV,2002,Sport Utility Vehicle - 2WD,,2-Wheel Drive,NaN,NaN,Electricity,69,87
19296,Toyota,RAV4 EV,2003,Sport Utility Vehicle - 2WD,,2-Wheel Drive,NaN,NaN,Electricity,69,87
16424,Toyota,RAV4 EV,2000,Sport Utility Vehicle - 2WD,,2-Wheel Drive,NaN,NaN,Electricity,64,81
17328,Toyota,RAV4 EV,2001,Sport Utility Vehicle - 2WD,,2-Wheel Drive,NaN,NaN,Electricity,64,81
33397,Toyota,RAV4 EV,2013,Small Sport Utility Vehicle 2WD,Automatic (variable gear ratios),Front-Wheel Drive,NaN,NaN,Electricity,74,78
33308,Toyota,RAV4 EV,2012,Sport Utility Vehicle - 2WD,Automatic (variable gear ratios),Front-Wheel Drive,NaN,NaN,Electricity,74,78
34425,Toyota,RAV4 EV,2014,Small Sport Utility Vehicle 2WD,Automatic (variable gear ratios),Front-Wheel Drive,NaN,NaN,Electricity,74,78
32183,Toyota,Prius c,2012,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,4.0,1.5,Regular,46,53
34639,Toyota,Prius c,2014,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,4.0,1.5,Regular,46,53
33315,Toyota,Prius c,2013,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,4.0,1.5,Regular,46,53
33265,Honda,Fit EV,2013,Small Station Wagons,Automatic (A1),Front-Wheel Drive,NaN,NaN,Electricity,105,132
33905,Honda,Fit EV,2014,Small Station Wagons,Automatic (A1),Front-Wheel Drive,NaN,NaN,Electricity,105,132
34395,Honda,Accord Hybrid,2014,Midsize Cars,Automatic (variable gear ratios),Front-Wheel Drive,4.0,2.0,Regular,45,50
15606,Honda,Insight,2000,Two Seaters,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,61,49
18313,Honda,Insight,2003,Two Seaters,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,59,48
19357,Honda,Insight,2004,Two Seaters,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,58,48
17355,Honda,Insight,2002,Two Seaters,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,59,48
20479,Honda,Insight,2005,Two Seaters,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,58,48
16447,Honda,Insight,2001,Two Seaters,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,60,48
21632,Honda,Insight,2006,Two Seaters,Manual 5-spd,Front-Wheel Drive,3.0,1.0,Regular,58,48