## Day 46 Lecture 1 Assignment

In this assignment, we will calculate a distance matrix for geographical Starbucks data and use it to identify locations that are close together and far apart. We will perform clustering on this dataset later on.

We will be using the "haversine" package to compute geographical distance. It can be pip installed.

In [1]:
!pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/f4/52/a13286844780c7b1740edbbee8a8f0524e2a6d51c068b59dda39a6a119f5/haversine-2.3.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.3.0

In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from haversine import haversine

Below is a convenience function for calculating geographical distance matrices using lat-long data.

In [40]:
def geo_sim_matrix(df, col_name = 'Coordinates'):
    """
    A function that computes a geographical distance matrix (in miles).
    Each row in the dataframe should correspond to one location.
    In addition, the dataframe must have a column containing the lat-long of each location as a tuple (i.e. (lat, long)).
    
    Parameters:
        df (pandas dataframe): an nxm dataframe containing the locations to compute similarities between.
        col (string): the name of the column containing the lat-long tuples.
        
    Returns:
        distance (pandas dataframe): an nxn distance matrix between the geographical coordinates of each location.
    """
    
    df = df.copy()
    df.reset_index(inplace=True)
    haver_vec = np.vectorize(haversine, otypes=[np.float32])
    distance = df.groupby('index').apply(lambda x: pd.Series(haver_vec(df[col_name], x[col_name])))
    distance = distance / 1.609344  # converts to miles
    distance.columns = distance.index
    
    return distance

This dataset contains the latitude and longitude (as well as several other details we will not be using) of every Starbucks in the world as of February 2017. Each row consists of the following features, which are generally self-explanatory:

- Brand
- Store Number
- Store Name
- Ownership Type
- Street Address
- City
- State/Province
- Country
- Postcode
- Phone Number
- Timezone
- Longitude
- Latitude

Load in the dataset.

In [10]:
# answer goes here
starbucks = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/starbucks_locations.csv')
starbucks.head()

       Brand  Store Number  ... Longitude Latitude
0  Starbucks  47370-257954  ...      1.53    42.51
1  Starbucks  22331-212325  ...     55.47    25.42
2  Starbucks  47089-256771  ...     55.47    25.39
3  Starbucks  22126-218024  ...     54.38    24.48
4  Starbucks  17127-178586  ...     54.54    24.51

[5 rows x 13 columns]

Begin by narrowing down the dataset to a specific geographic area of interest. Since we will need to manually compute a distance matrix, which will be on the order of $n^{2}$ in terms of size, we would recommend choosing an area with 3000 or less locations. In this example, we will use Hawaii, which has about 100 locations; for reference, California has about 2800 locations. Feel free to choose a different region that is of more interest to you, if desired.

Subset the dataframe to only include records for Starbucks locations in Hawaii.

In [15]:
# answer goes here
starbucks2 = starbucks.loc[starbucks['State/Province'] == 'HI']
starbucks2

           Brand  Store Number  ... Longitude Latitude
17202  Starbucks   21034-73360  ...   -157.93    21.38
17203  Starbucks   21053-99755  ...   -157.93    21.37
17204  Starbucks   21006-10033  ...   -157.94    21.38
17205  Starbucks   21005-10034  ...   -157.94    21.39
17206  Starbucks  21063-101700  ...   -157.95    21.39
...          ...           ...  ...       ...      ...
17296  Starbucks  70063-139304  ...   -156.44    20.69
17297  Starbucks  19214-196545  ...   -156.49    20.89
17298  Starbucks   21044-88761  ...   -158.01    21.40
17299  Starbucks   21061-99913  ...   -158.00    21.43
17300  Starbucks   21051-96335  ...   -158.03    21.39

[99 rows x 13 columns]

The haversine package takes tuples with 2 numeric elements and interprets them as lat-long to calculate distance, so add a new column called "Coordinates" that converts the lat and long in each row into a tuple. In other words, the last two columns of the dataframe should initially look like this:

**Latitude, Longitude**  
39.14, -121.64  
34.13, -116.40  
...

After adding the new column, the last three columns should look like this:

**Latitude, Longitude, Coordinates**  
39.14, -121.64,   (39.14, -121.64)  
34.13, -116.40,   (34.13, -116.40)  
...

In [18]:
# answer goes here
starbucks3 = starbucks2.copy()
starbucks3['Coordinates'] = list(zip(starbucks3.Longitude, starbucks3.Latitude))
starbucks3.head()

           Brand  Store Number  ... Latitude       Coordinates
17202  Starbucks   21034-73360  ...    21.38  (-157.93, 21.38)
17203  Starbucks   21053-99755  ...    21.37  (-157.93, 21.37)
17204  Starbucks   21006-10033  ...    21.38  (-157.94, 21.38)
17205  Starbucks   21005-10034  ...    21.39  (-157.94, 21.39)
17206  Starbucks  21063-101700  ...    21.39  (-157.95, 21.39)

[5 rows x 14 columns]

Calculate the distance matrix using the starter code/function geo_sim_matrix() provided earlier in the notebook. It assumes the column containing the coordinates for each location is called "Coordinates". Examine the docstring for more details.

Note: the latitude and longitudes provided only go out to two decimal places, which limits the resolution of the distance calculations to about 0.5 miles. Distances that are very small may not be accurately represented here (e.g. several instances of "0 distance" for distinct Starbucks locations in very close proximity).

In [41]:
# answer goes here
distance_mat = geo_sim_matrix(starbucks3, col_name = 'Coordinates')
distance_mat

index       17202       17203       17204  ...       17298       17299       17300
index                                      ...
17202    0.000000    0.640306    0.690934  ...    5.673964    5.800602    6.938969
17203    0.640306    0.000000    0.942025  ...    5.851921    6.177308    7.027100
17204    0.690934    0.942025    0.000000  ...    5.003312    5.238478    6.251312
17205    0.942025    1.455155    0.640352  ...    4.878767    4.873359    6.218408
17206    1.523027    1.884081    0.942056  ...    4.194797    4.301023    5.527473
...           ...         ...         ...  ...         ...         ...         ...
17296  111.935181  111.686714  112.571602  ...  117.528198  117.642769  118.564980
17297  104.275177  104.086296  104.934967  ...  109.934196  109.857498  111.071297
17298    5.673964    5.851921    5.003312  ...    0.000000    2.042359    1.523179
17299    5.800602    6.177308    5.238478  ...    2.042359    0.000000    3.296098
17300    6.938969    7.027100    6.251312  ...    1.523179    3.296098    0.000000

[99 rows x 99 columns]

For each Starbucks, identify its nearest neighboring location in Hawaii (and presumably in the world). Save the output to a dataframe with three columns: Location, Nearest Neighbor, and Distance (Miles).

In [49]:
# answer goes here
closest_df = distance_mat[distance_mat != 0].idxmin(axis=1)
pd.DataFrame(closest_df)

           0
index
17202  17203
17203  17202
17204  17205
17205  17204
17206  17205
...      ...
17296  17277
17297  17255
17298  17300
17299  17288
17300  17298

[99 rows x 1 columns]

In [45]:
pd.DataFrame(dist_df) = distance_mat[distance_mat != 0].min(axis=1)
pd.DataFrame(dist_df)

              0
index
17202  0.640306
17203  0.640306
17204  0.640352
17205  0.640352
17206  0.690934
...         ...
17296  2.625981
17297  1.381868
17298  1.523179
17299  1.455712
17300  1.523179

[99 rows x 1 columns]

In [47]:
final_df = pd.concat([closest_df, dist_df], axis=1)
final_df

           0         1
index
17202  17203  0.640306
17203  17202  0.640306
17204  17205  0.640352
17205  17204  0.640352
17206  17205  0.690934
...      ...       ...
17296  17277  2.625981
17297  17255  1.381868
17298  17300  1.523179
17299  17288  1.455712
17300  17298  1.523179

[99 rows x 2 columns]

If the nearest neighbor of a Starbucks location is far away, we could consider that Starbucks to be "on an island". Which five Starbucks in Hawaii are the most "on an island"?

In [63]:
# answer goes here
final_df.sort_values(by= 1, ascending=False).head()

           0          1
index
17295  17267  16.080042
17267  17295  16.080042
17278  17284   8.027675
17291  17261   7.599956
17294  17292   6.996286