## Day 46 Lecture 1 Assignment

In this assignment, we will calculate a distance matrix for geographical Starbucks data and use it to identify locations that are close together and far apart. We will perform clustering on this dataset later on.

We will be using the "haversine" package to compute geographical distance. It can be pip installed.

In [19]:
!pip install haversine

Requirement already satisfied: haversine in /usr/local/lib/python3.6/dist-packages (2.3.0)

In [20]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from haversine import haversine

Below is a convenience function for calculating geographical distance matrices using lat-long data.

In [21]:
def geo_sim_matrix(df, col_name = 'Coordinates'):
    """
    A function that computes a geographical distance matrix (in miles).
    Each row in the dataframe should correspond to one location.
    In addition, the dataframe must have a column containing the lat-long of each location as a tuple (i.e. (lat, long)).
    
    Parameters:
        df (pandas dataframe): an nxm dataframe containing the locations to compute similarities between.
        col (string): the name of the column containing the lat-long tuples.
        
    Returns:
        distance (pandas dataframe): an nxn distance matrix between the geographical coordinates of each location.
    """
    
    df = df.copy()
    df.reset_index(inplace=True)
    haver_vec = np.vectorize(haversine, otypes=[np.float32])
    distance = df.groupby('index').apply(lambda x: pd.Series(haver_vec(df[col_name], x[col_name])))
    distance = distance / 1.609344  # converts to miles
    distance.columns = distance.index
    
    return distance

This dataset contains the latitude and longitude (as well as several other details we will not be using) of every Starbucks in the world as of February 2017. Each row consists of the following features, which are generally self-explanatory:

- Brand
- Store Number
- Store Name
- Ownership Type
- Street Address
- City
- State/Province
- Country
- Postcode
- Phone Number
- Timezone
- Longitude
- Latitude

Load in the dataset.

In [22]:
# load dataset
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/starbucks_locations.csv')

Begin by narrowing down the dataset to a specific geographic area of interest. Since we will need to manually compute a distance matrix, which will be on the order of $n^{2}$ in terms of size, we would recommend choosing an area with 3000 or less locations. In this example, we will use Hawaii, which has about 100 locations; for reference, California has about 2800 locations. Feel free to choose a different region that is of more interest to you, if desired.

Subset the dataframe to only include records for Starbucks locations in Hawaii.

In [23]:
# subsetting to include only records in Hawaii
data = df[df['State/Province'] == 'HI']
data.shape

(99, 13)

The haversine package takes tuples with 2 numeric elements and interprets them as lat-long to calculate distance, so add a new column called "Coordinates" that converts the lat and long in each row into a tuple. In other words, the last two columns of the dataframe should initially look like this:

**Latitude, Longitude**  
39.14, -121.64  
34.13, -116.40  
...

After adding the new column, the last three columns should look like this:

**Latitude, Longitude, Coordinates**  
39.14, -121.64,   (39.14, -121.64)  
34.13, -116.40,   (34.13, -116.40)  
...

In [24]:
# create coordinates column. df columns are in opposite order of 
# above(long, lat, not lat long), but I created the coordinates column with lat first
data['Coordinates'] = list(zip(data['Latitude'], data['Longitude']))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Calculate the distance matrix using the starter code/function geo_sim_matrix() provided earlier in the notebook. It assumes the column containing the coordinates for each location is called "Coordinates". Examine the docstring for more details.

Note: the latitude and longitudes provided only go out to two decimal places, which limits the resolution of the distance calculations to about 0.5 miles. Distances that are very small may not be accurately represented here (e.g. several instances of "0 distance" for distinct Starbucks locations in very close proximity).

In [25]:
# run geo_sim_matrix on data
matrix = geo_sim_matrix(data)
matrix.head()

index     17202     17203     17204  ...     17298     17299     17300
index                                ...
17202  0.000000  0.690934  0.643386  ...  5.329021  5.675488  6.470637
17203  0.690934  0.000000  0.944121  ...  5.548625  6.120771  6.580589
17204  0.643386  0.944121  0.000000  ...  4.710641  5.179933  5.831356
17205  0.944091  1.524305  0.690934  ...  4.555939  4.747018  5.790081
17206  1.460500  1.888212  0.944091  ...  3.921273  4.240594  5.146738

[5 rows x 99 columns]

For each Starbucks, identify its nearest neighboring location in Hawaii (and presumably in the world). Save the output to a dataframe with three columns: Location, Nearest Neighbor, and Distance (Miles).

In [26]:
nn = {}
for i in matrix.index:
  distances = matrix[i][matrix.index != i]
  nn[i, distances.idxmin()] = min(distances)

In [27]:
nn = pd.DataFrame(list(nn.items()))
nn['Location'] = nn[0].apply(lambda x : x[0])
nn['Nearest Neighbor'] = nn[0].apply(lambda x:x[1])
nn['Distance(mi)'] = nn[1]
nn.drop(columns=[0,1], inplace=True)

In [28]:
nn.sort_values(by='Distance(mi)')

   Location  Nearest Neighbor  Distance(mi)
0     17202             17204      0.643386
1     17203             17202      0.690934
2     17204             17202      0.643386
3     17205             17206      0.643342
4     17206             17205      0.643342

If the nearest neighbor of a Starbucks location is far away, we could consider that Starbucks to be "on an island". Which five Starbucks in Hawaii are the most "on an island"?

In [30]:
# answer goes here
nn.sort_values(by='Distance(mi)', ascending=False)
nn[:5]

0    17202
1    17203
2    17204
3    17205
4    17206
Name: Location, dtype: int64