## Day 46 Lecture 1 Assignment

In this assignment, we will calculate a distance matrix for geographical Starbucks data and use it to identify locations that are close together and far apart. We will perform clustering on this dataset later on.

We will be using the "haversine" package to compute geographical distance. It can be pip installed.

In [2]:
!pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/f4/52/a13286844780c7b1740edbbee8a8f0524e2a6d51c068b59dda39a6a119f5/haversine-2.3.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.3.0

In [3]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from haversine import haversine

Below is a convenience function for calculating geographical distance matrices using lat-long data.

In [4]:
def geo_sim_matrix(df, col_name = 'Coordinates'):
    """
    A function that computes a geographical distance matrix (in miles).
    Each row in the dataframe should correspond to one location.
    In addition, the dataframe must have a column containing the lat-long of each location as a tuple (i.e. (lat, long)).
    
    Parameters:
        df (pandas dataframe): an nxm dataframe containing the locations to compute similarities between.
        col (string): the name of the column containing the lat-long tuples.
        
    Returns:
        distance (pandas dataframe): an nxn distance matrix between the geographical coordinates of each location.
    """
    
    df = df.copy()
    df.reset_index(inplace=True)
    haver_vec = np.vectorize(haversine, otypes=[np.float32])
    distance = df.groupby('index').apply(lambda x: pd.Series(haver_vec(df[col_name], x[col_name])))
    distance = distance / 1.609344  # converts to miles
    distance.columns = distance.index
    
    return distance

This dataset contains the latitude and longitude (as well as several other details we will not be using) of every Starbucks in the world as of February 2017. Each row consists of the following features, which are generally self-explanatory:

- Brand
- Store Number
- Store Name
- Ownership Type
- Street Address
- City
- State/Province
- Country
- Postcode
- Phone Number
- Timezone
- Longitude
- Latitude

Load in the dataset.

In [6]:
# answer goes here

s_df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/starbucks_locations.csv')

s_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25600 entries, 0 to 25599
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           25600 non-null  object
 1   Store Number    25600 non-null  object
 2   Store Name      25600 non-null  object
 3   Ownership Type  25600 non-null  object
 4   Street Address  25598 non-null  object
 5   City            25585 non-null  object
 6   State/Province  25600 non-null  object
 7   Country         25600 non-null  object
 8   Postcode        24078 non-null  object
 9   Phone Number    18739 non-null  object
 10  Timezone        25600 non-null  object
 11  Longitude       25599 non-null  float64
 12  Latitude        25599 non-null  float64
dtypes: float64(2), object(11)
memory usage: 2.5+ MB

Begin by narrowing down the dataset to a specific geographic area of interest. Since we will need to manually compute a distance matrix, which will be on the order of $n^{2}$ in terms of size, we would recommend choosing an area with 3000 or less locations. In this example, we will use Hawaii, which has about 100 locations; for reference, California has about 2800 locations. Feel free to choose a different region that is of more interest to you, if desired.

Subset the dataframe to only include records for Starbucks locations in Hawaii.

In [9]:
# answer goes here

h_df = s_df[s_df['State/Province'].isin(['HI'])]

h_df.head(10)

           Brand  Store Number  ... Longitude Latitude
17202  Starbucks   21034-73360  ...   -157.93    21.38
17203  Starbucks   21053-99755  ...   -157.93    21.37
17204  Starbucks   21006-10033  ...   -157.94    21.38
17205  Starbucks   21005-10034  ...   -157.94    21.39
17206  Starbucks  21063-101700  ...   -157.95    21.39
17207  Starbucks  18818-161204  ...   -158.02    21.33
17208  Starbucks  18395-173858  ...   -158.02    21.33
17209  Starbucks   1563-152524  ...   -155.07    19.70
17210  Starbucks   21039-85523  ...   -155.06    19.70
17211  Starbucks   21035-83560  ...   -155.08    19.72

[10 rows x 13 columns]

The haversine package takes tuples with 2 numeric elements and interprets them as lat-long to calculate distance, so add a new column called "Coordinates" that converts the lat and long in each row into a tuple. In other words, the last two columns of the dataframe should initially look like this:

**Latitude, Longitude**  
39.14, -121.64  
34.13, -116.40  
...

After adding the new column, the last three columns should look like this:

**Latitude, Longitude, Coordinates**  
39.14, -121.64,   (39.14, -121.64)  
34.13, -116.40,   (34.13, -116.40)  
...

In [10]:
# answer goes here

h_df['Coordinates'] = list(zip(h_df.Latitude, h_df.Longitude))

h_df.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           Brand  Store Number  ... Latitude       Coordinates
17202  Starbucks   21034-73360  ...    21.38  (21.38, -157.93)
17203  Starbucks   21053-99755  ...    21.37  (21.37, -157.93)
17204  Starbucks   21006-10033  ...    21.38  (21.38, -157.94)
17205  Starbucks   21005-10034  ...    21.39  (21.39, -157.94)
17206  Starbucks  21063-101700  ...    21.39  (21.39, -157.95)

[5 rows x 14 columns]

Calculate the distance matrix using the starter code/function geo_sim_matrix() provided earlier in the notebook. It assumes the column containing the coordinates for each location is called "Coordinates". Examine the docstring for more details.

Note: the latitude and longitudes provided only go out to two decimal places, which limits the resolution of the distance calculations to about 0.5 miles. Distances that are very small may not be accurately represented here (e.g. several instances of "0 distance" for distinct Starbucks locations in very close proximity).

In [11]:
# answer goes here

d_df = geo_sim_matrix(h_df, col_name = 'Coordinates')

d_df.head(5)

index     17202     17203     17204  ...     17298     17299     17300
index                                ...
17202  0.000000  0.690934  0.643386  ...  5.329021  5.675488  6.470637
17203  0.690934  0.000000  0.944121  ...  5.548625  6.120771  6.580589
17204  0.643386  0.944121  0.000000  ...  4.710641  5.179933  5.831356
17205  0.944091  1.524305  0.690934  ...  4.555939  4.747018  5.790081
17206  1.460500  1.888212  0.944091  ...  3.921273  4.240594  5.146738

[5 rows x 99 columns]

For each Starbucks, identify its nearest neighboring location in Hawaii (and presumably in the world). Save the output to a dataframe with three columns: Location, Nearest Neighbor, and Distance (Miles).

In [13]:
# answer goes here

nn = {}
for i in d_df.index:
  distances = d_df[i][d_df.index != i]
  nn[i, distances.idxmin()] = min(distances)

nn = pd.DataFrame(list(nn.items()))
nn['Location'] = nn[0].apply(lambda x: x[0])
nn['Nearest Neighbor'] = nn[0].apply(lambda x: x[1])
nn['Distance (Miles)'] = nn[1]
nn.drop(columns=[0,1], inplace=True)
nn.head(5)

   Location  Nearest Neighbor  Distance (Miles)
0     17202             17204          0.643386
1     17203             17202          0.690934
2     17204             17202          0.643386
3     17205             17206          0.643342
4     17206             17205          0.643342

If the nearest neighbor of a Starbucks location is far away, we could consider that Starbucks to be "on an island". Which five Starbucks in Hawaii are the most "on an island"?

In [15]:
# answer goes here

i_df = pd.merge(nn, 
                   s_df[['City', 'Latitude', 'Longitude']],
                   left_on='Location',
                   right_index=True)

i_df = pd.merge(i_df,
                   s_df[['City', 'State/Province', 'Latitude', 'Longitude']],
                   left_on='Nearest Neighbor',
                   right_index=True)

i_df.columns = ['Location', 'Nearest Neighbor', 'Distance (Miles)', 'Location City', 'Location Lat', 
                   'Location Long', 'NN City', 'NN State', 'NN Lat', 'NN Long']

i_df.sort_values(by='Distance (Miles)', ascending=False).head(5)

    Location  Nearest Neighbor  Distance (Miles)  ... NN State  NN Lat  NN Long
93     17295             17267         15.612447  ...       HI   20.02  -155.67
65     17267             17295         15.612447  ...       HI   19.91  -155.88
76     17278             17284          8.059888  ...       HI   21.97  -159.38
89     17291             17261          7.322419  ...       HI   20.89  -156.44
92     17294             17292          6.739833  ...       HI   21.49  -158.09

[5 rows x 10 columns]