## Day 46 Lecture 1 Assignment

In this assignment, we will calculate a distance matrix for geographical Starbucks data and use it to identify locations that are close together and far apart. We will perform clustering on this dataset later on.

We will be using the "haversine" package to compute geographical distance. It can be pip installed.

In [1]:
!pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/f4/52/a13286844780c7b1740edbbee8a8f0524e2a6d51c068b59dda39a6a119f5/haversine-2.3.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.3.0

In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from haversine import haversine

Below is a convenience function for calculating geographical distance matrices using lat-long data.

In [3]:
def geo_sim_matrix(df, col_name = 'Coordinates'):
    """
    A function that computes a geographical distance matrix (in miles).
    Each row in the dataframe should correspond to one location.
    In addition, the dataframe must have a column containing the lat-long of each location as a tuple (i.e. (lat, long)).
    
    Parameters:
        df (pandas dataframe): an nxm dataframe containing the locations to compute similarities between.
        col (string): the name of the column containing the lat-long tuples.
        
    Returns:
        distance (pandas dataframe): an nxn distance matrix between the geographical coordinates of each location.
    """
    
    df = df.copy()
    df.reset_index(inplace=True)
    haver_vec = np.vectorize(haversine, otypes=[np.float32])
    distance = df.groupby('index').apply(lambda x: pd.Series(haver_vec(df[col_name], x[col_name])))
    distance = distance / 1.609344  # converts to miles
    distance.columns = distance.index
    
    return distance

This dataset contains the latitude and longitude (as well as several other details we will not be using) of every Starbucks in the world as of February 2017. Each row consists of the following features, which are generally self-explanatory:

- Brand
- Store Number
- Store Name
- Ownership Type
- Street Address
- City
- State/Province
- Country
- Postcode
- Phone Number
- Timezone
- Longitude
- Latitude

Load in the dataset.

In [4]:
# answer goes here
url = 'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/starbucks_locations.csv'

starbucks_df = pd.read_csv(url)

In [5]:
starbucks_df.head()

       Brand  Store Number  ... Longitude Latitude
0  Starbucks  47370-257954  ...      1.53    42.51
1  Starbucks  22331-212325  ...     55.47    25.42
2  Starbucks  47089-256771  ...     55.47    25.39
3  Starbucks  22126-218024  ...     54.38    24.48
4  Starbucks  17127-178586  ...     54.54    24.51

[5 rows x 13 columns]

Begin by narrowing down the dataset to a specific geographic area of interest. Since we will need to manually compute a distance matrix, which will be on the order of $n^{2}$ in terms of size, we would recommend choosing an area with 3000 or less locations. In this example, we will use Hawaii, which has about 100 locations; for reference, California has about 2800 locations. Feel free to choose a different region that is of more interest to you, if desired.

Subset the dataframe to only include records for Starbucks locations in Hawaii.

In [6]:
# answer goes here
hawaii = starbucks_df.loc[(starbucks_df['Country']=='US')&(starbucks_df['State/Province']=='HI')]

hawaii.head()

           Brand  Store Number  ... Longitude Latitude
17202  Starbucks   21034-73360  ...   -157.93    21.38
17203  Starbucks   21053-99755  ...   -157.93    21.37
17204  Starbucks   21006-10033  ...   -157.94    21.38
17205  Starbucks   21005-10034  ...   -157.94    21.39
17206  Starbucks  21063-101700  ...   -157.95    21.39

[5 rows x 13 columns]

The haversine package takes tuples with 2 numeric elements and interprets them as lat-long to calculate distance, so add a new column called "Coordinates" that converts the lat and long in each row into a tuple. In other words, the last two columns of the dataframe should initially look like this:

**Latitude, Longitude**  
39.14, -121.64  
34.13, -116.40  
...

After adding the new column, the last three columns should look like this:

**Latitude, Longitude, Coordinates**  
39.14, -121.64,   (39.14, -121.64)  
34.13, -116.40,   (34.13, -116.40)  
...

In [7]:
# answer goes here
hawaii['Coordinates'] = tuple(zip(hawaii['Latitude'],hawaii['Longitude']))

hawaii.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Brand  Store Number  ... Latitude       Coordinates
17202  Starbucks   21034-73360  ...    21.38  (21.38, -157.93)
17203  Starbucks   21053-99755  ...    21.37  (21.37, -157.93)
17204  Starbucks   21006-10033  ...    21.38  (21.38, -157.94)
17205  Starbucks   21005-10034  ...    21.39  (21.39, -157.94)
17206  Starbucks  21063-101700  ...    21.39  (21.39, -157.95)

[5 rows x 14 columns]

Calculate the distance matrix using the starter code/function geo_sim_matrix() provided earlier in the notebook. It assumes the column containing the coordinates for each location is called "Coordinates". Examine the docstring for more details.

Note: the latitude and longitudes provided only go out to two decimal places, which limits the resolution of the distance calculations to about 0.5 miles. Distances that are very small may not be accurately represented here (e.g. several instances of "0 distance" for distinct Starbucks locations in very close proximity).

In [8]:
# answer goes here
HI_distance = geo_sim_matrix(hawaii, col_name = 'Coordinates')
np.fill_diagonal(HI_distance.values, np.nan)
HI_distance

index       17202       17203       17204  ...       17298       17299       17300
index                                      ...
17202         NaN    0.690934    0.643386  ...    5.329021    5.675488    6.470637
17203    0.690934         NaN    0.944121  ...    5.548625    6.120771    6.580589
17204    0.643386    0.944121         NaN  ...    4.710641    5.179933    5.831356
17205    0.944091    1.524305    0.690934  ...    4.555939    4.747018    5.790081
17206    1.460500    1.888212    0.944091  ...    3.921273    4.240594    5.146738
...           ...         ...         ...  ...         ...         ...         ...
17296  107.264542  106.962166  107.842613  ...  112.498970  112.833847  113.367599
17297   98.783943   98.552231   99.389603  ...  104.095673  104.204285  105.083298
17298    5.329021    5.548625    4.710641  ...         NaN    2.170313    1.460423
17299    5.675488    6.120771    5.179933  ...    2.170313         NaN    3.370790
17300    6.470637    6.580589    5.831356  ...    1.460423    3.370790         NaN

[99 rows x 99 columns]

In [9]:
HI_distance.idxmin()

index
17202    17204
17203    17202
17204    17202
17205    17206
17206    17205
         ...
17296    17277
17297    17255
17298    17300
17299    17288
17300    17298
Length: 99, dtype: int64

In [10]:
hawaii.loc[HI_distance.idxmin()]['Store Name'].values

array(['Kaonohi St & Kam Hwy - Pearlridge', 'Aiea Shopping Center',
       'Aiea Shopping Center', 'Waimalu Shopping Center',
       'Pearlridge Mall Uptown', 'Safeway-Ewa #2897',
       'Keaunui & Ft Weaver', 'Target Hilo T-2682', 'Safeway-Hilo #2893',
       'Safeway-Hilo #2893', 'Safeway-Hilo #2893',
       'Outrigger Reef - Kalia & Beachwalk',
       'Ward Gateway - Ward Ave & Auahi St', 'Teavana - Ala Moana',
       'HNL - United Bag Claim', 'HNL Gate 60', 'Waikiki Shopping Plaza',
       'Waikiki Shopping Plaza', 'HNL Gate 12',
       "Macy's Ala Moana Center - L2", 'Manoa Valley - E Manoa Road',
       "Macy's Ala Moana Center - L2", 'Kapahulu Ave & Mooheau Ave',
       'Airport Trade Center - Paiea St',
       'Hilton Hawaiian Vlge Penguin Plza A', 'HNL Gate 12',
       'HNL Gate 12', 'Ewa Ala Moana Center - Ground Floor',
       'Kahala Mall Interior - Waialae Ave',
       'Financial Plaza - Bishop & Merchant',
       "Macy's Ala Moana Center - L2", 'Safeway - Kapahulu #2747',
       'Stadium Marketplace', 'Ala Moana & Coral',
       'Kahala Mall Exterior - Kilauea Ave', 'HNL Gate 12',
       'Ward Theatres - Auahi & Kamakee St', 'Koko Marina Center',
       'Bishop & King St', 'Financial Plaza - Bishop & Merchant',
       'HNL Gate 12', 'Airport Trade Center - Paiea St', 'HNL Gate 12',
       'Kahala Mall Exterior - Kilauea Ave', 'HNL Gate 12',
       "Macy's Ala Moana Center - L2", 'Hawaii Kai Towne Center',
       "Macy's Ala Moana Center - L2", 'HNL Gate 12',
       'Hilton Hawaiian Village-Kalia Tower',
       'Financial Plaza - Bishop & Merchant',
       'University of Hawaii, Manoa', 'Waikiki Shopping Plaza',
       'Queen Kaahumanu Center', 'OGG Baggage Claim (Maui)',
       'OGG Rotunda (Maui)', 'OGG - Maui Conversion',
       'Maui Marketplace on Dairy Road', 'Safeway - Wailuku 3092',
       'OGG Baggage Claim (Maui)', 'Kailua Town Center',
       'Target Kailua T-2697', 'Henry St & Mamalahoa Hwy',
       'Safeway - Kailua-Kona #1501', 'Safeway - Kailua-Kona #1501',
       'Queens Marketplace', 'Kaneohe Bay Shopping Center',
       'Kaneohe Bay Shopping Center', 'Windward Mall',
       'LIH Rotunda (Kauai)', 'Kapolei Pkwy & Kamokila Blvd',
       'Target Oahu Kapolei T-2411', 'Target Oahu Kapolei T-2411',
       'Piilani Village Shopping Center', 'Safeway - Kihei #1500',
       'Safeway - Kihei #1500', 'Safeway-Lihue #2894',
       'Safeway - Kailua-Kona #1501',
       'Old Lahaina Ctr - Wainee & Papalaua',
       'Honoapiilani Hwy & Keawe St', 'Honoapiilani Hwy & Keawe St',
       'Lahaina Cannery Mall', 'Kukui Grove Center',
       'Safeway-Lihue #2894', 'Safeway-Lihue #2894',
       'Mililani Town Center', 'Mililani Shopping Center',
       'Mililani Shopping Center', 'Waimalu Shopping Center',
       'OGG Rotunda (Maui)', 'Mililani Shopping Center',
       'Airport Trade Center - Paiea St',
       'Schofield Barracks Main Store Mall', 'Parker Ranch Center',
       'Kukui Mall', 'OGG - Maui Conversion', 'Kunia Shopping Center',
       'Mililani Town Center', 'Waikele Premium Outlets'], dtype=object)

For each Starbucks, identify its nearest neighboring location in Hawaii (and presumably in the world). Save the output to a dataframe with three columns: Location, Nearest Neighbor, and Distance (Miles).

In [11]:
# answer goes here
HI_starbucks_nn = hawaii[['Store Name', 'Coordinates']].copy()
HI_starbucks_nn['Nearest Store Name'] = hawaii.loc[HI_distance.idxmin()]['Store Name'].values
HI_starbucks_nn['Distance (Miles)'] = HI_distance.min()

HI_starbucks_nn

                                Store Name  ... Distance (Miles)
17202                 Aiea Shopping Center  ...         0.643386
17203                  Stadium Marketplace  ...         0.690934
17204    Kaonohi St & Kam Hwy - Pearlridge  ...         0.643386
17205               Pearlridge Mall Uptown  ...         0.643342
17206              Waimalu Shopping Center  ...         0.643342
...                                    ...  ...              ...
17296  Wailea Beach Resort - Marriott Maui  ...         2.838297
17297               Safeway - Wailuku 3092  ...         1.291034
17298              Waikele Premium Outlets  ...         1.460423
17299        Laniakea Plaza at Ka Uka Blvd  ...         1.524194
17300                Kunia Shopping Center  ...         1.460423

[99 rows x 4 columns]

If the nearest neighbor of a Starbucks location is far away, we could consider that Starbucks to be "on an island". Which five Starbucks in Hawaii are the most "on an island"?

In [12]:
# answer goes here
HI_starbucks_nn.sort_values(by='Distance (Miles)', ascending=False).head()

                          Store Name  ... Distance (Miles)
17267            Parker Ranch Center  ...        15.612447
17295             Queens Marketplace  ...        15.612447
17278         Poipu Shopping Village  ...         8.059888
17291        Pukalani Terrace Center  ...         7.322419
17294  Waianae Mall - Farrington Hwy  ...         6.739833

[5 rows x 4 columns]