## Day 46 Lecture 2 Assignment

In this assignment, we will calculate a similarity matrix using responses to a survey about student life at a university. We will perform clustering on this dataset later on.

In [13]:
!pip install gower

Collecting gower
  Downloading https://files.pythonhosted.org/packages/98/62/dea557ca74253ff35afa6dce17c6f950ff8b7fbd3636a4df2ef0877bcf65/gower-0.0.5.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from gower) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from gower) (1.4.1)
Building wheels for collected packages: gower
  Building wheel for gower (setup.py) ... done
  Created wheel for gower: filename=gower-0.0.5-cp36-none-any.whl size=4232 sha256=d0ad0fd56794823aa8bf8712662f8c8ef43770c12ad3a599f9faf3b28dd1700a
  Stored in directory: /root/.cache/pip/wheels/c0/09/9b/072d54d6ced0f43a179852e3f09532d0131e25ff7cb4e5ee75
Successfully built gower
Installing collected packages: gower
Successfully installed gower-0.0.5

In [14]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import gower
from scipy.spatial.distance import pdist, squareform

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [2]:
# answer goes here
data = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv')
data.head()

   Q2-Participated in Societies and Interest Groups  ...  response_id
0                                                 0  ...            1
1                                                 0  ...            2
2                                                 0  ...            3
3                                                 1  ...            4
4                                                 1  ...            5

[5 rows x 36 columns]

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [11]:
# answer goes here
filtered = data.filter(regex='Q5')
filtered.head()

   Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                    0  ...                         0
1                                    0  ...                         0
2                                    0  ...                         0
3                                    1  ...                         0
4                                    0  ...                         0

[5 rows x 10 columns]

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

The pdist function is a simple way to accomplish this goal, and the squareform function will transform the output of the pdist function into a tabular format that can be convert to a dataframe more easily.

In [27]:
# answer goes here
res = pdist(filtered, 'hamming')
dfres = pd.DataFrame(squareform(res), index=filtered.index+1, columns=filtered.index+1)
dfres.head()

   1     2     3     4     5     6     ...  2953  2954  2955  2956  2957  2958
1   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
3   0.1   0.1   0.0   0.7   0.4   0.2  ...   0.4   0.3   0.1   0.1   0.1   0.1
4   0.6   0.6   0.7   0.0   0.5   0.5  ...   0.3   0.6   0.6   0.6   0.6   0.8
5   0.3   0.3   0.4   0.5   0.0   0.2  ...   0.2   0.3   0.3   0.3   0.5   0.3

[5 rows x 2958 columns]

Print the answers to the following three questions:

1. How many pairs of students are there in our dataset? (Remember to ignore a student pairing with themselves, and avoid double-counting - '3-5' is the same as '5-3'.) 
2. Of these pairs, how many gave identical answers? 
3. How many pairs had no answers in common?

Tip: it may help to first convert the NxN similarity matrix into a table with three columns: response_id_1, response_id_2, and the similarity between them. The new table should have NxN rows and 3 columns.

In [43]:
distances = dfres[1][dfres.index != 1]
print(distances)

2       0.0
3       0.1
4       0.6
5       0.3
6       0.1
       ...
2954    0.2
2955    0.0
2956    0.0
2957    0.2
2958    0.2
Name: 1, Length: 2957, dtype: float64

In [34]:
nn = {}
for i in dfres.index:
    distances = dfres[i][dfres.index != i]
    nn[i, distances.idxmin()] = min(distances)

nn = pd.DataFrame(list(nn.items()))
nn['response_id_1'] = nn[0].apply(lambda x: x[0])
nn['response_id_2'] = nn[0].apply(lambda x: x[1])
nn['Similarity'] = nn[1]
nn.drop(columns=[0,1], inplace=True)

nn.sort_values(by='Similarity', ascending=False).head()

      response_id_1  response_id_2  Similarity
203             204             56         0.1
1733           1734            624         0.1
628             629              4         0.1
1986           1987             13         0.1
2291           2292           1447         0.1

In [41]:
nn = {}
for i in dfres.index:
    distances = dfres[i][dfres.index != i]
    nn[i, distances.idxmin()] = min(distances)

nn = pd.DataFrame(list(nn.items()))
nn['response_id_1'] = nn[0].apply(lambda x: x[0])
nn['response_id_2'] = nn[0].apply(lambda x: x[1])

In [42]:
nn.head()

           0    1  response_id_1  response_id_2
0     (1, 2)  0.0              1              2
1     (2, 1)  0.0              2              1
2    (3, 30)  0.0              3             30
3  (4, 1143)  0.0              4           1143
4   (5, 384)  0.0              5            384

In [29]:
# answer goes here
iden = dfres[dfres[1] ==  0.0]
print(f'1. There are 5,916 pairs.\n2. {len(iden)} gave identical answers.\n3. {len(data)-len(iden)} had no answers in common.')

1. There are 5,916 pairs.
2. 342 gave identical answers.
3. 2616 had no answers in common.

For each student, calculate their average similarity with all other students. Then print the following:

1. On average, which student (i.e. which response_id) had the most similar responses to the survey population as a whole? What was the average similarity for this student, and what were their answers?
2. Repeat part 1, but for the student with the least similar responses to the survey population as a whole.
3. What do we notice about these students? What broader inferences can we make about the student population as a whole?

In [64]:
# answer goes here
dfres['avg'] = dfres.mean(axis=1)

In [79]:
minavg = dfres['avg'].min()
maxavg = dfres['avg'].max()

In [80]:
dfres['avg'].sort_values(ascending=False)

2900    0.623935
2417    0.601149
1797    0.593577
879     0.593577
867     0.593577
          ...
434     0.224746
1870    0.224746
1866    0.224746
441     0.224746
1       0.224746
Name: avg, Length: 2958, dtype: float64

In [94]:
dfres.loc[dfres.avg == 0.224746450304262]

        1    2    3    4    5    6  ...  2955  2956  2957  2958      mean       avg
1     0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746
2     0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746
24    0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746
40    0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746
42    0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746
...   ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...       ...       ...
2937  0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746
2941  0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746
2943  0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746
2955  0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746
2956  0.0  0.0  0.1  0.6  0.3  0.1  ...   0.0   0.0   0.2   0.2  0.224746  0.224746

[342 rows x 2960 columns]

### 1. On average, which student (i.e. which response_id) had the most similar responses to the survey population as a whole? What was the average similarity for this student, and what were their answers?

In [97]:
print(f'Student id 1 had the most similar responses to the survey population as a whole. The average similarity was {minavg}')
print(f'Answers:')
filtered.loc[[0]]

Student id 1 had the most similar responses to the survey population as a whole. The average similarity was 0.224746450304262
Answers:

   Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                    0  ...                         0

[1 rows x 10 columns]

### 2. Repeat part 1, but for the student with the least similar responses to the survey population as a whole.

In [96]:
print(f'Student id 2900 had the least similar responses to the survey population as a whole. The average similarity was {maxavg}')
print(f'Answers:')
filtered.loc[[2899]]

Student id 2900 had the least similar responses to the survey population as a whole. The average similarity was 0.6239350912778868
Answers:

      Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
2899                                    1  ...                         1

[1 rows x 10 columns]

### 3. What do we notice about these students? What broader inferences can we make about the student population as a whole?

*Between the two, there is no clear cut inference we can make about the student population considering their average similarities. However, this does not discount the fact that no one, not even Student ID 2900 or Student ID 1, is different from the rest.*