## Day 46 Lecture 2 Assignment

In this assignment, we will calculate a similarity matrix using responses to a survey about student life at a university. We will perform clustering on this dataset later on.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [2]:
# answer goes here
students = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv')
print(students.shape)
students.head()

(2958, 36)

   Q2-Participated in Societies and Interest Groups  ...  response_id
0                                                 0  ...            1
1                                                 0  ...            2
2                                                 0  ...            3
3                                                 1  ...            4
4                                                 1  ...            5

[5 rows x 36 columns]

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [3]:
# answer goes here
#only want stress survey questions (begins with Q5)
#stress = students['Type_of_Breach'].str.lower().str.contains('q5') 
stress = students.filter(like='Q5', axis=1)
print(stress.shape)
stress.head()

(2958, 10)

   Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                    0  ...                         0
1                                    0  ...                         0
2                                    0  ...                         0
3                                    1  ...                         0
4                                    0  ...                         0

[5 rows x 10 columns]

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

The pdist function is a simple way to accomplish this goal, and the squareform function will transform the output of the pdist function into a tabular format that can be convert to a dataframe more easily.

In [4]:
# answer goes here
#hamming distance (0-0 = informative)
matrix = pdist(stress, metric='hamming')
hamming = pd.DataFrame(squareform(matrix), index=stress.index, columns=stress.index)
hamming

      0     1     2     3     4     5     ...  2952  2953  2954  2955  2956  2957
0      0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
1      0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2      0.1   0.1   0.0   0.7   0.4   0.2  ...   0.4   0.3   0.1   0.1   0.1   0.1
3      0.6   0.6   0.7   0.0   0.5   0.5  ...   0.3   0.6   0.6   0.6   0.6   0.8
4      0.3   0.3   0.4   0.5   0.0   0.2  ...   0.2   0.3   0.3   0.3   0.5   0.3
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
2953   0.2   0.2   0.3   0.6   0.3   0.3  ...   0.5   0.0   0.2   0.2   0.4   0.2
2954   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2955   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2956   0.2   0.2   0.1   0.6   0.5   0.3  ...   0.5   0.4   0.2   0.2   0.0   0.2
2957   0.2   0.2   0.1   0.8   0.3   0.3  ...   0.5   0.2   0.2   0.2   0.2   0.0

[2958 rows x 2958 columns]

In [10]:
#function for above
def dist(df, metric):
  matrix = pdist(stress, metric=metric)
  return pd.DataFrame(squareform(matrix), index=df.index, columns=df.index)

matrix = dist(stress, 'hamming')
matrix

Print the answers to the following three questions:

1. How many pairs of students are there in our dataset? (Remember to ignore a student pairing with themselves, and avoid double-counting - '3-5' is the same as '5-3'.) 
2. Of these pairs, how many gave identical answers? 
3. How many pairs had no answers in common?

Tip: it may help to first convert the NxN similarity matrix into a table with three columns: response_id_1, response_id_2, and the similarity between them. The new table should have NxN rows and 3 columns.

In [5]:
# answer goes here
nn = {}
for i in hamming.index:
  distances = hamming[i][hamming.index != i]
  nn[i, distances.idxmin()] = min(distances)

nn = pd.DataFrame(list(nn.items()))
nn['response_id_1'] = nn[0].apply(lambda x: x[0])
nn['response_id_2'] = nn[0].apply(lambda x: x[1])
nn['Similarity'] = nn[1]
nn.drop(columns=[0,1], inplace=True)
nn.head()

   response_id_1  response_id_2  Similarity
0              0              1         0.0
1              1              0         0.0
2              2             29         0.0
3              3           1142         0.0
4              4            383         0.0

In [33]:
#using pd.melt instead of loop above
#hamming['id'] = hamming.index

#df = pd.melt(hamming, id_vars='id', value_vars=hamming.columns[hamming.columns != 'id'])
#df.columns = ['response_id_1', 'response_id_2', 'similarity'] 
#df2 = df[df.response_id_1 < df.response_id_2]
#df2.shape[0]

In [6]:
#avoiding 'double-counting'
#nn.response_id_1 < nn.response_id_2
nn[nn.response_id_1 < nn.response_id_2]

      response_id_1  response_id_2  Similarity
0                 0              1         0.0
2                 2             29         0.0
3                 3           1142         0.0
4                 4            383         0.0
5                 5            162         0.0
...             ...            ...         ...
2069           2069           2758         0.0
2125           2125           2613         0.0
2136           2136           2331         0.0
2157           2157           2162         0.0
2358           2358           2602         0.0

[229 rows x 3 columns]

In [21]:
#using query to avoid 'double-counting'
nn.query('response_id_1 < response_id_2')

In [7]:
nn.shape

(2958, 3)

In [8]:
#Question 1: How many pairs of students are there in our dataset? 
print('There are {} pairs of students in dataset'.format((nn.shape[0] - 1) * (nn.shape[0]) / 2))

There are 4373403.0 pairs of students in dataset

In [9]:
#filling students vs. self as null in order to not include counts
np.fill_diagonal(hamming.values, np.nan)

In [10]:
#Question 2: Of these pairs, how many gave identical answers?
hamming_counts = hamming.apply(pd.value_counts).T

identical = hamming_counts[0.0].sum()/2
print('The number of pairs that gave identical answers are {}'.format(identical))

The number of pairs that gave identical answers are 136732.0

In [11]:
#Question 3: How many pairs had no answers in common?
non_ident = hamming_counts[1.0].sum()/2
print('The number of pairs that had no answers in common are {}'.format(non_ident))

The number of pairs that had no answers in common are 291.0

For each student, calculate their average similarity with all other students. Then print the following:

1. On average, which student (i.e. which response_id) had the most similar responses to the survey population as a whole? What was the average similarity for this student, and what were their answers?
2. Repeat part 1, but for the student with the least similar responses to the survey population as a whole.
3. What do we notice about these students? What broader inferences can we make about the student population as a whole?

In [12]:
# answer goes here
sim_avg = pd.DataFrame({'response_id':students['response_id'], 'similarity_avg':hamming.mean()})

similar = pd.concat([sim_avg, stress], axis=1)

In [13]:
similar.sort_values('similarity_avg').head()

      response_id  ...  Q5-Stressed about Others
0               1  ...                         0
440           441  ...                         0
1865         1866  ...                         0
1869         1870  ...                         0
433           434  ...                         0

[5 rows x 12 columns]

In [24]:
#Question 1: On average, which student (i.e. which response_id) had the most similar responses to the survey population as a whole? 
#What was the average similarity for this student, and what were their answers?
response_sim = similar.loc[similar['similarity_avg']==similar['similarity_avg'].min()]
print('The number of students that had similar responses is {}.'.format(response_sim.shape[0]))
sim_id = response_sim.loc[response_sim.index[0], 'response_id']
print('The first student with the most similar responses is {}'.format(sim_id))
print('Survery Answers:')
response_sim.loc[[0]]

The number of students that had similar responses is 342.
The first student with the most similar responses is 1
Survery Answers:

   response_id  ...  Q5-Stressed about Others
0            1  ...                         0

[1 rows x 12 columns]

In [29]:
#Question 2: Repeat part 1, but for the student with the least similar responses to the survey population as a whole.
response_non = similar.loc[similar['similarity_avg']==similar['similarity_avg'].max()]
non_id = response_non.loc[response_non.index[0], 'response_id']
print('The student that had the least similar responses is {}.'.format(non_id))
print('Survery Answers:')
response_non

The student that had the least similar responses is 2900.
Survery Answers:

      response_id  ...  Q5-Stressed about Others
2899         2900  ...                         1

[1 rows x 12 columns]

Question 3: What do we notice about these students? 
What broader inferences can we make about the student population as a whole?

It seems that Academic issues is the most common stresser among students being that the student with the most similar responses and the student with the least similar response have this stresser/response in common.