## Day 35 Lecture 2 Assignment

In this assignment, we will combine what we have learned so far about classification algorithms this week.

In [8]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [9]:
admission = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Admission_Predict.csv')

In [10]:
admission.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In this assignment, we will predict the probability of a student being admitted to a PhD program given their stats. To make the predictions, find the median for the Chance of Admit column. Create an admit column where all probabilities above the median will receive a 1 for that column and all probabilities below the median will be a zero.

Below you will process and clean the data, try the SVM classifier, the gradient boosted decision tree classifier and XGBoost, and compare your results.

Have fun!

In [ ]:
# Answer below:

In [37]:
med = admission['Chance of Admit '].median()

def binary_split(number, split):
  if number >= split:
    return 1
  else:
    return 0

data = admission.copy()

data['Chance of Admit '] = data['Chance of Admit '].apply(lambda x: binary_split(x, med))
data = data.drop('Serial No.', axis=1)
data

     GRE Score  TOEFL Score  ...  Research  Chance of Admit
0          337          118  ...         1                 1
1          324          107  ...         1                 1
2          316          104  ...         1                 0
3          322          110  ...         1                 1
4          314          103  ...         0                 0
..         ...          ...  ...       ...               ...
395        324          110  ...         1                 1
396        325          107  ...         1                 1
397        330          116  ...         1                 1
398        312          103  ...         0                 0
399        333          117  ...         1                 1

[400 rows x 8 columns]

In [38]:
from sklearn.model_selection import train_test_split
X = data.drop('Chance of Admit ', axis=1)
y = data['Chance of Admit ']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [63]:
#SVC Model
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
modelName = 'SVC'
svc = SVC()
svc.fit(X_train, y_train)
train_predict = svc.predict(X_train)
test_predict = svc.predict(X_test)
print(modelName, 'training data accuracy score:', accuracy_score(y_train, train_predict))
print(modelName, 'test data accuracy score:', accuracy_score(y_test, test_predict))
print(modelName, 'training data recall score:', recall_score(y_train, train_predict))
print(modelName, 'test data recall score:', recall_score(y_test, test_predict))
print()
print(classification_report(y_test, test_predict))

SVC training data accuracy score: 0.8375
SVC test data accuracy score: 0.825
SVC training data recall score: 0.8630952380952381
SVC test data recall score: 0.8055555555555556

              precision    recall  f1-score   support

           0       0.84      0.84      0.84        44
           1       0.81      0.81      0.81        36

    accuracy                           0.82        80
   macro avg       0.82      0.82      0.82        80
weighted avg       0.82      0.82      0.82        80

In [64]:
#Gradient Boosting Classifier Model
from sklearn.ensemble import GradientBoostingClassifier
modelName = 'Gradient Boost'
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)
train_predict = gbc.predict(X_train)
test_predict = gbc.predict(X_test)
print(modelName, 'training data accuracy score:', accuracy_score(y_train, train_predict))
print(modelName, 'test data accuracy score:', accuracy_score(y_test, test_predict))
print(modelName, 'training data recall score:', recall_score(y_train, train_predict))
print(modelName, 'test data recall score:', recall_score(y_test, test_predict))
print()
print(classification_report(y_test, test_predict))

Gradient Boost training data accuracy score: 0.98125
Gradient Boost test data accuracy score: 0.8375
Gradient Boost training data recall score: 0.9821428571428571
Gradient Boost test data recall score: 0.8333333333333334

              precision    recall  f1-score   support

           0       0.86      0.84      0.85        44
           1       0.81      0.83      0.82        36

    accuracy                           0.84        80
   macro avg       0.84      0.84      0.84        80
weighted avg       0.84      0.84      0.84        80

In [65]:
#AdaBoost Classifier Model
from sklearn.ensemble import AdaBoostClassifier
modelName = 'AdaBoost'
abc = AdaBoostClassifier()
abc.fit(X_train, y_train)
train_predict = abc.predict(X_train)
test_predict = abc.predict(X_test)
print(modelName, 'training data accuracy score:', accuracy_score(y_train, train_predict))
print(modelName, 'test data accuracy score:', accuracy_score(y_test, test_predict))
print(modelName, 'training data recall score:', recall_score(y_train, train_predict))
print(modelName, 'test data recall score:', recall_score(y_test, test_predict))
print()
print(classification_report(y_test, test_predict))

AdaBoost training data accuracy score: 0.93125
AdaBoost test data accuracy score: 0.8625
AdaBoost training data recall score: 0.9404761904761905
AdaBoost test data recall score: 0.8333333333333334

              precision    recall  f1-score   support

           0       0.87      0.89      0.88        44
           1       0.86      0.83      0.85        36

    accuracy                           0.86        80
   macro avg       0.86      0.86      0.86        80
weighted avg       0.86      0.86      0.86        80

In [66]:
#XGBoost Classifier Model
from xgboost import XGBClassifier
modelName = 'XGBoost'
xgbc = XGBClassifier()
xgbc.fit(X_train, y_train)
train_predict = xgbc.predict(X_train)
test_predict = xgbc.predict(X_test)
print(modelName, 'training data accuracy score:', accuracy_score(y_train, train_predict))
print(modelName, 'test data accuracy score:', accuracy_score(y_test, test_predict))
print(modelName, 'training data recall score:', recall_score(y_train, train_predict))
print(modelName, 'test data recall score:', recall_score(y_test, test_predict))
print()
print(classification_report(y_test, test_predict))

XGBoost training data accuracy score: 0.95
XGBoost test data accuracy score: 0.8625
XGBoost training data recall score: 0.9583333333333334
XGBoost test data recall score: 0.8333333333333334

              precision    recall  f1-score   support

           0       0.87      0.89      0.88        44
           1       0.86      0.83      0.85        36

    accuracy                           0.86        80
   macro avg       0.86      0.86      0.86        80
weighted avg       0.86      0.86      0.86        80