## Day 35 Lecture 2 Assignment

In this assignment, we will combine what we have learned so far about classification algorithms this week.

In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [6]:
admission = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Admission_Predict.csv')

In [7]:
admission.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In this assignment, we will predict the probability of a student being admitted to a PhD program given their stats. To make the predictions, find the median for the Chance of Admit column. Create an admit column where all probabilities above the median will receive a 1 for that column and all probabilities below the median will be a zero.

Below you will process and clean the data, try the SVM classifier, the gradient boosted decision tree classifier and XGBoost, and compare your results.

Have fun!

In [8]:
# Answer below:
admission['Above Admission']=np.where(admission['Chance of Admit ']>admission['Chance of Admit '].median(),1,0)

In [9]:
admission.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
Above Admission      0
dtype: int64

In [10]:
admission['Above Admission'].value_counts()

0    209
1    191
Name: Above Admission, dtype: int64

In [11]:
admission['Research'].value_counts()

1    219
0    181
Name: Research, dtype: int64

The data for above Admission and Research both seem balanced.

##Accuracy and Classification matrix

In [12]:
from sklearn.metrics import classification_report
import time

def results(model):
    time_start = time.time()
    print('Train Accuracy:', model.score(X_train, y_train), 
          '| Test Accuracy:', model.score(X_test, y_test), 
          '| Execution time: {}'.format(time.time() - time_start))
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    res_train = y_train - y_train_pred
    res_test = y_test - y_test_pred
    print(classification_report(y_test, y_test_pred))
    display(pd.crosstab(y_test, y_test_pred))

##Train Test Split

In [13]:
X = admission.drop(['Serial No.', 'Chance of Admit ', 'Above Admission'], axis=1)
y = admission['Above Admission']

##Scaling Data

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
scaler.transform(X)

array([[ 1.76210664,  1.74697064,  0.79882862, ...,  1.16732114,
         1.76481828,  0.90911166],
       [ 0.62765641, -0.06763531,  0.79882862, ...,  1.16732114,
         0.45515126,  0.90911166],
       [-0.07046681, -0.56252785, -0.07660001, ...,  0.05293342,
        -1.00563118,  0.90911166],
       ...,
       [ 1.15124883,  1.41704229,  0.79882862, ...,  1.16732114,
         1.42900622,  0.90911166],
       [-0.41952842, -0.72749202, -0.07660001, ...,  0.61012728,
         0.30403584, -1.09997489],
       [ 1.41304503,  1.58200646,  0.79882862, ...,  0.61012728,
         1.78160888,  0.90911166]])

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=30)

## Logistic Regression

In [16]:
from sklearn.linear_model import LogisticRegression
LogReg = LogisticRegression(random_state=10)
LogReg.fit(X_train, y_train)
results(LogReg)

Train Accuracy: 0.8625 | Test Accuracy: 0.775 | Execution time: 0.0032193660736083984
              precision    recall  f1-score   support

           0       0.78      0.74      0.76        38
           1       0.77      0.81      0.79        42

    accuracy                           0.78        80
   macro avg       0.78      0.77      0.77        80
weighted avg       0.78      0.78      0.77        80

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

col_0             0   1
Above Admission
0                28  10
1                 8  34

##Support Vector Machine

In [17]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report
svm = SVC()
svm.fit(X_train, y_train)
results(svm)

Train Accuracy: 0.859375 | Test Accuracy: 0.8375 | Execution time: 0.005364894866943359
              precision    recall  f1-score   support

           0       0.82      0.84      0.83        38
           1       0.85      0.83      0.84        42

    accuracy                           0.84        80
   macro avg       0.84      0.84      0.84        80
weighted avg       0.84      0.84      0.84        80

col_0             0   1
Above Admission
0                32   6
1                 7  35

##Gradient Boosting Classifier

In [18]:
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier

In [19]:
gbc = GradientBoostingClassifier(learning_rate=.05, max_depth=5, n_estimators=10)
gbc.fit(X_train, y_train)
results(gbc)

Train Accuracy: 0.959375 | Test Accuracy: 0.8375 | Execution time: 0.002446413040161133
              precision    recall  f1-score   support

           0       0.86      0.79      0.82        38
           1       0.82      0.88      0.85        42

    accuracy                           0.84        80
   macro avg       0.84      0.84      0.84        80
weighted avg       0.84      0.84      0.84        80

col_0             0   1
Above Admission
0                30   8
1                 5  37

Gradient boosting algorithm clearly overfits

##Ada Boosting Classifier

In [40]:
abc = AdaBoostClassifier(n_estimators=10,learning_rate=.05,random_state=30)
abc.fit(X_train, y_train)
results(abc)

Train Accuracy: 0.8625 | Test Accuracy: 0.9125 | Execution time: 0.004866361618041992
              precision    recall  f1-score   support

           0       0.84      1.00      0.92        38
           1       1.00      0.83      0.91        42

    accuracy                           0.91        80
   macro avg       0.92      0.92      0.91        80
weighted avg       0.93      0.91      0.91        80

col_0             0   1
Above Admission
0                38   0
1                 7  35

Ada boosting as promising results

##XGradient Boosting

In [45]:
from xgboost import XGBClassifier
xgb = XGBClassifier(max_depth=1, learning_rate=.001)
xgb.fit(X_train,y_train)
results(xgb)

Train Accuracy: 0.8625 | Test Accuracy: 0.9125 | Execution time: 0.0026504993438720703
              precision    recall  f1-score   support

           0       0.84      1.00      0.92        38
           1       1.00      0.83      0.91        42

    accuracy                           0.91        80
   macro avg       0.92      0.92      0.91        80
weighted avg       0.93      0.91      0.91        80

col_0             0   1
Above Admission
0                38   0
1                 7  35

In the end it can be seen that adaboosting and XGBoosting have the are the best models for this dataset.