In [ ]:
import pandas as pd
from scipy import stats
import numpy as np
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [ ]:
read_data = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/lung-volume.csv")
read_data

     group patient    t1    t2
0        1     1-1  4226  4497
1        1     1-2  5731  5665
2        1     1-3  3912  4505
3        1     1-4  4811  6472
4        1     1-5  5128  4710
..     ...     ...   ...   ...
395      3    3-96  2819  2717
396      3    3-97  2809  2613
397      3    3-98  3338  3064
398      3    3-99  3173  3008
399      3   3-100  2309  2390

[400 rows x 4 columns]

In [ ]:
group_1 = read_data[read_data['group']==1]
group_2 = read_data[read_data['group']==2]
group_3 = read_data[read_data['group']==3]

In [ ]:
print('Group 1 t1:', stats.shapiro(group_1['t1']))
print('Group 1 t2:', stats.shapiro(group_1['t2']))

Group 1 t1: (0.9932351112365723, 0.4915737509727478)
Group 1 t2: (0.9955824613571167, 0.8313238024711609)

In [ ]:
print('Group 2 t1:', stats.shapiro(group_2['t1']))
print('Group 2 t2:', stats.shapiro(group_2['t2']))

Group 2 t1: (0.994020402431488, 0.9413013458251953)
Group 2 t2: (0.9911357164382935, 0.7556766271591187)

In [ ]:
print('Group 3 t1:', stats.shapiro(group_3['t1']))
print('Group 3 t2:', stats.shapiro(group_3['t2']))

Group 3 t1: (0.9901381731033325, 0.675767183303833)
Group 3 t2: (0.9781965613365173, 0.09609080106019974)

In [ ]:
print('Group 1 t1 std:', np.std(group_1['t1']))
print('Group 1 t2 std:', np.std(group_1['t2']))

Group 1 t1 std: 1053.8174957624299
Group 1 t2 std: 1007.0247633375255

In [ ]:
print('Group 2 t1 std:', np.std(group_2['t1'])) 
print('Group 2 t2 std:', np.std(group_2['t2']))

Group 2 t1 std: 1132.7310183799152
Group 2 t2 std: 1097.2471918396511

In [ ]:
print('Group 3 t1 std:', np.std(group_3['t1'])) 
print('Group 3 t2 std:', np.std(group_3['t2']))

Group 3 t1 std: 942.3098388534421
Group 3 t2 std: 973.6588566330614

In [ ]:
stats.ttest_rel(group_1['t1'],group_1['t2'])

Ttest_relResult(statistic=-0.31827677584963787, pvalue=0.7506087664956842)

In [ ]:
stats.ttest_rel(group_2['t1'],group_2['t2'])

Ttest_relResult(statistic=0.32745622415118286, pvalue=0.7440142766032991)

In [ ]:
stats.ttest_rel(group_3['t1'],group_3['t2'])

Ttest_relResult(statistic=0.8984773127301627, pvalue=0.37111115842334486)

we do not reject the null hypothesis there is no significant difference between the data.

**Question 2**

In [ ]:
tukey = pairwise_tukeyhsd(endog=read_data['t2'], groups =read_data['group'],alpha = 0.05)
tukey.summary()

There is significant difference between group 2 and 3, and group 1 and 3, thus group 3 is significantly different comparing to the other 2 groups

There is a significant when comparing group 1 to group 3, wherea group 3 and 2 have differences as well, but not 1 and 2.