## Day 28 Lecture 2 Assignment

In this assignment, we will learn about overfitting and regularization. We will use the king county housing dataset loaded below and analyze the regression from this dataset.

In [ ]:
%matplotlib inline

from sklearn.model_selection import train_test_split, cross_val_score
import math
from scipy.stats.mstats import winsorize
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import GridSearchCV

In [ ]:
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/kc_house_data.csv')

In [ ]:
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

Perform the same transformations in the previous assignment to meet model assumptions:
1. Remove all columns except: price, bedrooms, bathrooms, sqft_living, floors, waterfront
1. Remove outliers
1. Split the data into train and test subsets. 20% of the data should be in the test subset

In [ ]:
# answer below:
df = df[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors', 'waterfront']]

In [ ]:
df['price'] = winsorize(df['price'], (0, .1))
df['sqft_living'] = winsorize(df['sqft_living'], (0, .1))

In [ ]:
X = df.drop(columns='price')
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= .2)

Apply a ridge regression model with lambda=50 to the data and evaluate by looking at r squared for test and train

In [ ]:
# answer below:
rm = Ridge(alpha=50)
rm.fit(X_train, y_train)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [ ]:
y_train_pred = rm.predict(X_train)
y_test_pred = rm.predict(X_test)

In [ ]:
rm.score(X_train, y_train)

0.46758015964858546

In [ ]:
mean_absolute_error(y_test, y_test_pred)

128841.02818269898

In [ ]:
mean_squared_error(y_test, y_test_pred)

24878572001.3871

Perform a grid search for the following values of alpha: 0.001, 0.01, 0.1, 1, 10, 100, 1000 to find the most optimal ridge regression model. Experiment with different scoring metrics in the grid search (R^2 is the default, but you can use root mean squared error or many others). 
https://scikit-learn.org/stable/modules/model_evaluation.html

In [ ]:
#answer below:
grid = {'alpha': [0.001, 0.01, 0.1, 1, 10, 100, 1000]}

rd_test = GridSearchCV(Ridge(), grid, verbose=1, cv=5)

In [ ]:
rd_test.fit(X_train, y_train)

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  35 out of  35 | elapsed:    0.2s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [0.001, 0.01, 0.1, 1, 10, 100, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [ ]:
print(f"Best estimate: {rd_test.best_estimator_.alpha}")

Best estimate: 0.1