## Day 28 Lecture 2 Assignment

In this assignment, we will learn about overfitting and regularization. We will use the king county housing dataset loaded below and analyze the regression from this dataset.

In [1]:
%matplotlib inline

import math

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
king_county = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/kc_house_data.csv')

In [3]:
king_county.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

Perform the same transformations in the previous assignment to meet model assumptions:
1. Remove all columns except: price, bedrooms, bathrooms, sqft_living, floors, waterfront
1. Remove outliers
1. Split the data into train and test subsets. 20% of the data should be in the test subset

In [8]:
# answer below:
king_df = king_county[['price','bedrooms','bathrooms','sqft_living','floors','waterfront']]
king_df = king_df.loc[king_df['bedrooms'] != 33]
king_df = king_df.loc[king_df['sqft_living'] != 13540]

In [9]:
king_df.isnull().sum()

price          0
bedrooms       0
bathrooms      0
sqft_living    0
floors         0
waterfront     0
dtype: int64

Apply a ridge regression model with lambda=50 to the data and evaluate by looking at r squared for test and train

In [10]:
# answer below:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

y = king_df['price']
X = king_df.drop('price',axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [11]:
ridge = Ridge(alpha=50)
ridge.fit(X_train, y_train)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [13]:
print(f"\nRidge Train R^2: {ridge.score(X_train, y_train):.2f}")
print(f"Ridge Test R^2: {ridge.score(X_test, y_test):.2f}")

Ridge Train R^2: 0.55
Ridge Test R^2: 0.52

Perform a grid search for the following values of alpha: 0.001, 0.01, 0.1, 1, 10, 100, 1000 to find the most optimal ridge regression model. Experiment with different scoring metrics in the grid search (R^2 is the default, but you can use root mean squared error or many others). 
https://scikit-learn.org/stable/modules/model_evaluation.html

In [15]:
#answer below: R^2
from sklearn.model_selection import GridSearchCV

grid = {"alpha": [0.001, 0.01, 0.1, 1, 10, 100, 1000]}

ridge_cv = GridSearchCV(Ridge(), grid, verbose=1, cv=5)
ridge_cv.fit(X_train, np.log(y_train))

print(f"selected alpha: {ridge_cv.best_estimator_.alpha}")

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

selected alpha: 1

[Parallel(n_jobs=1)]: Done  35 out of  35 | elapsed:    0.3s finished

In [19]:
# mean_absolute_error
from sklearn.model_selection import GridSearchCV

grid = {"alpha": [0.001, 0.01, 0.1, 1, 10, 100, 1000]}

ridge_cv = GridSearchCV(Ridge(), grid, verbose=1, cv=5, scoring='neg_mean_absolute_error')
ridge_cv.fit(X_train, np.log(y_train))

print(f"selected alpha: {ridge_cv.best_estimator_.alpha}")

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

selected alpha: 0.001

[Parallel(n_jobs=1)]: Done  35 out of  35 | elapsed:    0.3s finished

In [20]:
# neg_root_mean_squared_error
from sklearn.model_selection import GridSearchCV

grid = {"alpha": [0.001, 0.01, 0.1, 1, 10, 100, 1000]}

ridge_cv = GridSearchCV(Ridge(), grid, verbose=1, cv=5, scoring='neg_root_mean_squared_error')
ridge_cv.fit(X_train, np.log(y_train))

print(f"selected alpha: {ridge_cv.best_estimator_.alpha}")

Fitting 5 folds for each of 7 candidates, totalling 35 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

selected alpha: 1

[Parallel(n_jobs=1)]: Done  35 out of  35 | elapsed:    0.3s finished