## Day 47 Lecture 2 Assignment

In this assignment, we will perform K-Medoids clustering using responses to a survey about student life at a university.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform
from pyclustering.cluster.kmedoids import kmedoids
import random

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [2]:
# answer goes here
data= pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv')

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [3]:
# answer goes here
survey = data.copy()
survey = survey.loc[:, survey.columns.str.startswith('Q5')]

The pyclustering implementation of kmedoids supports a variety of distance metrics, but they are primarily for numeric data. We will be using SMC/Hamming dissimilarity and precomputing the similarity matrix (an alternative would be to specify a user-defined function, which you are welcome to try in addition).

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

In [4]:
# answer goes here: full distance/dissimilarity matrix
dist = pd.DataFrame(squareform(pdist(survey, metric='hamming')))
dist

      0     1     2     3     4     5     ...  2952  2953  2954  2955  2956  2957
0      0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
1      0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2      0.1   0.1   0.0   0.7   0.4   0.2  ...   0.4   0.3   0.1   0.1   0.1   0.1
3      0.6   0.6   0.7   0.0   0.5   0.5  ...   0.3   0.6   0.6   0.6   0.6   0.8
4      0.3   0.3   0.4   0.5   0.0   0.2  ...   0.2   0.3   0.3   0.3   0.5   0.3
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
2953   0.2   0.2   0.3   0.6   0.3   0.3  ...   0.5   0.0   0.2   0.2   0.4   0.2
2954   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2955   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2956   0.2   0.2   0.1   0.6   0.5   0.3  ...   0.5   0.4   0.2   0.2   0.0   0.2
2957   0.2   0.2   0.1   0.8   0.3   0.3  ...   0.5   0.2   0.2   0.2   0.2   0.0

[2958 rows x 2958 columns]

In [5]:
# Pairwise matrix
pairwise = dist.copy()
pairwise['id'] = pairwise.index
dissim_pairs = pairwise.melt(id_vars='id')
dissim_pairs.columns = ['response_id_1', 'response_id_2', 'dissimilarity']
dissim_pairs

         response_id_1 response_id_2  dissimilarity
0                    0             0            0.0
1                    1             0            0.0
2                    2             0            0.1
3                    3             0            0.6
4                    4             0            0.3
...                ...           ...            ...
8749759           2953          2957            0.2
8749760           2954          2957            0.2
8749761           2955          2957            0.2
8749762           2956          2957            0.2
8749763           2957          2957            0.0

[8749764 rows x 3 columns]

Using the dissimilarity matrix, perform kmedoids clustering using k=2. Set the initial medoids randomly. Note that pyclustering expects the distance matrix to be a numpy array; a pandas dataframe may cause errors. 

Which survey responses are chosen as the cluster representatives? Print out the details of these responses.

In [6]:
# perform kmedoids clustering using k=2, setting initial medoids randomly
initial_medoids = survey.sample(2).index
kmedoids_instance = kmedoids(dist, initial_medoids, data_type="distance_matrix")
kmedoids_instance.process()

In [7]:
clusters = kmedoids_instance.get_clusters()
medoids = kmedoids_instance.get_medoids()

In [8]:
# Survey responses chosen as the clustering represntatives
survey.loc[medoids].style.background_gradient()

In [9]:
# Clustering identification for each survey response
for i in range(len(clusters)):
  survey.loc[clusters[i], 'cluster'] = i
survey

      Q5-Stressed about Adjustment issues  ...  cluster
0                                       0  ...      0.0
1                                       0  ...      0.0
2                                       0  ...      1.0
3                                       1  ...      0.0
4                                       0  ...      0.0
...                                   ...  ...      ...
2953                                    0  ...      0.0
2954                                    0  ...      0.0
2955                                    0  ...      0.0
2956                                    0  ...      1.0
2957                                    0  ...      1.0

[2958 rows x 11 columns]

If you run the previous cell a few times, you'll probably notice that the medoids are very sensitive to initialization. A common approach to produce well-separated clusters is to choose initial medoids that are far apart. Re-run the previous process, except with a random pair of medoids that have a dissimilarity of 0.8 or higher. Are the results more stable now? How would you describe the typical clusters you see?

In [10]:
high_dissim = dissim_pairs.loc[lambda x: x['dissimilarity'] >= 0.8]
high_dissim

         response_id_1 response_id_2  dissimilarity
245                245             0            0.8
263                263             0            0.8
496                496             0            0.8
752                752             0            0.8
812                812             0            0.8
...                ...           ...            ...
8743789           2899          2955            0.8
8744952           1104          2956            0.8
8745581           1733          2956            0.8
8746809              3          2957            0.8
8747948           1142          2957            0.8

[42828 rows x 3 columns]

In [11]:
# answer goes here
sample = high_dissim.sample(1)

initial_medoids = [sample.iloc[0, 0], sample.iloc[0, 1]]
kmedoids_instance = kmedoids(dist, initial_medoids, data_type="distance_matrix")
kmedoids_instance.process()
clusters = kmedoids_instance.get_clusters()
medoids = kmedoids_instance.get_medoids()

survey.loc[medoids].style.background_gradient()

In [12]:
for i in range(len(clusters)):
  survey.loc[clusters[i], 'cluster'] = i
survey

      Q5-Stressed about Adjustment issues  ...  cluster
0                                       0  ...      0.0
1                                       0  ...      0.0
2                                       0  ...      0.0
3                                       1  ...      1.0
4                                       0  ...      0.0
...                                   ...  ...      ...
2953                                    0  ...      0.0
2954                                    0  ...      0.0
2955                                    0  ...      0.0
2956                                    0  ...      0.0
2957                                    0  ...      0.0

[2958 rows x 11 columns]