## Day 47 Lecture 2 Assignment

In this assignment, we will perform K-Medoids clustering using responses to a survey about student life at a university.

In [1]:
# !pip install pyclustering

In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform
from pyclustering.cluster.kmedoids import kmedoids
from pyclustering.cluster import cluster_visualizer
import random

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [3]:
# answer goes here
url = 'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv'

survey_df = pd.read_csv(url)

survey_df.head()

   Q2-Participated in Societies and Interest Groups  ...  response_id
0                                                 0  ...            1
1                                                 0  ...            2
2                                                 0  ...            3
3                                                 1  ...            4
4                                                 1  ...            5

[5 rows x 36 columns]

In [4]:
survey_df.isnull().sum().loc[lambda x: x>0]

Series([], dtype: int64)

In [5]:
test1 = [np.nan, 1, 0 , np.nan]
test2 = [0, 1, 0 , 1]
test = pd.DataFrame({'test1':test1, 'test2':test2})
test.isnull().sum().loc[lambda x: x>0]

test1    2
dtype: int64

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [6]:
# answer goes here
stress_df = survey_df.filter(like='Q5', axis=1)

stress_df

      Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                       0  ...                         0
1                                       0  ...                         0
2                                       0  ...                         0
3                                       1  ...                         0
4                                       0  ...                         0
...                                   ...  ...                       ...
2953                                    0  ...                         0
2954                                    0  ...                         0
2955                                    0  ...                         0
2956                                    0  ...                         0
2957                                    0  ...                         0

[2958 rows x 10 columns]

The pyclustering implementation of kmedoids supports a variety of distance metrics, but they are primarily for numeric data. We will be using SMC/Hamming dissimilarity and precomputing the similarity matrix (an alternative would be to specify a user-defined function, which you are welcome to try in addition).

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

In [7]:
# answer goes here
ham_matrix_np = squareform(pdist(stress_df, metric ='hamming'))
ham_matrix = pd.DataFrame(ham_matrix_np, 
                          index=stress_df.index, columns=stress_df.index)
# np.fill_diagonal(ham_matrix.values, np.nan)
ham_matrix

      0     1     2     3     4     5     ...  2952  2953  2954  2955  2956  2957
0      0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
1      0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2      0.1   0.1   0.0   0.7   0.4   0.2  ...   0.4   0.3   0.1   0.1   0.1   0.1
3      0.6   0.6   0.7   0.0   0.5   0.5  ...   0.3   0.6   0.6   0.6   0.6   0.8
4      0.3   0.3   0.4   0.5   0.0   0.2  ...   0.2   0.3   0.3   0.3   0.5   0.3
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
2953   0.2   0.2   0.3   0.6   0.3   0.3  ...   0.5   0.0   0.2   0.2   0.4   0.2
2954   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2955   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2956   0.2   0.2   0.1   0.6   0.5   0.3  ...   0.5   0.4   0.2   0.2   0.0   0.2
2957   0.2   0.2   0.1   0.8   0.3   0.3  ...   0.5   0.2   0.2   0.2   0.2   0.0

[2958 rows x 2958 columns]

In [8]:
ham_matrix_np.shape

(2958, 2958)

Using the dissimilarity matrix, perform kmedoids clustering using k=2. Set the initial medoids randomly. Note that pyclustering expects the distance matrix to be a numpy array; a pandas dataframe may cause errors. 

Which survey responses are chosen as the cluster representatives? Print out the details of these responses.

In [9]:
# answer goes here
initial_medoids = stress_df.sample(2).index
kmedoids_instance = kmedoids(ham_matrix_np, initial_medoids, data_type='distance_matrix')

In [10]:
kmedoids_instance.process()

In [11]:
clusters = kmedoids_instance.get_clusters()
medoids = kmedoids_instance.get_medoids()

In [12]:
cluster_series = pd.concat([pd.Series(i, index=clusters[i],name='cluster') for i in range(len(clusters))],0).sort_index()

In [13]:
stress_df = pd.concat([stress_df, cluster_series],1)
stress_df

      Q5-Stressed about Adjustment issues  ...  cluster
0                                       0  ...        1
1                                       0  ...        1
2                                       0  ...        1
3                                       1  ...        0
4                                       0  ...        1
...                                   ...  ...      ...
2953                                    0  ...        1
2954                                    0  ...        1
2955                                    0  ...        1
2956                                    0  ...        1
2957                                    0  ...        1

[2958 rows x 11 columns]

In [14]:
stress_df['cluster'].value_counts()

1    2161
0     797
Name: cluster, dtype: int64

In [15]:
medoids

[2938, 1344]

In [16]:
stress_df.loc[medoids]

      Q5-Stressed about Adjustment issues  ...  cluster
2938                                    1  ...        0
1344                                    0  ...        1

[2 rows x 11 columns]

If you run the previous cell a few times, you'll probably notice that the medoids are very sensitive to initialization. A common approach to produce well-separated clusters is to choose initial medoids that are far apart. Re-run the previous process, except with a random pair of medoids that have a dissimilarity of 0.8 or higher. Are the results more stable now? How would you describe the typical clusters you see?

In [17]:
# answer goes here
ham_matrix['id'] = ham_matrix.index
ham_matrix_melted = pd.melt(ham_matrix, id_vars=['id'], value_vars=ham_matrix.columns[ham_matrix.columns != 'id'])
ham_matrix_melted.columns = ['response_id_1', 'response_id_2', 'dissimilarity']
ham_matrix_melted

         response_id_1 response_id_2  dissimilarity
0                    0             0            0.0
1                    1             0            0.0
2                    2             0            0.1
3                    3             0            0.6
4                    4             0            0.3
...                ...           ...            ...
8749759           2953          2957            0.2
8749760           2954          2957            0.2
8749761           2955          2957            0.2
8749762           2956          2957            0.2
8749763           2957          2957            0.0

[8749764 rows x 3 columns]

In [18]:
x,y = np.where(ham_matrix_np >=0.8)
i = np.random.randint(len(x))
random_pos = [x[i],y[i]]

In [19]:
# initial_medoids_dissim = ham_matrix_melted.loc[lambda x: x['dissimilarity']>=0.8].sample(1)[['response_id_1','response_id_2']].values.tolist()[0]
initial_medoids_dissim = random_pos
kmedoids_instance_dissim = kmedoids(ham_matrix_np, initial_medoids_dissim, data_type='distance_matrix')

In [20]:
kmedoids_instance_dissim.process()

In [21]:
clusters_dissim = kmedoids_instance_dissim.get_clusters()
medoids_dissim = kmedoids_instance_dissim.get_medoids()

In [22]:
cluster__dissim_series = pd.concat([pd.Series(i, index=clusters_dissim[i],name='cluster_dissim') for i in range(len(clusters_dissim))],0).sort_index()

In [23]:
stress_df = pd.concat([stress_df, cluster__dissim_series],1)
stress_df

      Q5-Stressed about Adjustment issues  ...  cluster_dissim
0                                       0  ...               1
1                                       0  ...               1
2                                       0  ...               1
3                                       1  ...               0
4                                       0  ...               0
...                                   ...  ...             ...
2953                                    0  ...               1
2954                                    0  ...               1
2955                                    0  ...               1
2956                                    0  ...               1
2957                                    0  ...               1

[2958 rows x 12 columns]

In [24]:
stress_df['cluster_dissim'].value_counts()

1    1851
0    1107
Name: cluster_dissim, dtype: int64

In [25]:
medoids_dissim

[65, 0]

In [26]:
stress_df.loc[medoids_dissim]

    Q5-Stressed about Adjustment issues  ...  cluster_dissim
65                                    1  ...               0
0                                     0  ...               1

[2 rows x 12 columns]

This is a little more stable and the final medoids tend to be more disimiliar compared to the random chance before. 

1 cluster tends to be more "stressed" than the other cluster, which almost always has only "academic stress" and zeros.