## Day 47 Lecture 2 Assignment

In this assignment, we will perform K-Medoids clustering using responses to a survey about student life at a university.

In [32]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform
from pyclustering.cluster.kmedoids import kmedoids
import random
import gower

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [33]:
# answer goes here
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv')
df.head()

   Q2-Participated in Societies and Interest Groups  ...  response_id
0                                                 0  ...            1
1                                                 0  ...            2
2                                                 0  ...            3
3                                                 1  ...            4
4                                                 1  ...            5

[5 rows x 36 columns]

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [34]:
# answer goes here
X = df.filter(regex='Q5')
X.head()

   Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                    0  ...                         0
1                                    0  ...                         0
2                                    0  ...                         0
3                                    1  ...                         0
4                                    0  ...                         0

[5 rows x 10 columns]

The pyclustering implementation of kmedoids supports a variety of distance metrics, but they are primarily for numeric data. We will be using SMC/Hamming dissimilarity and precomputing the similarity matrix (an alternative would be to specify a user-defined function, which you are welcome to try in addition).

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

In [35]:
# answer goes here
res = pdist(X, 'hamming')
res_pd = pd.DataFrame(squareform(res), index=X.index, columns=X.index)
res_pd.head()

   0     1     2     3     4     5     ...  2952  2953  2954  2955  2956  2957
0   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
1   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2   0.1   0.1   0.0   0.7   0.4   0.2  ...   0.4   0.3   0.1   0.1   0.1   0.1
3   0.6   0.6   0.7   0.0   0.5   0.5  ...   0.3   0.6   0.6   0.6   0.6   0.8
4   0.3   0.3   0.4   0.5   0.0   0.2  ...   0.2   0.3   0.3   0.3   0.5   0.3

[5 rows x 2958 columns]

In [36]:
res_pd._get_value(0,1)

0.0

Using the dissimilarity matrix, perform kmedoids clustering using k=2. Set the initial medoids randomly. Note that pyclustering expects the distance matrix to be a numpy array; a pandas dataframe may cause errors. 

Which survey responses are chosen as the cluster representatives? Print out the details of these responses.

In [37]:
# answer goes here
initial_medoids = X.sample(2).index
kmedoids_instance = kmedoids(res_pd, initial_medoids, data_type="distance_matrix")

In [38]:
initial_medoids

Int64Index([370, 2506], dtype='int64')

In [39]:
kmedoids_instance.process()

In [40]:
clusters = kmedoids_instance.get_clusters()
medoids = kmedoids_instance.get_medoids()

In [41]:
X["cluster"] = 0

for i in range(len(clusters)):
    X.loc[clusters[i], "cluster"] = i

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [42]:
X.cluster.value_counts()

0    2575
1     383
Name: cluster, dtype: int64

In [43]:
X

      Q5-Stressed about Adjustment issues  ...  cluster
0                                       0  ...        0
1                                       0  ...        0
2                                       0  ...        0
3                                       1  ...        1
4                                       0  ...        1
...                                   ...  ...      ...
2953                                    0  ...        0
2954                                    0  ...        0
2955                                    0  ...        0
2956                                    0  ...        0
2957                                    0  ...        0

[2958 rows x 11 columns]

In [44]:
X.loc[medoids].style.background_gradient()

If you run the previous cell a few times, you'll probably notice that the medoids are very sensitive to initialization. A common approach to produce well-separated clusters is to choose initial medoids that are far apart. Re-run the previous process, except with a random pair of medoids that have a dissimilarity of 0.8 or higher. Are the results more stable now? How would you describe the typical clusters you see?

In [45]:
# answer goes here
hd = []
for row in range(res_pd.shape[0]): # df is the DataFrame
    for col in range(res_pd.shape[1]):
        if res_pd._get_value(row,col) >= 0.8:
            hd.append([row, col])
            break

In [46]:
initial_medoids = random.sample(hd, 1)
initial_medoids[0]

[2811, 245]

In [47]:
initial_medoids = random.sample(hd, 1)
kmedoids_instance = kmedoids(res_pd, initial_medoids[0], data_type="distance_matrix")
kmedoids_instance.process()
clusters = kmedoids_instance.get_clusters()
medoids = kmedoids_instance.get_medoids()
X["cluster"] = 0

for i in range(len(clusters)):
    X.loc[clusters[i], "cluster"] = i

X.loc[medoids].style.background_gradient()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [48]:
X.cluster.value_counts()

0    2692
1     266
Name: cluster, dtype: int64

In [49]:
X

      Q5-Stressed about Adjustment issues  ...  cluster
0                                       0  ...        0
1                                       0  ...        0
2                                       0  ...        0
3                                       1  ...        1
4                                       0  ...        0
...                                   ...  ...      ...
2953                                    0  ...        0
2954                                    0  ...        0
2955                                    0  ...        0
2956                                    0  ...        0
2957                                    0  ...        0

[2958 rows x 11 columns]

*Even with selecting medoids with 0.8 or above dissimilarity, the clusters can get imbalanced. There is no trend to be seen from the dissimilarity matrix.*