## Day 47 Lecture 2 Assignment

In this assignment, we will perform K-Medoids clustering using responses to a survey about student life at a university.

In [ ]:
#!pip install pyclustering

Collecting pyclustering
  Downloading https://files.pythonhosted.org/packages/e4/4b/abf4b42963e6a67dfdd85781d63e9fc4b488805aa2bbe5ba57f91a2758e0/pyclustering-0.10.0.1.tar.gz (2.7MB)
     |████████████████████████████████| 2.7MB 4.8MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from pyclustering) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from pyclustering) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pyclustering) (1.18.5)
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pyclustering) (7.0.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyclustering) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyclustering) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyclustering) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyclustering) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib->pyclustering) (1.15.0)
Building wheels for collected packages: pyclustering
  Building wheel for pyclustering (setup.py) ... done
  Created wheel for pyclustering: filename=pyclustering-0.10.0.1-cp36-none-any.whl size=2615590 sha256=3ab6b2d312fb0bc9cf2cc7fec9fd575c2a4f6b94a671aefd679ec553f5434911
  Stored in directory: /root/.cache/pip/wheels/7c/eb/8d/ce15daecf5a50483a8fbaf1d1e3cb2d7bbaeb0ad709af32419
Successfully built pyclustering
Installing collected packages: pyclustering
Successfully installed pyclustering-0.10.0.1

In [ ]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform
from pyclustering.cluster.kmedoids import kmedoids
import random

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [ ]:
# answer goes here
data = 'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv'
df = pd.read_csv(data)
df

      Q2-Participated in Societies and Interest Groups  ...  response_id
0                                                    0  ...            1
1                                                    0  ...            2
2                                                    0  ...            3
3                                                    1  ...            4
4                                                    1  ...            5
...                                                ...  ...          ...
2953                                                 1  ...         2954
2954                                                 1  ...         2955
2955                                                 1  ...         2956
2956                                                 0  ...         2957
2957                                                 0  ...         2958

[2958 rows x 36 columns]

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [ ]:
# answer goes here
q5 = df.filter(like='Q5', axis=1)
q5

      Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                       0  ...                         0
1                                       0  ...                         0
2                                       0  ...                         0
3                                       1  ...                         0
4                                       0  ...                         0
...                                   ...  ...                       ...
2953                                    0  ...                         0
2954                                    0  ...                         0
2955                                    0  ...                         0
2956                                    0  ...                         0
2957                                    0  ...                         0

[2958 rows x 10 columns]

In [ ]:
qq = q5.copy()

The pyclustering implementation of kmedoids supports a variety of distance metrics, but they are primarily for numeric data. We will be using SMC/Hamming dissimilarity and precomputing the similarity matrix (an alternative would be to specify a user-defined function, which you are welcome to try in addition).

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

In [ ]:
# answer goes here

dist = pdist(q5, metric='hamming')
matrix = squareform(dist)

Using the dissimilarity matrix, perform kmedoids clustering using k=2. Set the initial medoids randomly. Note that pyclustering expects the distance matrix to be a numpy array; a pandas dataframe may cause errors. 

Which survey responses are chosen as the cluster representatives? Print out the details of these responses.

In [ ]:
# answer goes here
clusters_count = 2
initial = q5.sample(clusters_count).index
kmedoid = kmedoids(matrix, initial, data_type='distance_matrix')

In [ ]:
kmedoid.process()

In [ ]:
clusters = kmedoid.get_clusters()
medoids = kmedoid.get_medoids()

In [ ]:
q5['cluster'] = 0
for i in range(len(clusters)):
  q5.loc[clusters[i], 'cluster'] = i

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
q5.cluster.value_counts()

0    2370
1     588
Name: cluster, dtype: int64

In [ ]:
q5.loc[medoids]

      Q5-Stressed about Adjustment issues  ...  cluster
0                                       0  ...        0
1876                                    0  ...        1

[2 rows x 11 columns]

In [ ]:
initial

Int64Index([447, 1876], dtype='int64')

If you run the previous cell a few times, you'll probably notice that the medoids are very sensitive to initialization. A common approach to produce well-separated clusters is to choose initial medoids that are far apart. Re-run the previous process, except with a random pair of medoids that have a dissimilarity of 0.8 or higher. Are the results more stable now? How would you describe the typical clusters you see?

In [ ]:
# answer goes here
simi = pdist(q5, metric='hamming')
simi_mat = pd.DataFrame(squareform(simi))

In [ ]:
simi_mat['id'] = simi_mat.index
simi_melt = pd.melt(simi_mat,id_vars=['id'], value_vars=simi_mat.columns[simi_mat.columns != 'id'])
simi_melt.columns = ['response_id_1', 'response_id_2', 'dissimilarity']

In [ ]:
ova = simi_melt.loc[lambda x: x['dissimilarity'] > .8]

In [ ]:
dist1 = pdist(qq, metric='hamming')
matrix1 = squareform(dist1)

In [ ]:
sample = ova.sample(1)
initial1 = [sample.iloc[0,0], sample.iloc[0,1]]
kmedoid1 = kmedoids(matrix1, initial1, data_type='distance_matrix')

In [ ]:
kmedoid1.process()

In [ ]:
clusters1 = kmedoid1.get_clusters()
medoids1 = kmedoid1.get_medoids()

In [ ]:
#qq.drop(columns='cluster', inplace=True)

In [ ]:
qq['cluster'] = 0
for i in range(len(clusters1)):
  qq.loc[clusters1[i], 'cluster'] = i

In [ ]:
qq.cluster.value_counts()

0    2397
1     561
Name: cluster, dtype: int64

In [ ]:
qq.loc[medoids1]

     Q5-Stressed about Adjustment issues  ...  cluster
971                                    0  ...        0
134                                    1  ...        1

[2 rows x 11 columns]

In [ ]:
initial1

[971, 1796]