## Day 47 Lecture 1 Assignment

In this assignment, we will apply k-means clustering to a dataset containing player-season statistics for NBA players from the past four years.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

This dataset contains player-season statistics for NBA players from the past four years. Each row in this dataset represents a player's per-game averages for a single season. 

This dataset contains the following variables:

- Seas: season ('2019' = 2018-2019 season, '2018' = 2017-2018 season, etc.)
- Player: player name
- Pos: position
- Age: age
- Tm: team
- G: games played
- GS: games started
- MP: minutes played
- FG: field goals
- FGA: field goals attempted
- FG%: field goal percentage
- 3P: 3 pointers
- 3PA: 3 pointers attempted
- 3P%: 3 point percentage
- 2P: 2 pointers
- 2PA: 2 pointers attempted
- 2P%: 2 point percentage
- eFG%: effective field goal percentage
- FT: free throws
- FTA: free throws attempted
- FT%: free throw percentage
- ORB: offensive rebound
- DRB: defensive rebound
- TRB: total rebounds
- AST: assists
- STL: steals
- BLK: blocks
- TOV: turnovers
- PF: personal fouls
- PTS: points

Load the dataset.

In [2]:
# answer goes here
nba = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/nba_player_seasons.csv')
print(nba.shape)
nba.head()

(2141, 30)

   Seas        Player Pos  Age   Tm   G  GS  ...  TRB  AST  STL  BLK  TOV   PF   PTS
0  2019  Álex Abrines  SG   25  OKC  31   2  ...  1.5  0.6  0.5  0.2  0.5  1.7   5.3
1  2019    Quincy Acy  PF   28  PHO  10   0  ...  2.5  0.8  0.1  0.4  0.4  2.4   1.7
2  2019  Jaylen Adams  PG   22  ATL  34   1  ...  1.8  1.9  0.4  0.1  0.8  1.3   3.2
3  2019  Steven Adams   C   25  OKC  80  80  ...  9.5  1.6  1.5  1.0  1.7  2.6  13.9
4  2019   Bam Adebayo   C   21  MIA  82  28  ...  7.3  2.2  0.9  0.8  1.5  2.5   8.9

[5 rows x 30 columns]

The goal is to cluster these player-seasons to identify potential player "archetypes".

Begin by removing players whose season did not meet one of the following criteria:
1. Started at least 20 games
2. Averaged at least 10 minutes per game

In [6]:
# answer goes here
#less_20g = nba[nba['GS'] < 20]
#less_10mp = nba[nba['MP'] < 10.0]

#cleaned data with players meeting criteria
nba_clean = nba[(nba['MP'] >= 10.0) & (nba['GS'] >= 20)]

In [7]:
nba_clean

      Seas             Player Pos  Age   Tm   G  ...  AST  STL  BLK  TOV   PF   PTS
3     2019       Steven Adams   C   25  OKC  80  ...  1.6  1.5  1.0  1.7  2.6  13.9
4     2019        Bam Adebayo   C   21  MIA  82  ...  2.2  0.9  0.8  1.5  2.5   8.9
7     2019  LaMarcus Aldridge   C   33  SAS  81  ...  2.4  0.5  1.3  1.8  2.2  21.3
10    2019      Jarrett Allen   C   20  BRK  80  ...  1.4  0.5  1.5  1.3  2.3  10.9
12    2019    Al-Farouq Aminu  PF   28  POR  81  ...  1.3  0.8  0.4  0.9  1.8   9.4
...    ...                ...  ..  ...  ...  ..  ...  ...  ...  ...  ...  ...   ...
2122  2016     Deron Williams  PG   31  DAL  65  ...  5.8  0.9  0.2  2.3  2.4  14.1
2125  2016       Lou Williams  SG   29  LAL  67  ...  2.5  0.9  0.3  1.6  1.6  15.3
2126  2016    Marvin Williams  PF   29  CHO  81  ...  1.4  0.7  1.0  0.8  1.6  11.7
2138  2016     Thaddeus Young  PF   27  BRK  73  ...  1.8  1.5  0.5  1.9  2.5  15.1
2139  2016        Cody Zeller   C   23  CHO  73  ...  1.0  0.8  0.9  0.9  2.8   8.7

[804 rows x 30 columns]

Choose a subset of numeric columns that is interesting to you from an "archetypal" standpoint. 

We will choose the following basic statistics: **points, total rebounds, assists, steals, blocks**, and **turnovers**, but you should feel free to choose other reasonable feature sets if you like. Be careful not to include too many dimensions (curse of dimensionality).

In [8]:
# answer goes here
#ast, trb, stl, blk, tov, pts adding free throws(ft)
X = nba_clean[['AST', 'TRB', 'STL', 'BLK', 'TOV', 'PTS', 'FT']]
X

      AST  TRB  STL  BLK  TOV   PTS   FT
3     1.6  9.5  1.5  1.0  1.7  13.9  1.8
4     2.2  7.3  0.9  0.8  1.5   8.9  2.0
7     2.4  9.2  0.5  1.3  1.8  21.3  4.3
10    1.4  8.4  0.5  1.5  1.3  10.9  2.5
12    1.3  7.5  0.8  0.4  0.9   9.4  1.9
...   ...  ...  ...  ...  ...   ...  ...
2122  5.8  2.9  0.9  0.2  2.3  14.1  2.8
2125  2.5  2.5  0.9  0.3  1.6  15.3  5.3
2126  1.4  6.4  0.7  1.0  0.8  11.7  1.5
2138  1.8  9.0  1.5  0.5  1.9  15.1  1.4
2139  1.0  6.2  0.8  0.9  0.9   8.7  2.4

[804 rows x 7 columns]

Standardize the features in your dataset using scikit-learn's StandardScaler, which will set the mean of each feature to 0 and the variance to 1.

In [9]:
# answer goes here
scale = StandardScaler()
X_scale = pd.DataFrame(scale.fit_transform(X), columns=X.columns)
X_scale

          AST       TRB       STL       BLK       TOV       PTS        FT
0   -0.617816  1.612909  1.393220  0.824001  0.023511  0.114638 -0.281459
1   -0.330886  0.768627 -0.050271  0.420162 -0.218831 -0.744985 -0.155144
2   -0.235242  1.497780 -1.012598  1.429758  0.144681  1.386880  1.297476
3   -0.713459  1.190768 -1.012598  1.833596 -0.461172 -0.401136  0.160643
4   -0.761281  0.845380 -0.290853 -0.387514 -0.945854 -0.659023 -0.218302
..        ...       ...       ...       ...       ...       ...       ...
799  1.390695 -0.919937 -0.050271 -0.791352  0.750535  0.149023  0.350115
800 -0.187421 -1.073443 -0.050271 -0.589433 -0.097660  0.355332  1.929050
801 -0.713459  0.423239 -0.531435  0.824001 -1.067025 -0.263596 -0.470931
802 -0.522172  1.421027  1.393220 -0.185595  0.265852  0.320947 -0.534089
803 -0.904746  0.346486 -0.290853  0.622082 -0.945854 -0.779370  0.097485

[804 rows x 7 columns]

Run K-means clustering with K = 3 and print out the resulting centroids. When printing the centroids, transform the scaled centroids back into their corresponding unscaled values. What "archetypes" do you see?

In [13]:
# answer goes here
kmeans = KMeans(n_clusters=3)

#fit model
#corresponding clusters 
X['cluster'] = kmeans.fit_predict(X_scale)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      AST  TRB  STL  BLK  TOV   PTS   FT  cluster
3     1.6  9.5  1.5  1.0  1.7  13.9  1.8        2
4     2.2  7.3  0.9  0.8  1.5   8.9  2.0        1
7     2.4  9.2  0.5  1.3  1.8  21.3  4.3        2
10    1.4  8.4  0.5  1.5  1.3  10.9  2.5        2
12    1.3  7.5  0.8  0.4  0.9   9.4  1.9        1
...   ...  ...  ...  ...  ...   ...  ...      ...
2122  5.8  2.9  0.9  0.2  2.3  14.1  2.8        0
2125  2.5  2.5  0.9  0.3  1.6  15.3  5.3        1
2126  1.4  6.4  0.7  1.0  0.8  11.7  1.5        1
2138  1.8  9.0  1.5  0.5  1.9  15.1  1.4        2
2139  1.0  6.2  0.8  0.9  0.9   8.7  2.4        1

[804 rows x 8 columns]

In [14]:
#inversing scaled transformation
clusters = scale.inverse_transform(kmeans.cluster_centers_)

In [16]:
#making into dataframe to see values and correlations
clusters = pd.DataFrame(clusters, columns=X_scale.columns)
clusters.style.background_gradient()

It seems that 3 clusters is not the best k for this dataset as cluster labeled 0 has the highest points in 5 of the 7 categories and cluster labeled 2 holds the last remaining 2 highest points. Cluster labeld 1 does not have any high or closely high data points.

Experiment with different values of K. Do any further interesting archetypes come out?

In [20]:
#k=2
kmeans = KMeans(n_clusters=2)

#fit model
kmeans.fit_predict(X_scale)

#clusters
clusters = scale.inverse_transform(kmeans.cluster_centers_)

#dataframe
clusters = pd.DataFrame(clusters, columns=X_scale.columns)
clusters.style.background_gradient()

In [17]:
# answer goes here
#k=4
kmeans = KMeans(n_clusters=4)

#fit model
kmeans.fit_predict(X_scale)

#clusters
clusters = scale.inverse_transform(kmeans.cluster_centers_)

#dataframe
clusters = pd.DataFrame(clusters, columns=X_scale.columns)
clusters.style.background_gradient()

In [18]:
#k=5
kmeans = KMeans(n_clusters=5)

#fit model
kmeans.fit_predict(X_scale)

#clusters
clusters = scale.inverse_transform(kmeans.cluster_centers_)

#dataframe
clusters = pd.DataFrame(clusters, columns=X_scale.columns)
clusters.style.background_gradient()

When I changed k to 4 and 5, the clusters showed a drastic difference in where the highest points were located. When n_clusters=4, cluster labeled 0 had the most of the highest points (5/7) similarily when n_clusters=3. When n_clusters=5, cluster labeled 4 held the most of the highest points instead of cluster labeled 0. 

When n_clusters=2, the clusters show a distinct seperation between the 2 clusters where one (cluster labeled 1) holds all the highest points and the other (cluster labeled 0) holds none of the highest points.

The 5 statistics that always seem to be in the same cluster are Assists, Steals, Turn overs, points, and free throws. Grouping these statistics together make sense as usually the team/player who has the highest points in one usually has the highest points in the others which would make them the better player. 
(except for turnovers those don't make sense to me to be in the same cluster.)