## Day 47 Lecture 1 Assignment

In this assignment, we will apply k-means clustering to a dataset containing player-season statistics for NBA players from the past four years.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

This dataset contains player-season statistics for NBA players from the past four years. Each row in this dataset represents a player's per-game averages for a single season. 

This dataset contains the following variables:

- Seas: season ('2019' = 2018-2019 season, '2018' = 2017-2018 season, etc.)
- Player: player name
- Pos: position
- Age: age
- Tm: team
- G: games played
- GS: games started
- MP: minutes played
- FG: field goals
- FGA: field goals attempted
- FG%: field goal percentage
- 3P: 3 pointers
- 3PA: 3 pointers attempted
- 3P%: 3 point percentage
- 2P: 2 pointers
- 2PA: 2 pointers attempted
- 2P%: 2 point percentage
- eFG%: effective field goal percentage
- FT: free throws
- FTA: free throws attempted
- FT%: free throw percentage
- ORB: offensive rebound
- DRB: defensive rebound
- TRB: total rebounds
- AST: assists
- STL: steals
- BLK: blocks
- TOV: turnovers
- PF: personal fouls
- PTS: points

Load the dataset.

In [2]:
# answer goes here
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/nba_player_seasons.csv')

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2141 entries, 0 to 2140
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Seas    2141 non-null   int64
 1   Player  2141 non-null   object
 2   Pos     2141 non-null   object
 3   Age     2141 non-null   int64
 4   Tm      2141 non-null   object
 5   G       2141 non-null   int64
 6   GS      2141 non-null   int64
 7   MP      2141 non-null   float64
 8   FG      2141 non-null   float64
 9   FGA     2141 non-null   float64
 10  FG%     2131 non-null   float64
 11  3P      2141 non-null   float64
 12  3PA     2141 non-null   float64
 13  3P%     1967 non-null   float64
 14  2P      2141 non-null   float64
 15  2PA     2141 non-null   float64
 16  2P%     2110 non-null   float64
 17  eFG%    2131 non-null   float64
 18  FT      2141 non-null   float64
 19  FTA     2141 non-null   float64
 20  FT%     2037 non-null   float64
 21  ORB     2141 non-null   float64
 22  DRB     2141 non-null   float64
 23  TRB     2141 non-null   float64
 24  AST     2141 non-null   float64
 25  STL     2141 non-null   float64
 26  BLK     2141 non-null   float64
 27  TOV     2141 non-null   float64
 28  PF      2141 non-null   float64
 29  PTS     2141 non-null   float64
dtypes: float64(23), int64(4), object(3)
memory usage: 501.9+ KB

   Seas        Player Pos  Age   Tm   G  GS  ...  TRB  AST  STL  BLK  TOV   PF   PTS
0  2019  Álex Abrines  SG   25  OKC  31   2  ...  1.5  0.6  0.5  0.2  0.5  1.7   5.3
1  2019    Quincy Acy  PF   28  PHO  10   0  ...  2.5  0.8  0.1  0.4  0.4  2.4   1.7
2  2019  Jaylen Adams  PG   22  ATL  34   1  ...  1.8  1.9  0.4  0.1  0.8  1.3   3.2
3  2019  Steven Adams   C   25  OKC  80  80  ...  9.5  1.6  1.5  1.0  1.7  2.6  13.9
4  2019   Bam Adebayo   C   21  MIA  82  28  ...  7.3  2.2  0.9  0.8  1.5  2.5   8.9

[5 rows x 30 columns]

The goal is to cluster these player-seasons to identify potential player "archetypes".

Begin by removing players whose season did not meet one of the following criteria:
1. Started at least 20 games
2. Averaged at least 10 minutes per game

In [10]:
# answer goes here
nba = df.loc[(df['GS'] >= 20) & (df['MP'] >= 10)]

nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 804 entries, 3 to 2139
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Seas    804 non-null    int64
 1   Player  804 non-null    object
 2   Pos     804 non-null    object
 3   Age     804 non-null    int64
 4   Tm      804 non-null    object
 5   G       804 non-null    int64
 6   GS      804 non-null    int64
 7   MP      804 non-null    float64
 8   FG      804 non-null    float64
 9   FGA     804 non-null    float64
 10  FG%     804 non-null    float64
 11  3P      804 non-null    float64
 12  3PA     804 non-null    float64
 13  3P%     771 non-null    float64
 14  2P      804 non-null    float64
 15  2PA     804 non-null    float64
 16  2P%     804 non-null    float64
 17  eFG%    804 non-null    float64
 18  FT      804 non-null    float64
 19  FTA     804 non-null    float64
 20  FT%     804 non-null    float64
 21  ORB     804 non-null    float64
 22  DRB     804 non-null    float64
 23  TRB     804 non-null    float64
 24  AST     804 non-null    float64
 25  STL     804 non-null    float64
 26  BLK     804 non-null    float64
 27  TOV     804 non-null    float64
 28  PF      804 non-null    float64
 29  PTS     804 non-null    float64
dtypes: float64(23), int64(4), object(3)
memory usage: 194.7+ KB

Choose a subset of numeric columns that is interesting to you from an "archetypal" standpoint. 

We will choose the following basic statistics: **points, total rebounds, assists, steals, blocks**, and **turnovers**, but you should feel free to choose other reasonable feature sets if you like. Be careful not to include too many dimensions (curse of dimensionality).

In [16]:
# answer goes here
X = nba.loc[:,['PTS','TRB','AST','STL','BLK','TOV']]

X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 804 entries, 3 to 2139
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PTS     804 non-null    float64
 1   TRB     804 non-null    float64
 2   AST     804 non-null    float64
 3   STL     804 non-null    float64
 4   BLK     804 non-null    float64
 5   TOV     804 non-null    float64
dtypes: float64(6)
memory usage: 44.0 KB

Standardize the features in your dataset using scikit-learn's StandardScaler, which will set the mean of each feature to 0 and the variance to 1.

In [24]:
# answer goes here
scale = StandardScaler()
X_scale = pd.DataFrame(scale.fit_transform(X), columns=X.columns)

Run K-means clustering with K = 3 and print out the resulting centroids. When printing the centroids, transform the scaled centroids back into their corresponding unscaled values. What "archetypes" do you see?

In [26]:
# answer goes here
kmeans = KMeans(n_clusters=3)

kmeans.fit_predict(X_scale)

centers = pd.DataFrame(kmeans.cluster_centers_,columns=X.columns)

centers_inverse = pd.DataFrame(scale.inverse_transform(centers), columns=X.columns)
centers_inverse.style.background_gradient()

One group (probably more guards) seems to contain the higher scoring players who also have more assists, steals, and turnovers. Another group (probably more centers and forwards) has players with many more rebounds and blocks. The final group doesn't stand out in any category. This is probably your less skillied role players.

Experiment with different values of K. Do any further interesting archetypes come out?

In [32]:
# answer goes here
kmeans = KMeans(n_clusters=6)

kmeans.fit_predict(X_scale)

centers = pd.DataFrame(kmeans.cluster_centers_,columns=X.columns)

centers_inverse = pd.DataFrame(scale.inverse_transform(centers), columns=X.columns)
centers_inverse.style.background_gradient()

At higher Ks (4-7) you start to see sub sets of similiar groups. For example at a K of 6 you have a group (5) of players that scores more per game in 4 of 6 categories than any other gourp. You also see a 2nd group (3) that is similiar, but scores less than the 1st group. However, this group is 2nd in scoring in the same 4 of 6 categories as the first. Just like with a K of 3 we discover an archetype of higher scoring, assists, steals, and turnover, but a higher and lower scoring version of that archetype emerges.

You still see a group (0) that clusters around the best rebounds and blocks per game numbers. But you also a see a worse ppg group (5) that has similiar charateristics. There seems to be a higher and lower scoring version of the block/rebound archetype. You also see a group (1) that has really low ppg averages in all categories, just like with a K of 3. 

Overall, you see sub clusters of similiar groups from what we saw with a K of 3.