## Day 23 Lecture 1 Assignment

In this assignment, we will explore feature selection and dimensionality reduction techniques. We will use both the FIFA ratings dataset and the Chicago traffic crashes dataset.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
crash_data = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/traffic_crashes_chicago.csv')
soccer_data = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/fifa_ratings.csv')

In [12]:
print(crash_data.info())
soccer_data.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372585 entries, 0 to 372584
Data columns (total 41 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   RD_NO                          372585 non-null  object
 1   CRASH_DATE                     372585 non-null  object
 2   POSTED_SPEED_LIMIT             372585 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE         372585 non-null  object
 4   DEVICE_CONDITION               372585 non-null  object
 5   WEATHER_CONDITION              372585 non-null  object
 6   LIGHTING_CONDITION             372585 non-null  object
 7   FIRST_CRASH_TYPE               372585 non-null  object
 8   TRAFFICWAY_TYPE                372585 non-null  object
 9   LANE_CNT                       198548 non-null  float64
 10  ALIGNMENT                      372585 non-null  object
 11  ROADWAY_SURFACE_COND           372585 non-null  object
 12  ROAD_DEFECT                    372585 non-null  object
 13  REPORT_TYPE                    364011 non-null  object
 14  CRASH_TYPE                     372585 non-null  object
 15  INTERSECTION_RELATED_I         82171 non-null   object
 16  NOT_RIGHT_OF_WAY_I             17170 non-null   object
 17  HIT_AND_RUN_I                  103421 non-null  object
 18  DAMAGE                         372585 non-null  object
 19  DATE_POLICE_NOTIFIED           372585 non-null  object
 20  PRIM_CONTRIBUTORY_CAUSE        372585 non-null  object
 21  SEC_CONTRIBUTORY_CAUSE         372585 non-null  object
 22  STREET_NO                      372585 non-null  int64
 23  STREET_DIRECTION               372583 non-null  object
 24  STREET_NAME                    372584 non-null  object
 25  BEAT_OF_OCCURRENCE             372581 non-null  float64
 26  PHOTOS_TAKEN_I                 4725 non-null    object
 27  STATEMENTS_TAKEN_I             7541 non-null    object
 28  DOORING_I                      1261 non-null    object
 29  WORK_ZONE_I                    2633 non-null    object
 30  WORK_ZONE_TYPE                 2090 non-null    object
 31  WORKERS_PRESENT_I              614 non-null     object
 32  NUM_UNITS                      371186 non-null  float64
 33  MOST_SEVERE_INJURY             370426 non-null  object
 34  INJURIES_TOTAL                 370433 non-null  float64
 35  INJURIES_FATAL                 370433 non-null  float64
 36  INJURIES_INCAPACITATING        370433 non-null  float64
 37  INJURIES_NON_INCAPACITATING    370433 non-null  float64
 38  INJURIES_REPORTED_NOT_EVIDENT  370433 non-null  float64
 39  INJURIES_NO_INDICATION         370433 non-null  float64
 40  INJURIES_UNKNOWN               370433 non-null  float64
dtypes: float64(10), int64(2), object(29)
memory usage: 116.5+ MB
None

,ID,Name,Overall,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,...,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle
0,158023,L. Messi,94,84,95,70,90,86,97,93,...,94,48,22,94,94,75,96,33,28,26
1,20801,Cristiano Ronaldo,94,84,94,89,81,87,88,81,...,93,63,29,95,82,85,95,28,31,23
2,190871,Neymar Jr,92,79,87,62,84,84,96,88,...,82,56,36,89,87,81,94,27,24,33
3,192985,K. De Bruyne,91,93,82,55,92,82,86,85,...,91,76,61,87,94,79,88,68,58,51
4,183277,E. Hazard,91,81,84,61,89,80,95,83,...,80,54,41,87,89,86,91,34,27,22
5,177003,L. Modrić,91,86,72,55,93,76,90,85,...,82,62,83,79,92,82,84,60,76,73
6,176580,L. Suárez,91,77,93,77,82,88,87,86,...,85,87,41,92,84,85,85,62,45,38
7,155862,Sergio Ramos,91,66,60,91,78,66,63,74,...,59,88,90,60,63,75,82,87,92,91
8,188545,R. Lewandowski,90,62,91,85,83,89,85,77,...,84,80,39,91,77,88,86,34,42,19
9,182521,T. Kroos,90,88,76,54,92,82,81,86,...,92,60,82,79,86,73,85,72,79,69
10,182493,D. Godín,90,55,42,92,79,47,53,49,...,43,89,88,48,52,50,82,90,89,89
11,168542,David Silva,90,84,76,54,93,82,89,82,...,75,57,50,89,92,75,93,59,53,29
12,215914,N. Kanté,89,68,65,54,86,56,79,49,...,69,90,92,71,79,54,85,90,91,85
13,211110,P. Dybala,89,82,84,68,87,88,92,88,...,88,48,32,84,87,86,84,23,20,20
14,202126,H. Kane,89,75,94,85,80,84,80,78,...,85,76,35,93,80,90,89,56,36,38
15,194765,A. Griezmann,89,82,90,84,83,87,88,84,...,82,69,35,91,83,79,87,59,47,48
16,189511,Sergio Busquets,89,62,67,68,89,44,80,66,...,54,85,87,77,87,60,90,90,86,80
17,179813,E. Cavani,89,70,89,89,78,90,80,77,...,79,84,48,93,77,85,82,52,45,39
18,153079,S. Agüero,89,70,93,77,81,85,89,82,...,83,65,24,92,83,83,90,30,20,12
19,138956,G. Chiellini,89,58,33,83,59,45,58,60,...,49,92,88,28,50,50,84,93,93,90

We will begin with the Chicago traffic crashes dataset, focusing on removing columns with significant missing data.

Remove all columns with more than 5% missing data from the dataframe. (The *missingness summary* function we wrote a few exercises ago will speed this process up significantly.) Print out the columns that were removed, and the proportion of missing data for each column.

In [15]:
# answer goes here

(crash_data.isnull().sum()/crash_data.isnull().count()).sort_values(ascending=False)

WORKERS_PRESENT_I                0.998352
DOORING_I                        0.996616
WORK_ZONE_TYPE                   0.994391
WORK_ZONE_I                      0.992933
PHOTOS_TAKEN_I                   0.987318
STATEMENTS_TAKEN_I               0.979760
NOT_RIGHT_OF_WAY_I               0.953917
INTERSECTION_RELATED_I           0.779457
HIT_AND_RUN_I                    0.722423
LANE_CNT                         0.467107
REPORT_TYPE                      0.023012
MOST_SEVERE_INJURY               0.005795
INJURIES_NO_INDICATION           0.005776
INJURIES_TOTAL                   0.005776
INJURIES_FATAL                   0.005776
INJURIES_INCAPACITATING          0.005776
INJURIES_NON_INCAPACITATING      0.005776
INJURIES_REPORTED_NOT_EVIDENT    0.005776
INJURIES_UNKNOWN                 0.005776
NUM_UNITS                        0.003755
BEAT_OF_OCCURRENCE               0.000011
STREET_DIRECTION                 0.000005
STREET_NAME                      0.000003
TRAFFIC_CONTROL_DEVICE           0.000000
DEVICE_CONDITION                 0.000000
POSTED_SPEED_LIMIT               0.000000
CRASH_DATE                       0.000000
WEATHER_CONDITION                0.000000
LIGHTING_CONDITION               0.000000
FIRST_CRASH_TYPE                 0.000000
TRAFFICWAY_TYPE                  0.000000
PRIM_CONTRIBUTORY_CAUSE          0.000000
ALIGNMENT                        0.000000
ROADWAY_SURFACE_COND             0.000000
ROAD_DEFECT                      0.000000
CRASH_TYPE                       0.000000
DAMAGE                           0.000000
DATE_POLICE_NOTIFIED             0.000000
SEC_CONTRIBUTORY_CAUSE           0.000000
STREET_NO                        0.000000
RD_NO                            0.000000
dtype: float64

In [27]:
columns_to_remove =((crash_data.isnull().sum()/crash_data.isnull().count()).sort_values(ascending=False)).index[0:10]
columns_to_remove.values

array(['WORKERS_PRESENT_I', 'DOORING_I', 'WORK_ZONE_TYPE', 'WORK_ZONE_I',
       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'NOT_RIGHT_OF_WAY_I',
       'INTERSECTION_RELATED_I', 'HIT_AND_RUN_I', 'LANE_CNT'],
      dtype=object)

In [26]:
crash_data2 = crash_data.copy()
crash_data2.drop(columns=columns_to_remove, inplace=True)
print(crash_data2.info())
(crash_data2.isnull().sum()/crash_data2.isnull().count()).sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372585 entries, 0 to 372584
Data columns (total 31 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   RD_NO                          372585 non-null  object
 1   CRASH_DATE                     372585 non-null  object
 2   POSTED_SPEED_LIMIT             372585 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE         372585 non-null  object
 4   DEVICE_CONDITION               372585 non-null  object
 5   WEATHER_CONDITION              372585 non-null  object
 6   LIGHTING_CONDITION             372585 non-null  object
 7   FIRST_CRASH_TYPE               372585 non-null  object
 8   TRAFFICWAY_TYPE                372585 non-null  object
 9   ALIGNMENT                      372585 non-null  object
 10  ROADWAY_SURFACE_COND           372585 non-null  object
 11  ROAD_DEFECT                    372585 non-null  object
 12  REPORT_TYPE                    364011 non-null  object
 13  CRASH_TYPE                     372585 non-null  object
 14  DAMAGE                         372585 non-null  object
 15  DATE_POLICE_NOTIFIED           372585 non-null  object
 16  PRIM_CONTRIBUTORY_CAUSE        372585 non-null  object
 17  SEC_CONTRIBUTORY_CAUSE         372585 non-null  object
 18  STREET_NO                      372585 non-null  int64
 19  STREET_DIRECTION               372583 non-null  object
 20  STREET_NAME                    372584 non-null  object
 21  BEAT_OF_OCCURRENCE             372581 non-null  float64
 22  NUM_UNITS                      371186 non-null  float64
 23  MOST_SEVERE_INJURY             370426 non-null  object
 24  INJURIES_TOTAL                 370433 non-null  float64
 25  INJURIES_FATAL                 370433 non-null  float64
 26  INJURIES_INCAPACITATING        370433 non-null  float64
 27  INJURIES_NON_INCAPACITATING    370433 non-null  float64
 28  INJURIES_REPORTED_NOT_EVIDENT  370433 non-null  float64
 29  INJURIES_NO_INDICATION         370433 non-null  float64
 30  INJURIES_UNKNOWN               370433 non-null  float64
dtypes: float64(9), int64(2), object(20)
memory usage: 88.1+ MB
None

REPORT_TYPE                      0.023012
MOST_SEVERE_INJURY               0.005795
INJURIES_UNKNOWN                 0.005776
INJURIES_NO_INDICATION           0.005776
INJURIES_REPORTED_NOT_EVIDENT    0.005776
INJURIES_NON_INCAPACITATING      0.005776
INJURIES_INCAPACITATING          0.005776
INJURIES_FATAL                   0.005776
INJURIES_TOTAL                   0.005776
NUM_UNITS                        0.003755
BEAT_OF_OCCURRENCE               0.000011
STREET_DIRECTION                 0.000005
STREET_NAME                      0.000003
POSTED_SPEED_LIMIT               0.000000
TRAFFIC_CONTROL_DEVICE           0.000000
CRASH_DATE                       0.000000
DEVICE_CONDITION                 0.000000
WEATHER_CONDITION                0.000000
TRAFFICWAY_TYPE                  0.000000
LIGHTING_CONDITION               0.000000
FIRST_CRASH_TYPE                 0.000000
DATE_POLICE_NOTIFIED             0.000000
ALIGNMENT                        0.000000
ROADWAY_SURFACE_COND             0.000000
ROAD_DEFECT                      0.000000
CRASH_TYPE                       0.000000
DAMAGE                           0.000000
PRIM_CONTRIBUTORY_CAUSE          0.000000
SEC_CONTRIBUTORY_CAUSE           0.000000
STREET_NO                        0.000000
RD_NO                            0.000000
dtype: float64

Next, we will shift our focus to the FIFA ratings dataset and explore univariate feature selection techniques. We will treat "Overall" as the response and the other ratings as features.

Using the correlations between the response and features, identify the 5 features with the greatest univariate correlation to the response.

In [45]:
# answer goes here
soccer_data2 = soccer_data.copy()
soccer_data2.drop('ID', axis=1, inplace=True)
top_features = soccer_data2.corr()['Overall'].sort_values(ascending=False)
top_features = top_features[1:6].index
top_features

Index(['Reactions', 'Composure', 'ShortPassing', 'BallControl', 'LongPassing'], dtype='object')

Use sklearn's "SelectKBest" function to select the top 5 features using two different scoring metrics: f_regression and mutual_info_regression. Print out the top 5 columns that are selected by both. How do they compare to the ones selected by  univariate correlation?

In [72]:
# answer goes here
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression

Y = soccer_data['Overall']
X = soccer_data.select_dtypes(include='number')
X = X.drop(['ID', 'Overall'], axis=1)

k=5

kbest_fr = SelectKBest(k=k, score_func=f_regression)

kbest_mir = SelectKBest(k=k, score_func=mutual_info_regression)

In [73]:
kbest_features_fr = kbest_fr.fit_transform(X, Y)
fr_df = pd.DataFrame(kbest_features_fr, columns=X.columns[kbest_fr.get_support()])
fr_df

       ShortPassing  LongPassing  BallControl  Reactions  Composure
0                90           87           96         95         96
1                81           77           94         96         95
2                84           78           95         94         94
3                92           91           91         91         88
4                89           83           94         90         91
...             ...          ...          ...        ...        ...
16117            49           45           43         49         45
16118            43           25           40         40         42
16119            38           28           44         47         41
16120            42           32           52         21         46
16121            48           44           51         51         43

[16122 rows x 5 columns]

In [75]:
kbest_features_mir = kbest_mir.fit_transform(X, Y)
mir_df = pd.DataFrame(kbest_features_mir, columns=X.columns[kbest_mir.get_support()])
mir_df

       ShortPassing  Dribbling  BallControl  Reactions  Composure
0                90         97           96         95         96
1                81         88           94         96         95
2                84         96           95         94         94
3                92         86           91         91         88
4                89         95           94         90         91
...             ...        ...          ...        ...        ...
16117            49         42           43         49         45
16118            43         39           40         40         42
16119            38         45           44         47         41
16120            42         51           52         21         46
16121            48         43           51         51         43

[16122 rows x 5 columns]

Shifting our focus from feature selection to dimensionality reduction, perform PCA on the ratings provided, excluding "Overall". Then, answer the following questions:

- What percentage of the total variance is capture by the first component? What about the first two, or first three?
- Looking at the components themselves, how would you interpret the first two components in plain English?

In [96]:
# answer goes here

from sklearn.decomposition import PCA
pca = PCA(n_components=5)

pca.fit_transform(X)
explained_variance = pca.explained_variance_ratio_
print(explained_variance)
explained_variance[0:2].sum()

[0.39592941 0.26331948 0.08504495 0.04661899 0.02187052]

0.6592488894165687

In [109]:
#The first 2 components are a combination of features that represent 66% 
#of the overall variance in the data
pca.components_

array([[ 0.16753971,  0.31753221, -0.04533214,  0.09334034,  0.26626216,
         0.218142  ,  0.24118301,  0.20853636,  0.0726529 ,  0.15207055,
         0.13452346,  0.11866383,  0.1725207 ,  0.06026482,  0.12811109,
         0.19949202, -0.02717364,  0.02700995, -0.08284298,  0.27774746,
        -0.09316528, -0.22644143,  0.26927122,  0.20139662,  0.20247595,
         0.0872882 , -0.21224569, -0.25915266, -0.26587622],
       [ 0.20726285,  0.00929373,  0.09518487,  0.18545412,  0.07152093,
         0.1118418 ,  0.17921321,  0.18545897,  0.24964451,  0.13939431,
        -0.0040415 , -0.00493496,  0.04337464,  0.15664347,  0.02089413,
         0.13165438,  0.06666918,  0.15946712,  0.10100752,  0.14026363,
         0.26054337,  0.38264312,  0.07990143,  0.1599537 ,  0.03798383,
         0.17133159,  0.32117235,  0.3701616 ,  0.35552319],
       [-0.21556303,  0.17141729,  0.37187827, -0.00464429,  0.1655912 ,
        -0.10659998, -0.05618217, -0.00299591, -0.05337171, -0.0025544 ,
        -0.31441438, -0.26025805, -0.30522562,  0.08893786, -0.36583817,
         0.20751774,  0.06438457, -0.04349725,  0.39552562,  0.13925167,
         0.18592285, -0.05744617,  0.03633593, -0.01918247,  0.17732642,
         0.11884365, -0.0584888 , -0.09396546, -0.13122979],
       [ 0.04902523, -0.0576935 , -0.2369104 ,  0.07178438,  0.00760598,
        -0.04130173,  0.16178221,  0.30296431,  0.19060561, -0.01271742,
        -0.34075392, -0.38737785, -0.20262869, -0.09943775, -0.06330046,
        -0.01092471, -0.44946932, -0.32949785, -0.24020744,  0.05335165,
        -0.21431458,  0.01833237, -0.10435555,  0.12769326,  0.05157771,
        -0.05401018,  0.00809919,  0.05485381,  0.04766993],
       [ 0.14477818,  0.08164337,  0.01917993,  0.16532712, -0.12068922,
         0.22555027, -0.20528542, -0.40954373,  0.14813877,  0.17712584,
         0.07852252,  0.14057394, -0.09263946,  0.06851094, -0.30892102,
        -0.0703812 , -0.55981303,  0.09982656,  0.1781594 , -0.07816657,
        -0.12437802, -0.027373  ,  0.20596781,  0.13858656, -0.1828016 ,
         0.05992088,  0.00701337,  0.00235291, -0.01849753]])